﻿@model PublicCustomerInfoModel
@using Nop.Plugin.PostXCustom.Models.Public.Customers;
@using Nop.Web.Framework.UI
@using Nop.Web.Framework
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");


    string barcodeData = "000000000000";
    if (!string.IsNullOrEmpty(Model.PersonalNumber)){
        barcodeData = "0000"+ Model.PersonalNumber;
    }


}

<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>

<div class="under-Container">
    <div class="Profile_Page">
        <div class="ProductBox">
            <div class="row">
                <div class="ProductTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="Titel"><h1>@T("Account.MyAccount")</h1></div>
                </div>
            </div><!--Tittle Row-->

            <div class="row">
                <div class="ProInfo col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class=" col-xs-12 col-sm-2 col-md-3 col-lg-3"></div>

                    <div class="ProDetail col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="ProSize">
                            <div id="tabs" class="row proHeading">
                                <ul>
                                    <li class="Profile Title col-xs-12 col-sm-4 col-md-4 col-lg-4"><a href="#tabs-1">@T("Profile")</a></li>
                                    <li class="Profile Name col-xs-12 col-sm-4 col-md-4 col-lg-4"><a href="#tabs-2">@T("account.customerorders")</a></li>
										  	<li class="Profile Name col-xs-12 col-sm-4 col-md-4 col-lg-4"><a href="#tabs-3">@T("account.rewardpoints")</a></li>
                                </ul>
                                <div id="tabs-1" class="row fullProfile">
                                    @if (!string.IsNullOrEmpty(Model.PersonalPictureModel.ImageUrl) || !string.IsNullOrEmpty(Model.PictureModel.ImageUrl)) {
                                    <div class="ProPic col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                        <div class="ProImage">
                                            @if (string.IsNullOrEmpty(Model.PersonalPictureModel.ImageUrl))
                                            {
                                                <div class="picture">
                                                    <img alt="@Model.PictureModel.AlternateText" src="@Model.PictureModel.ImageUrl" title="@Model.PictureModel.Title" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="picture">
                                                    <img alt="@Model.PersonalPictureModel.AlternateText" src="@Model.PersonalPictureModel.ImageUrl" title="@Model.PersonalPictureModel.Title" />
                                                </div>
                                            }
                                        </div>
                                    </div>}
                                    <div class="Profile_Detail col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                        <ul>
                                            <li><span class="boldTitle">@Html.LabelFor(model => model.Email, new { }, ":")</span><span>@Model.Email</span></li>
                                            <li><span class="boldTitle">@T("Membership"): </span><span>@Model.PersonalNumber</span></li>
                                            <li><span class="boldTitle">@T("CustomerInfo.FullName"):</span><span>@Model.FirstName @Model.LastName</span></li>
                                            @if (Model.CompanyId > 1)
                                            {
                                                <li><span class="boldTitle">@Html.LabelFor(model => model.PersonalNumber, new { }, ":")</span>@Model.PersonalNumber<span></span></li>
                                                <li><span class="boldTitle">@Html.LabelFor(model => model.Company, new { }, ":")</span><span>@Model.Company</span></li>
                                            }
                                            
                                            <li><span class="boldTitle"><img src="@Url.Action("GenerateBacode", new { data = barcodeData, filename ="test.png"})" /></span></li>
                                            <li><span class="edit"><a href="@Url.RouteUrl("CustomerInfo")">@T("Public.Customer.Edit")</a></span><br />
                                                <span class="edit"><a href="@Url.RouteUrl("CustomerChangePassword")">@T("Account.ChangePassword")</a></span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div id="tabs-2" class="row fullOrder-Detail">
                                    @Html.Action("CustomerOrders", "PublicOrder")
                                </div>
									 	<div id="tabs-3" class="row fullOrder-Detail">
									 		@Html.Action("CustomerRewardPoints", "PublicOrder")
									 </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xs-12 col-sm-2 col-md-3 col-lg-3"></div>
                </div><!--Login-->
            </div>
        </div>
    </div>
</div>
