﻿@charset "utf-8";
/* CSS Document */
html {position: relative;z-index: 1;}
body{margin:0;padding:0;font-family: "Raleway",Arial,sans-serif;color:#363636;position: relative;z-index: -5;}
a{color:#7bbc00;}
a:hover, a:focus {text-decoration:none;outline:none;}
.row{margin:0;}
iframe#myframe1 {margin: auto;display: block;width: 100%;}
.customText{ color: #000 !important;font-weight: bold;}

/*Navigation Menu*/
.navbar-default {background-color: #fabe0e;border-color: 0;}
.navbar-default .navbar-nav > li > a {color: #fff;font-weight: 600;}
.navbar {min-height: 70px;margin-bottom: 0;border:0;}
.navbar-nav > li > a {padding: 25px 6px;}
.navbar-brand > img {display: block;position: absolute;}
.navbar-toggle {float: left;margin-top: 18px;margin-left: 25px;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color:transparent;}
.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
.navbar-default .navbar-toggle {border-color: #fff;border-radius:10px;padding: 7px;}
.navbar-toggle .icon-bar + .icon-bar {margin-top: 6px;}
.navbar-default .navbar-nav .dropdown-menu > li > a {color: #FFF;font-weight:600;}
.navbar-default .navbar-nav .dropdown-menu > li  {padding:17px 15px;border-bottom: 2px solid #fff;}
.navbar-default .navbar-nav .dropdown-menu > li:last-child  {border-bottom:0;}
.dropdown-menu{background-color:#7bbc00;margin-top: -1px !important;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {background-color:transparent;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{color:#fff;}
.caret {display:none;width: 10px;height: 10px;margin-left: 3px;vertical-align: middle;border-top: 0;border-left: 0;border-bottom: 2px solid #fff;border-right: 2px solid #fff;transform: rotate(45deg);margin-top: -7px;}
.dropdown:hover ul.dropdown-menu {display: block;}
.open > .dropdown-menu {display: none;}
.admin-header-links a.administration {font-weight: bold;}
.admin-header-links {text-align: center;}

/*banner*/
.Banner_img img {width: 100%;}
.Banner {padding: 0;}

/*prducts*/
.Titel h1 {text-align: right;font-weight: 900;font-size: 61px;color: #7bbc00;padding: 90px 45px 90px 0;}
.ProductTitle.breakfast{background-image: url(/themes/oxtheme/content/img/Breakfast.png);background-repeat:no-repeat;background-position:top left;background-size:57%;height:510px;}
.products .Product {background: #fff;padding: 10px;border: 2px solid #7bbc00;margin: 10px 0;}
.products .ProductImg {padding: 0;overflow: hidden;text-align:center;}
.products .ProductImg img {width: auto;height: 175px;}
.ProductContent .ProductName p {float: left;font-weight: 700;font-size: 25px;color: #363636;}
.ProductContent .ProductName span {float: right;font-weight: 700;color: #7bbc00;font-size: 25px;}
.ProductName {margin-top: 5px;}
.ProductName > div {padding-right: 40px;}
.ProductText {margin-top: 7px;}
.ProductText .Text p {font-size: 20.1px;text-align: justify;}
.QtyCart span input {width: 75px;border: 2px solid #7bbc00;font-size: 22px;font-weight: 700;text-align: center;}
.QtyCart span.qty::before {content: "Qty.";	margin-right: 7px;}
.QtyCart span button {font-size: 18px;font-weight: 700;color: #fff;background: #7bbc00;padding: 0px 5px 0 12px;border: 2px solid #7bbc00;float: right;}
.QtyCart span button::after{content: "AA";background-image: url(/themes/oxtheme/content/img/cart.png);width: 30px;height: 30px;background-repeat: no-repeat;background-size: 25px 21px;background-position: center;color: transparent;font-size: 23px;}
.PageNumbers {float: right;font-size: 25px;font-weight: 500;margin-top: 10px;position: relative;z-index: 999;}
.PageNumbers span a {color: #363636;}
.PageNumbers span.active a {color: #7bbc00;}
.left {margin-right: 10px;}
.right {margin-left: 10px;}
.ProductTitle.lunch {background-image:url(/themes/oxtheme/content/img/Lunch.png);background-repeat: no-repeat;background-position: top left;background-size: 57%;height: 447px;margin-top: -100px;}
.lunch .Titel h1, .Drink .Titel h1{padding-right: 0;}
.LunchBox .products .Product.top {margin-top: -100px;}
.ProductTitle.Drink {background-image:url(/themes/oxtheme/content/img/Drink.png);background-repeat: no-repeat;background-position: top left;background-size: 57%;height: 447px;margin-top: -100px;}
.Homepage .owl-theme {top: -190px;}
.products .Product.top {margin-top: -190px;}
.theme-custom {margin: 0 !important;}
.emptySpace {margin-top: -175px;}

/*footer*/
footer {background-color: #363636;margin-top: 70px;padding:35px;color:#fff;font-weight: 500;line-height: 30px;}
footer a, footer a:focus, footer a:hover{color:#fff; text-decoration:none;}
.FooterRow ul {padding: 0;}
.FooterRow ul li {display: block;}
.FooterRow ul li.contact::before{content:"Follow us";}
.FooterRow ul li span {font-size: 38px;margin-right: 18px;}
.FooterRow ul li textarea {width: 100%;margin-top: 10px;color: #363636;padding: 5px 10px;}
.FooterRow ul li input {background:#7bbc00;border:0;float:right;width: 65px;}
.FooterRow ul li.social {margin-top: 10px;}

/*NewsPage*/
.News .Titel h1 {padding: 90px 90px 90px 0;}
.ProductTitle.News{background-image:url(/themes/oxtheme/content/img/Capa_1.png);background-repeat: no-repeat;background-position:bottom left;background-size:57%;height:445px;}
.products.newsContent .Product.top {margin-top: -155px;}
.Blogpage .ProductName > div, .Newspage .ProductName > div {padding:0;}
.Blogpage .ProductText p, .Newspage .ProductText p {font-size: 16px;}
.ReadMore span button {font-size: 14px;font-weight: 700;color: #fff;background: #7bbc00;padding: 3px 18px;border: 2px solid #7bbc00;}
.Blogpage .ProductContent .ProductName p, .Newspage .ProductContent .ProductName p {color:#7bbc00;}
.Blogpage .products.newsContent1 .Product.top, .Newspage .products.newsContent1 .Product.top {margin: 10px 0}
.Blogpage .LoadMore span button, .Newspage .LoadMore span button{display:none;font-size:14px;font-weight:700;color:#fff;background:#7bbc00;padding:3px 0;border:2px solid #7bbc00;width:100%;position:relative;top: 20px;}
.Blogpage .LoadMore, .Newspage .LoadMore {padding: 10px;}

/*News Inside Page*/
.FullNews-Name p {color: #7bbc00;font-size: 50px;font-weight: 700;line-height: 58px;}
.FullNews-Name p.seasoning {font-size: 88px;}
.FullNews-Img {overflow: hidden;}
.FullNews-Name > div{padding:0;}
.FullNews .ProductText {margin-top: 7px;-moz-column-count: 2;-webkit-column-count: 2;column-count: 2;}
.FullNews-OtherOption .FullNews-moreImgs ul li {display: inline-block;margin-right: 20px;}
.FullNews-OtherOption .FullNews-moreImgs ul {padding: 0;top: 50px;position: relative;}
.FullNews-OtherOption .FullNews-OtherNeed ul{padding: 0;float: right;font-size: 32px;}
.FullNews-OtherOption .FullNews-OtherNeed ul li{display: inline-block;margin-right: 20px;}
.FullNews-OtherOption .FullNews-OtherNeed ul li a, .ForPrinting ul li a{color: #7bbc00;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need {font-size: 14px;text-align: right;top: 20px;position: relative;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li {font-weight: 300; display:block;line-height:45px;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span > span {display: block; font-weight:700;line-height: 16px;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span.ReadNow::after{content:"\f138"; font: normal normal normal 14px/1 FontAwesome;font-size:25px;color:#7bbc00;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span {display: inline-block;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span.ReadNow {position: relative;top: -14px;margin-left: 7px;}
.NewsInside .Titel h1 { padding: 30px 100px 30px 0;font-size: 55px;}

/*Promo page*/
.ProductTitle.Promo {background-image:url(/themes/oxtheme/content/img/Capa_7.png);background-repeat: no-repeat;background-position: bottom left;background-size:57%;height:445px;}
.Promopage .products .Product{padding:0}
.Promopage .products .Product.top {margin-top: -148px;}
.Promopage .ProductContent {background: #fff;}
.ProductOffer {padding: 0;}
.ProductOffer img {width: 100%;}
.PromoOffer button {font-size: 10px;font-weight: 700;color: #fff;background: #7bbc00;padding: 10px 5px 10px 12px;border: 2px solid #7bbc00;width: 100%;}
.PromoOffer > div {text-align: center;margin-top: 15px;}
.PromoOfer {width: 180px;float: right;}
.PromoOffer .ForPrinting {margin-top: 5px;}
.ForPrinting ul {padding: 0;font-size: 32px;}
.ForPrinting ul li {display: inline-block;margin:0 10px;}
.Promopage .Text {padding:28px 108px 36px 0;}
.Promopage .ProductText .Text p {font-size: 14px;}
.PromoOffer a.Read_Now {display: none;}

/*BlogInside_page*/
.BlogInside_page .FullNews-OtherOption .FullNews-OtherNeed ul.Need li span.ReadNow {top: 4px;}
.BlogInside_page .FullNews-OtherOption .FullNews-OtherNeed ul.Need li {line-height: 15px;}

/*Thanks_page*/
.ProductTitle.Thanks {background-image:url(/themes/oxtheme/content/img/Capa_13.png);background-repeat: no-repeat;background-position: top left;background-size:44%;height:395px;}
.Thanking{text-align:center;margin-top: -120px;}
.Thanking .Thanks_Content {background: #fff;}
.Thanking > .Thanks_Content > h1{font-weight: 900;font-size: 65px;color: #7bbc00;padding:30px 0 40px;}
.Thanking > .Thanks_Content > p {font-size: 19px;font-weight: 700;margin-top: 25px;}
.payment-method-info {margin:15px;border: 2px solid #7bbc00;}
.Thankspage .order-completed-continue-button {margin-top: 25px;}
.Thankspage .buttons{display: table;width: 100%;}

/*Login_page*/
.Login_Page .ProductTitle.breakfast {background-image:url(/themes/oxtheme/content/img/Capa_14.png);background-repeat: no-repeat;background-position: top left;background-size:57%;height:395px;}
.Login_Page .Login {margin-top: 75px;}
.Login_Page .Login span.Name {width: 90px;display: inline-block;text-align: right;margin-right: 30px;font-weight: 800;}
.Login_Page .Password {margin-top: 30px;}
.Login_Page .Login span input {border: 1px solid #7bbc00;width: 250px;height: 34px;padding: 0 10px;}
.Login_Page .LogButton {text-align: right;margin-top: 47px;}
.Login_Page .LogButton button {width: 250px;background: #7bbc00;color: #fff;font-weight: 800;padding: 10px 0;border: none;}
.Login_Page .LoginContent {width: 375px;}
.Login_Page .inputs.reversed {margin: 20px 0;}
.Login_Page .inputs.reversed span.forgot-password {float: right;}
.Login_Page .inputs.reversed span.forgot-password a{color: #7bbc00;font-weight: 700;}
.Login_Page .LogButton input{width: 250px;background: #7bbc00;color: #fff;font-weight: 800;padding: 10px 0;border: none;}
.Login_Page .Titel h1 {font-size: 54px;}

/*Profile_page*/
.Profile_Page .ProInfo .ProDetail, .Profile_Page .ProInfo .ProDetail .row, .Profile_Page .Profile_Detail ul {padding: 0;}
.Profile_Page .ProSize {width:550px;border: 1px solid #7bbc00;margin: auto;}
.Profile_Page .ProInfo .ProDetail .fullProfile {margin: 75px 0 40px;}
.Profile_Page .ProInfo .ProDetail .Profile {padding:5px 0;text-align: center;}
.Profile_Page .ProInfo .ProDetail .Profile button {border: 0;}
.Profile_Page .ProInfo .ProDetail .Title button {background:transparent;font-weight: 700;}
.Profile_Page .ProInfo .ProDetail .Name button {background:transparent;font-weight: 700; color:#fff}
.Profile_Page .ProPic .ProImage {text-align: center;}
.Profile_Page .Profile_Detail {margin-top: 15px;}
.Profile_Page .Profile_Detail ul li {display: block;line-height: 35px;}
.Profile_Page .Profile_Detail ul li span {font-weight:500;}
.Profile_Page .Profile_Detail ul li span.boldTitle {font-weight: 700;margin-right: 5px;}
.Profile_Page .Profile_Detail ul li span.edit {top: 22px;position: relative;}
.greenText{color: #7bbc00;}
.Profile_Page .Profile_Detail ul li span.edit{background:#7bbc00; padding:5px 10px; border-radius:4px}
.Profile_Page .Profile_Detail ul li span.edit a{color:#fff; font-size:14px}
.Profile_Page .ProInfo .ProDetail .Profile{background:#7bbc00;}
.Profile_Page .ProInfo .ProDetail .Profile a{color:#fff;}
.Profile_Page .ProInfo .ProDetail .ui-tabs-active{background:#fff;}
.Profile_Page .ProInfo .ProDetail .ui-tabs-active a{color:#363636;}
.Profile_Page .ProSize #tabs {border: 0;border-radius: 0;}
.Profile_Page .ProSize #tabs.ui-tabs .ui-tabs-nav {padding:0;border-radius: 0;border: 0;}
.Profile_Page .ProSize #tabs.ui-tabs .ui-tabs-nav li a{width:100%;font-weight: 700;font-size: 13px;}
.Profile_Page .ProInfo .ProDetail .Profile {margin: 0;border-radius: 0;border: 0;}
.Profile_Page .ProSize #tabs.ui-tabs .ui-tabs-nav li:nth-child(2) {border-left: 1px solid #fff;border-right: 1px solid #fff;}
.page.account-page.reward-points-page {padding: 15px;}
.page.account-page.reward-points-page .reward-points-overview {margin-bottom: 10px;}
.page.account-page.reward-points-page table {font-size: 13px;}

/*Order_slide*/
.Profile_Page .ProInfo .ProDetail #tabs-2 .Profile.Title{background: #7bbc00;color:#fff;}
.Profile_Page .ProInfo .ProDetail #tabs-2 .Profile.Name{ background:transparent;}
.Profile_Page .ProInfo .ProDetail #tabs-2 .Name button {color:#363636;}
.Profile_Page .ProInfo .ProDetail #tabs-2 .fullOrder-Detail {margin: 20px 0 40px;}
.Profile_Page #tabs-2 .Profile_Detail ul li span.boldTitle {font-weight:800;font-size: 14px;}
.Profile_Page #tabs-2 .Profile_Detail ul li span.SMboldTitle {font-weight:600;margin-right: 5px;}
.Profile_Page #tabs-2 .Profile_Detail ul li span {font-weight: 400;font-size: 13px;}
.Profile_Page #tabs-2 .Profile_Detail {height: 270px;overflow: auto;padding-left: 30px;margin: 50px 0 40px;}
.button-2{background: #7bbc00;border: 2px solid #7bbc00;color: #fff;width: 100px;margin-top: 10px;}
.customText{ color: #000 !important;font-weight: bold;}

/*Cart Page*/
button {background: #7bbc00;color: #fff;border: 2px solid #7bbc00;padding: 6px 40px;}
.Cart_Page .Titel h1 {padding: 90px 0 90px 0;}
.Cart_Page .Cart .heading {text-align: center;background: #7bbc00;padding: 5px 0;color: #fff;font-weight: 900;}
.Cart_Page .Cart .responsive {text-align: center;background: #7bbc00;padding: 5px 0;color: #fff;font-weight: 900;display: none;font-size: 12px;}
.Cart_Page .Cart .Content input {width: 40px;text-align: center;border: 1px solid #7bbc00;color: #363636;position: relative;z-index: 1;height: 24px;}
.Cart_Page .Cart .cartincdec {width: 78px;background: #7bbc00;position: absolute;top: 0;height: 24px;left: 0;right: 0;margin: auto;}
.Cart_Page .Cart .cartincdec .inc.buttoncart {float: left;color: #fff;font-size: 36px;position: absolute;left: 3px;top: -13px;cursor: pointer;}
.Cart_Page .Cart .cartincdec .dec.buttoncart {float: right;color: #fff;font-size: 36px;position: absolute;right: 3px;top: -16px;cursor: pointer;}
.Cart_Page .Cart .Content {border: 1px solid #7bbc00;text-align: center;color: #7bbc00;font-weight: 600;border-top: 0;}
.Cart_Page .Cart .Content .image{padding: 10px;}
.Cart_Page .Cart .Content .nameCartProduct {text-align: left;color: #363636;}
.Cart_Page .Cart .Content .cart_ProductText {margin-top: 50px;}
.Cart_Page .Cart .deleteIcon {text-align: left; font-size: 20px;}
.Cart_Page .Cart .deleteIcon a{color:#7bbc00}
.Cart_Page .Cart .responsive .Desc {text-align: left; padding:0;}
.Cart_Page .Cart .responsive .price {text-align: right; padding:0;}
.Cart_Page .CartTotel {text-align: center;font-weight: 700;padding: 0;margin-top: 50px;}
.CartTotel .Ammount{border:1px solid #7bbc00;}
.Cart_Page .CartValid .ValidName {line-height: 12px;font-weight:600;font-size: 16px;}
.Cart_Page .CartValid .ValidName p.greenText{color: #7bbc00; font-weight:normal}
.Cart_Page .CartValid .ValidText input {width: 100%;border:1px solid #7bbc00; height:36px;padding: 0 7px;}
.Cart_Page .CartValid .ValidBtn  button, .Cart_Page .DoorgaanBtn button{color: #fff;background: #7bbc00;border: 0;font-size: 13px;font-weight: 700;padding: 9px;width: 100%;}
.Cart_Page .DoorgaanBtn  {padding-left:50px;margin-top: 50px;}
.Cart_Page .CartValid .ValidName p.code {margin-top: 10px;line-height: 1;}
.Cart_Page .CartValid {margin-top: 50px;padding-left: 0;}
.Cart_Page .cart-footer {float: right;padding-right: 0;}
.Cart_Page .CartTotel > div > div {padding: 5px 0;}
.Cart_Page .CartTotel > div {padding-right:0;}
.Cart_Page .CartTotel .EarnPoints, .Cart_Page .CartTotel .RedeemedPoints, .Cart_Page .CartTotel .Total {background:#7bbc00; color:#fff;border-bottom:2px solid #7bbc00;}
.Cart_Page .remove-loyalty-button {height: 23px;}
.Cart_Page .CartTotel .RedeemedPoints_Amount .Ammount {padding: 3.5px 0 !important;}
.Cart_Page .CartTotel .Total_Amount, .Cart_Page .CartTotel .EarnPoints_Amount {margin-top: 5px;}
.Cart_Page #checkout.checkout-button {float: right;margin-top: 15px;}

.Cart_Page .CartValid .ValidBtn {padding: 0;}
.terms-of-service{ display: none;}
.Cart_Page .ValidBtn input.apply-discount-coupon-code-button {padding: 6px; margin: 0; width: 100%;font-weight: 700;}
.Cart_Page .qtyDiv {padding: 0;text-align: center;}
.Cart_Page .CartValid .message-failure {line-height: 2;display: table;position: relative;left:35px;}
.remove-loyalty-button::before{content:"\f00d";font: normal normal normal 14px/1 FontAwesome; }

/*bar-notification*/
.bar-notification {display: none;position: fixed;top: 0;left: 0;z-index: 1020;width: 100%;padding: 15px 25px 15px 10px;line-height: 16px;color: #fff;opacity: 0.95;}
.bar-notification.success {background-color: #7bbc00;}.bar-notification.error {background-color: #e4444c;}
.bar-notification.warning {background-color: #f39c12;}
.bar-notification .content {margin: 0 10px 0 0;}
.bar-notification .content a {color: #fff;text-decoration: underline;}
.bar-notification .close {position: absolute;top: 0;right: 0;width: 32px;height: 32px;margin: 7px;background: #fff url('../images/close.png') center no-repeat;cursor: pointer;}

/*Checkout Page*/
.checkout-page .order-progress ul {padding: 0 15px;; margin-top:80px}
.checkout-page .order-progress ul li{display:inline-block; margin-left:10px}
.checkout-page .order-progress ul li a {font-weight:700;}
.checkout-page .order-progress ul li.active-step  a{color: #7bbc00;}
.checkout-page .order-progress ul li.inactive-step a{color: #363636;}
.checkout-page .checkout-data .use-reward-points {margin: 15px 0;}
.checkout-page ul#payment-method-block {padding: 0;}
.checkout-page ul#payment-method-block li {display: block;}
.checkout-page ul#payment-method-block li .method-name .payment-logo, .checkout-page ul#payment-method-block li .method-name .payment-details{display: inline-block;}
.checkout-page ul#payment-method-block li .method-name .payment-details{top:15px; position:relative; margin-left:10px}
.checkout-page .section.payment-method {    padding: 15px;border: 2px solid #7bbc00;margin:5px 15px 30px;}
.checkout-page .title {padding: 0 15px;font-size: 28px;}
.checkout-page .page-title {padding: 0 15px;}
.checkout-page .page-title h1 {margin-bottom: 0;line-height: 1;margin-top: 50px;font-size: 26px;font-weight: 700;}
#shopping-cart-form .Content .cart_ProductText {margin-top: 30px;}

/*Confirm Order Page*/
.confirm-order .buttons {padding: 0 15px;margin: 10px 0;}
.button-1 {background: #7bbc00;color: #fff;border: 2px solid #7bbc00;font-weight: 700;padding: 5px 25px;}
.payment-method-info ul, .billing-info ul {padding-left: 15px;}
.payment-method-info ul li, .billing-info ul li {display: block;}
.billing-info {border: 2px solid #7bbc00;margin: 0 15px;}

/*Product-Detail_Page*/
.Product-Detail_Page .PD-Image .row > img {width: 100%;}
.Product-Detail_Page .PD-Image ul {padding: 0;}
.Product-Detail_Page .PD-Image ul li {display: inline-block;margin-right: 20px;margin-top: 20px;}
.Price{font-weight: 700;color: #7bbc00;font-size: 18px;margin: 15px 0;}
.PD-Detail h3{color:#7bbc00;font-weight: 700;margin-top: 0;}
.PD-Detail .text{padding:0;margin: 15px 0;font-size: 16px;text-align: justify;}
.PD-Detail .QtyCart span button {font-size: 14px;margin-left: 20px;float: none;padding: 0 30px;}
.PD-Detail .QtyCart span input {width: 60px;font-size: 18px;}
.PD-Detail .QtyCart span button::after {font-size: 19px;}
.PD-Detail .Review, .PD-Detail .QtyCart{margin:15px 0;}
.PD-Detail .Review span ul li, .PD-Detail .Review span{ display:inline-block;}
.PD-Detail .Review span ul li {margin: 0 1px;}
.PD-Detail .Review span ul{padding-left:2px}
.Detail_Page .add-to-cart-panel input.qty-input {height: 34px;border: 2px solid #7bbc00;text-align: center;width: 60px;font-weight: 700;font-size: 16px;}
.PD-Detail .add-to-cart .add-to-cart-panel .qty-dropdown {height: 34px;border: 1px solid #7bbc00;}
.add-to-cart .add-to-cart-panel .add-to-cart-button {margin-left: 7px;}
.yellow{color:#ffbd00;}
.gray{color:#dddddd;}
.PD-Detail .Review span ul li i {font-size: 16px;}
.PD-Detail .QtyCart {padding-left: 0;}
.Product-Detail_Page .carousel-inner {width: 815px; margin:auto;}
.Product-Detail_Page .carousel-control.left, .Product-Detail_Page .carousel-control.right{background :none;}
.Product-Detail_Page .tcb-product-slider .carousel-control {position: absolute;top: 50%;text-shadow: inherit;opacity: 1;}
.Product-Detail_Page .tcb-product-slider .carousel-control span{position: relative;top: -50%;}
.Product-Detail_Page .tcb-product-slider .carousel-control span i {color:#7bbc00;}
.Product-Detail_Page .tcb-product-item a {color: #363636;}
.Product-Detail_Page .tcb-product-item a:hover {text-decoration: none;}
.Product-Detail_Page .tcb-product-item .tcb-hline {margin: 10px 0;height: 1px;background: #ccc;}
.Product-Detail_Page .tcb-product-photo {text-align: center;}
.Product-Detail_Page .tcb-product-photo img {display: inline-block;}
.Product-Detail_Page .tcb-product-info {padding: 5px;text-align: center;font-weight: 700;}
.Product-Detail_Page .tcb-product-title h4 {margin-top: 0;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.Product-Detail_Page .tcb-product-rating {color: #acacac;}
.Product-Detail_Page .tcb-product-rating .active {color: #FFB500;}
.Product-Detail_Page .tcb-product-price {color:#7bbc00;}
#carousel-example-generic h5 {width:745px; margin: 75px auto 10px;}
.Product-Detail_Page .PD-Image ul li img {width: 69px;}


/*Product Page*/
.ProductPage .ProductTitle.lunch {background-image:none;height: 245px;}
.ProductPage .LunchBox .products .Product.top{margin:10px 0;}
.ProductPage .Titel h1 {padding: 75px 45px 75px 0;}

/*Email*/
.page.email-a-friend-page {margin: auto;width: 380px;border: 1px solid #7bbc00;padding: 15px;margin-top: 68px;}
.page.email-a-friend-page h1 {margin: 0;text-align: center;}
.page.email-a-friend-page .page-body label {display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;width: 140px;}
.page.email-a-friend-page .page-body .title h2 {font-size: 20px;text-align: center;margin: 7px 0 20px;}
.page.email-a-friend-page textarea, .page.email-a-friend-page .inputs input {width: 195px;border: 1px solid#7bbc00;padding: 5px;}
.page.email-a-friend-page .buttons {text-align: center;margin: 15px 0 0;}
.page.email-a-friend-page .inputs {margin-top: 5px;}
.page.email-a-friend-page .billing-info {padding: 10px;}

/*Order Detail Page*/
.page.order-details-page {margin-top: 80px;}
.page.order-details-page .page-title h1 {text-align: center;font-weight: 700;}
.order-details-page .billing-info {border: 2px solid #7bbc00;margin: 0 15px;padding: 10px;}
.page.order-details-page a.button-2 {padding: 3px;display: inline-block;width: 150px;text-align: center;float: right;margin-left: 7px;font-weight: 700;}
ul.order-overview-content, .order-number, .page-title {padding: 0 15px;}
ul.order-overview-content li {display:block;}
.payment-method-info {padding: 10px;}
.data-table th, .data-table td{width: 145px;display: inline-block;text-align: center;}
.order-details-page .section.totals .actions, .page.order-details-page .section.products .title {padding: 0 15px;}
.page.order-details-page a:hover {color: #fff;}
.order-details-page .Cart .Content .cart_ProductText {margin: 30px 0;}
.order-details-page .section.products .Cart .heading .name {text-align: left;padding-left: 33px;}
.order-details-page .cart-footer .col-lg-6, .order-details-page .cart-footer .col-lg-12 {padding-right: 0;}
.order-details-page .CartTotel .RedeemedPoints_Amount .Ammount {padding: 5px 0 !important;}
.order-details-page .CartTotel {margin-top: 5px;}
.order-details-page .section.totals .actions {float: right;margin-top: 5px;}

/*product-reviews-page*/
.product-reviews-page {padding: 15px;}
.product-reviews-page .page-title h1 {text-align: center;margin-top: 80px;font-weight:700;}
.product-reviews-page .page-body {width:1170px;margin: auto;}
.product-reviews-page .write-review {border: 1px solid #7bbc00;padding: 15px;margin-top: 25px;}
.product-reviews-page .write-review .title {text-align:left;font-size: 30px;margin: 0 0 15px;}
.product-reviews-page .review-rating, .product-reviews-page .inputs {margin-top: 10px;}
.product-reviews-page .inputs input.review-title, .product-reviews-page .inputs textarea {width:365px;border: 1px solid #7bbc00;padding: 5px;}
.product-reviews-page .inputs label {width: 90px;vertical-align: top;}
.product-reviews-page .review-rating label{width: 90px;}
.product-reviews-page .review-rating ul {padding-left:0;display: inline-block;}
.product-reviews-page .review-rating ul li{display: inline-block;}
.product-reviews-page .label.first, .product-reviews-page .label.last {display: none;}
.product-reviews-page .buttons {text-align: center;}
.product-reviews-page .product-review-list {border: 1px solid #7bbc00;padding: 15px;margin-top: 15px;}
.product-reviews-page .write-review form {width: 470px;margin: auto;}
.product-reviews-page .vote-options span:first-child {color: green;font-weight: 600;}
.product-reviews-page .vote-options span:last-child {color: red;font-weight: 600;}

/*Register*/
.Register .ProDetail {margin: auto;width: 485px;float: none;}
.Register .ProSize {padding: 15px; width:100%;}
.Register .ProSize .fieldset .title {font-size: 20px;text-decoration: underline;margin: 15px 0;text-align: center;}
.Register .ProSize .fieldset:first-child .form-fields .inputs:first-child label:first-child {float: left;}
.Register .ProSize .fieldset .form-fields .inputs label {width: 145px;}
.Register .ProSize .fieldset .form-fields .inputs .gender span label {width: 50px;}
.Register .ProSize .fieldset .form-fields .inputs .gender span input {width: auto;}
.Register .ProSize .fieldset .form-fields .inputs input {width: 295px;border: 1px solid #7bbc00;}
.Register .ProSize .fieldset .form-fields .inputs select {border: 1px solid #7bbc00;width: 98px;}
.Register .ProSize .fieldset .form-fields .inputs select:nth-child(3) {border-left: 0;border-right: 0;}
.Register .ProSize .fieldset .form-fields .inputs {margin: 5px 0;}
.Register .ProSize .buttons {text-align: center;margin-top: 25px;}

@media only screen and (min-width: 1px) and (max-width: 480px){

 .topic-page {padding: 10px 30px;margin-top: 0;}

/*Navigation Menu*/
.navbar-brand > img {width: 47px;}	
.navbar-brand {float: left;height: 70px;padding: 11px 0;}
.navbar-brand > img {position: relative;}
.navbar-default .navbar-collapse {background-color: #7bbc00;border: 0;}
.nav > li {border-bottom: 2px solid #FFF;}
.navbar-default .navbar-nav > .open > a {border-bottom: 2px solid #fff;}
.caret {float: right;margin-top: 7px;}
.navbar-nav {margin-bottom: 0;}
.emptySpace {margin-top: 0;}

/*prducts*/
.products.under-Container {margin: 0 10px;}
.Titel h1 {padding: 0;font-size: 25px;text-align: center;margin-top: 35px;}
.ProductTitle.breakfast, .ProductTitle.lunch, .ProductTitle.Drink, .ProductTitle.News, .ProductTitle.Promo, .Login_Page .ProductTitle.breakfast {height: auto;background: #fff;margin-top: 0;}
.ProductText, .ProductText > div, .ProductName > div, .ProductName {padding: 0;margin: 0;}
.ProductContent .ProductName span, .ProductContent .ProductName p {font-size: 14px;	margin-bottom: 5px;}
.ProductContent {padding-right: 0;}
.ProductText .Text p {font-size: 12px;}
.QtyCart span input {font-size: 14px;width: 45px;}
.QtyCart span button {font-size: 14px;padding: 0px 5px;}
.QtyCart span button::after {background-size: 19px 13px;font-size: 15.5px;}
.products .ProductImg img {width: 100%;height:auto;}
.QtyCart span.qty::before {display:none;}
.DrinkBox .products .Product.top, .LunchBox .products .Product.top, .products .Product.top {margin-top:0;}
.ProductContent .ProductName p {width: 120px;}
.Arrow {width: 29px;display: inline-block;text-align: center;height: 29px;background: #7bbc00;}
.PageNumbers {float:none;font-size: 20px;text-align: center;}
.PageNumbers span a.Arrow {color: #fff;}
.ProductBox.LunchBox, .ProductBox.DrinkBox{margin-top: 60px;}
.Homepage .owl-theme {top: 0;}
.owl-theme .owl-controls {width: 140px !important;}

/*footer*/
footer {padding:35px 0;}
.FooterRow ul li.contact::before{content:"Contact us";}
.contactus {display: none;}

/*News*/
.Blogpage .ProductBox, .Newspage .ProductBox {z-index:auto;}
.Blogpage .News .Titel h1, .Newspage .News .Titel h1 {padding: 0;margin: 30px 0;}
.Blogpage .products.newsContent .Product.top, .Newspage .products.newsContent .Product.top {margin-top:0;}
.Blogpage .ProductContent .ProductName p, .Newspage .ProductContent .ProductName p {width: 100%;margin:15px 0 4px;}
.Blogpage .ProductContent, .Newspage .ProductContent {padding: 0;}
.Blogpage .products.newsContent, .Blogpage .products.newsContent1, .Newspage .products.newsContent, .Newspage .products.newsContent1 {text-align: center;}
.Blogpage .ProductText p, .Newspage .ProductText p {font-size: 12px;}
.Blogpage .ReadMore span button, .Newspage .ReadMore span button {font-size: 12px;padding: 3px 60px;}
.Blogpage .LoadMore span button, .Newspage .LoadMore span button {display:block;}
.Blogpage .PageNumbers, .Newspage .PageNumbers{display:none;}

/*News Inside Page*/
.NewsInside .Titel h1 {padding: 0 0 20px; font-size: 45px;}
.NewsInside_page .FullNews-Img, .BlogInside_page .FullNews-Img{padding: 0;text-align: center;}
.NewsInside_page .FullNews-Img img, .BlogInside_page .FullNews-Img img{width: 100%;}
.FullNews-OtherNeed, .FullNews-Name, .NewsInside_page .FullNews-Content, .BlogInside_page .FullNews-Content {padding: 0;}
.FullNews-Name p {font-size: 18px !important;display:inline-block;line-height: 0;}
.NewsInside_page .FullNews .ProductText, .BlogInside_page .FullNews .ProductText{-moz-column-count: 1;-webkit-column-count: 1;column-count: 1;}
.FullNews-Name > div {margin: 26px 0 5px;text-align: center;}
.FullNews-OtherOption .FullNews-moreImgs ul {top: 0;display: -webkit-flex;-webkit-justify-content: center;display: flex;justify-content: center;margin: 40px 0;}
.FullNews-OtherOption .FullNews-OtherNeed ul {float:none;text-align: center;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need {text-align: center;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span {display: block;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span > span {display: inline-block;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li {line-height: 20px; margin:0}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span > span:first-child {margin-right: 8px;}
span.ReadNow {top: 5px !important;margin-left: 0 !important;background: #7bbc00;padding: 5px 0;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span.ReadNow::after{content: "READ THIS NOW";font-size: 14px;color:#fff;font-family:"Raleway",Arial,sans-serif;font-weight:700;}

/*Promo page*/
.Promopage .products .Product {margin-top: 18px !important;padding: 10px;border-width: 1px;}
.Promopage .ProductContent, .Promopage .Text {padding: 0;}
.PromoOffer > div {margin-left: auto; margin-right: auto; float:none;}
.PromoOffer a.Get_Promo {display: none;}
.PromoOfer {width: 100%;}
.PromoOffer a.Read_Now {display:block;}

/*Thanks page*/
.ProductTitle.Thanks {display: none;}
.Thanking {margin-top: 0;}
.Thanking > .Thanks_Content > h1 {font-size: 30px;padding: 30px 0 25px;}
.Thanking > .Thanks_Content > p {font-size: 12px;margin-top: 12px;}

/*Login page*/
.Login_Page .Login span.Name {display: none;}
.Login_Page .LogButton {padding-right: 0;padding-left: 0;}
.Login_Page .Password {margin-top: 10px;}
.Login_Page .LogButton {margin-top: 30px;}
.Login_Page .Titel h1 {margin: 64px 0;}
.Login_Page .Login {margin-top: 0;}
.Login_Page .Login span input{width:100%}
.Login_Page .LoginContent {width: 100%;}
.Login_Page .LogButton button {width: 100%;}

/*Profile_Page*/
.Profile_Page .Titel h1 {margin: 50px 0 30px}
.Profile_Page .ProSize {width:100%;}
.Profile_Page .ProInfo .ProDetail .fullProfile {margin: 0 auto;width: 225px;}
.Profile_Page .Profile_Detail ul li {line-height: 23px;}
.Profile_Page .Profile_Detail ul {margin-top: 20px;margin-bottom: 0;}
.Profile_Page .Profile_Detail ul li span.edit {top: 0;}
.Profile_Page .Profile_Detail ul li:last-child{margin-top:25px;text-align:center;}
.Profile_Page .ProSize #tabs.ui-tabs .ui-tabs-nav li a {font-size: 12px;padding: 0px;}
.Profile_Page .ProSize #tabs.ui-tabs .ui-tabs-nav li {border-bottom:1px solid #fff;}
.Profile_Page .ProSize #tabs.ui-tabs .ui-tabs-nav li:last-child {border-bottom:1px solid #7bbc00;}
.Profile_Page .ProSize #tabs.ui-tabs .ui-tabs-nav li:nth-child(2) {border-left:0;border-right:0;}
.Profile_Page #tabs-2 .Profile_Detail {height: 245px;}
.page.account-page.reward-points-page {padding: 7px;}
.Profile_Page .ProductBox .ProInfo {padding: 0 5px;}






/*Order_slide*/
.Profile_Page .Order_Detail .Profile_Detail ul li:last-child {margin-top:0;text-align: left;}
.Profile_Page .Order_Detail .Profile_Detail {padding-left: 15px;height: 195px;}
.Profile_Page .ProInfo .ProDetail .Order_Detail .fullOrder-Detail {margin: 0 0 20px;}
.Profile_Page .ProInfo .ProDetail .Order_Detail .Name {position:relative; bottom:0; left: 0;}
.Profile_Page .ProInfo .ProDetail .Order_Detail .Profile.Name{background:#7bbc00;}
.Profile_Page .ProInfo .ProDetail .Order_Detail .Name button {color: #fff;}
.Profile_Page .Order_Detail {padding: 0;}
.Profile_Page .Order_Detail .Profile_Detail ul li:first-child {text-align: center;margin-bottom: 28px;}

/*Cart_Page*/
.Cart_Page .Cart .Content {margin-top: 10px;border-top:1px solid;padding: 10px;}
.Cart_Page .Cart .responsive {display:block;}
.Cart_Page .Cart .heading {display:none;}
.Cart_Page .Cart .Content .image img {width: 100%;max-width: 170px;}
.Cart_Page .Cart .Content .cart_ProductText{margin-top:5px;text-align:left;padding:0;display:flex !important;flex-direction:column;display:-webkit-box;-webkit-box-orient:vertical;}
.Cart_Page .Cart .Content .nameCartProduct {font-size: 12px;font-weight: 700;margin-bottom: 15px;}
.Cart_Page .Cart .Content .Tot{text-align: right;display: block !important;order: 2;width: 100%;-webkit-box-ordinal-group: 2;}
.Cart_Page .Cart .deleteIcon {text-align: right;position: absolute;top: 30px;}
.Cart_Page .Titel h1 {padding: 10px 0 20px 0;font-size: 30px;}
.Cart_Page .Cart .responsive {padding: 7px 0;}
.Cart_Page .Cart .Content .image {max-width: 190px;padding: 0;}
.Cart_Page .CartValid .ValidName {font-size: 12px;padding-right: 0;}
.Cart_Page .CartValid .ValidBtn button{font-size: 10px;}
.Cart_Page .DoorgaanBtn button {font-size: 12px;}
.Cart_Page .CartValid .ValidText {padding: 0;}
.Cart_Page .CartValid .ValidBtn {padding-left: 0;}
.Cart_Page .CartValid .ValidText input {height: 32px;}
.Cart_Page .CartValid {margin-top: 10px;border-bottom: 1px solid #7bcc00;padding-bottom: 10px;}
.Cart_Page .CartTotel{border-top: 1px solid #7bbc00;border-bottom: 1px solid #7bbc00;padding:10px 15px;display:block;margin-top: 15px;}
.Cart, .Cart_Page .CartTotel > div, .apply {padding: 0;}
.Cart_Page .CartTotel .Total {background: transparent; color: #363636;border-bottom: 0;text-align: left;}
.CartTotel .Ammount {border: 0;text-align: right;}
.Cart_Page .DoorgaanBtn {padding-left: 15px;margin-top: 15px;}
.Cart_Page .CartDetail {display: flex !important;flex-direction: column;display: -webkit-box;-webkit-box-orient: vertical;}
.Cart_Page .Cart .Content .priceDiv {float: right;text-align: right;margin-top: 8px;display: block !important;order: 2;width: 100%;-webkit-box-ordinal-group:2;}
.Cart_Page .Cart .Content .priceDiv::before{content: 'UNIT PRICE:';font-size: 11px;text-align: left;float: left;color: #363636;font-weight: 700;}
.Cart_Page .Cart .Content .Tot::before{content: 'TOTAL PRICE:';font-size: 11px;text-align: left;float: left;color: #363636;font-weight: 700;}
.Cart_Page .Cart .cartincdec {left: 0;width: 78px;}
.Cart_Page .qtyDiv {padding-left: 0;width: 78px;margin-left: 15px;}
.Cart_Page .Cart .cartincdec .inc.buttoncart {font-size: 24px;left: 5px;top: -4px;}
.Cart_Page .Cart .cartincdec .dec.buttoncart {font-size: 26px;right: 4px;top: -8px;}
.Cart_Page .Cart .deleteIcon {width: 20px;right: 15px;padding: 0;}
.no-data {text-align: center;}
.Cart_Page .Cart .responsive .Price {color: #fff; text-align: right;padding: 0;margin: 0;font-size: 12px;}
.Cart_Page .ValidBtn input.apply-discount-coupon-code-button {font-size: 11px;}

/*checkout-page*/
.checkout-page .buttons .payment-method-next-step-button {width: 100%;margin-top: 20px;}
.checkout-page ul#payment-method-block .payment-description {word-break: break-all;}

/*order-details-page*/
.order-details-page .qtyDiv {padding: 0 15px;width: 100%;text-align: right;}


/*Product-Detail_Page*/
.PD-Detail .QtyCart span.qty::before{display:inline-block}
.PD-Detail h3 {margin-top: 40px;text-align: center;}
.PD-Detail .text {text-align: center;}
.PD-Detail .Price {text-align: center;}
.PD-Detail .QtyCart span button {padding: 0 15px;}
.PD-Detail .QtyCart {width: 255px;margin: 15px auto;}
.PD-Detail .Review {width: 250px;margin: 15px auto 0;}
.PD-Detail .Review .product-reviews-overview {display: inline-block;}
.PD-Detail .ForPrinting {width: 180px;margin: 0 auto 15px;}
.add-to-cart .add-to-cart-panel {width: 220px;margin: auto;}
.Product-Detail_Page .Detail_Page {border: 1px solid #7bbc00;display: table;padding-top: 15px;}
.Product-Detail_Page .PD-Image ul {justify-content: space-between;display: flex;width: 230px;margin: auto;}
.Product-Detail_Page .PD-Image ul li {margin:20px 0;}
.page.order-details-page {margin-top: 0;}
.page.order-details-page a.button-2 {width: 135px;}
.page.order-details-page .page-title h1 {font-size: 28px;}
.page.order-details-page .responsive {margin: 0 15px;}
.page.order-details-page .Content {margin: 0 15px !important;}
.page.order-details-page .actions {text-align: center;position: relative;top: 15px;}
.page.order-details-page .actions .re-order-button {width: 100%;}
.Product-Detail_Page .tcb-product-slider {width: 320px;overflow: hidden;margin: auto;}
.Product-Detail_Page #carousel-example-generic {width: 330px;}
.Product-Detail_Page .carousel-inner {width: 610px;margin: auto;}
.Product-Detail_Page #carousel-example-generic h5 {width: auto;text-align: center;}
.Detail_Page .add-to-cart-panel input.qty-input {width:48px;}

/*Product Page*/
.ProductPage .ProductTitle.lunch, .ProductPage .ProductBox.LunchBox, ProductPage.ProductBox.DrinkBox {margin-top: 0;height: auto;}
.ProductPage .Titel h1 {margin: 30px 0;padding:0;}

/*email*/
.page.email-a-friend-page {margin: 15px auto;width: 290px;}
.page.email-a-friend-page .page-body label {display: none;}
.page.email-a-friend-page textarea, .page.email-a-friend-page .inputs input {width: 96%;border: 1px solid#7bbc00;margin-top: 5px;}
.button-1.send-email-a-friend-button {width: 100%;}
.page.email-a-friend-page h1 {font-size: 28px;}

/*product-reviews-page*/
.product-reviews-page .page-title h1 {font-size: 22px; margin-top: 15px;}
.product-reviews-page .write-review .title {font-size: 18px; text-align:center;}
.product-reviews-page .page-body {width:100%;}
.product-reviews-page .write-review form {width: 258px;}
.product-reviews-page .inputs input.review-title, .product-reviews-page .inputs textarea {width: auto;}
.product-reviews-page .buttons .write-product-review-button {width: 100%;}

/*Register*/
.Register .ProDetail, .Register .ProSize {width: 100%;}
.Register .ProSize .fieldset .form-fields .inputs input {width: 95%;margin: 5px 0;}
.Register .ProSize .fieldset .form-fields .inputs .gender span label {display: inline-block;}
.Register .ProSize .fieldset .form-fields .inputs label {display: none;}
.Register .ProSize .fieldset .form-fields .inputs select {border: 1px solid #7bbc00;width: 31.7%;margin: 5px 0;}
.Register .ProSize .buttons .register-next-step-button {width: 100%;}
.Register .ProSize .buttons {margin-top: 10px;}

.page-body.checkout-data .enter-address .edit-address input, .page-body.checkout-data .enter-address .edit-address select {width:96% !important;}
.page-body.checkout-data .enter-address .edit-address label {width: 100% !important;text-align: center;margin-top: 5px;}


/*PwdDetail*/
.Profile_Page .PwdDetail .Profile_Detail ul li span input {width: 96% !important;}
.Profile_Page .PwdDetail .Profile_Detail ul li span.boldTitle label {width: 100% !important;text-align: center;margin-top: 6px;}
.Profile_Page .PwdDetail .Profile_Detail {margin-top: 0;}
.Profile_Page .PwdDetail .Profile_Detail ul {margin-top: 0;margin-bottom: 10px;}

}

@media only screen and (min-width: 481px) and (max-width: 767px){
 .topic-page {padding: 10px 30px;margin-top: 0;}
/*Navigation Menu*/
.navbar-brand > img {width: 47px;}	
.navbar-brand {float: left;height: 70px;padding: 11px 0;}
.navbar-brand > img {position: relative;}
.navbar-default .navbar-collapse {background-color: #7bbc00;border: 0;}
.nav > li {border-bottom: 2px solid #FFF;}
.navbar-default .navbar-nav > .open > a {border-bottom: 2px solid #fff;}
.caret {float: right;margin-top: 7px;}
.navbar-nav {margin-bottom: 0;}
.emptySpace {margin-top: 0;}
.slider-wrapper.theme-custom {max-width: 100%;}

/*prducts*/
.products.under-Container {margin: 0 10px;}
.Titel h1 {padding: 0;font-size: 25px;text-align: center;margin-top: 35px;}
.ProductTitle.breakfast, .ProductTitle.lunch, .ProductTitle.Drink, .ProductTitle.News, .ProductTitle.Promo, .Login_Page .ProductTitle.breakfast {height: auto;background: #fff;margin-top: 0;}
.ProductText, .ProductText > div, .ProductName > div, .ProductName {padding: 0;margin: 0;}
.ProductContent .ProductName span, .ProductContent .ProductName p {font-size: 14px;	margin-bottom: 5px;}
.ProductContent {padding-right: 0;}
.ProductText .Text p {font-size: 12px;}
.QtyCart span input {font-size: 14px;width: 50px;}
.QtyCart span button {font-size: 14px;padding: 0px 5px;}
.QtyCart span button::after {background-size: 19px 13px;font-size: 15.5px;}
.products .ProductImg img {width: 100%;}
.QtyCart span.qty::before {display:none;}
.DrinkBox .products .Product.top, .LunchBox .products .Product.top, .products .Product.top {margin-top:0;}
.ProductContent .ProductName p {width: 120px;}
.Arrow {width: 29px;display: inline-block;text-align: center;height: 29px;background: #7bbc00;}
.PageNumbers {float:none;font-size: 20px;text-align: center;}
.PageNumbers span a.Arrow {color: #fff;}
.ProductBox.LunchBox, .ProductBox.DrinkBox{margin-top: 60px;}
.Homepage .owl-theme {top: 0;}
.owl-theme .owl-controls {width: 140px !important;}

/*footer*/
footer {padding:35px 0;}
.FooterRow ul li.contact::before{content:"Contact us";}
.contactus {display: none;}

/*News*/
.Blogpage .ProductBox, .Newspage .ProductBox {z-index:auto;}
.Blogpage .News .Titel h1, .Newspage .News .Titel h1 {padding: 0;margin: 30px 0;}
.Blogpage .products.newsContent .Product.top, .Newspage .products.newsContent .Product.top {margin-top:0;}
.Blogpage .ProductContent .ProductName p, .Newspage .ProductContent .ProductName p {width: 100%;margin:15px 0 4px;}
.Blogpage .ProductContent, .Newspage .ProductContent {padding: 0;}
.Blogpage .products.newsContent1, .Blogpage .products.newsContent, .Newspage .products.newsContent1, .Newspage .products.newsContent {text-align: center;}
.Blogpage .ProductText p, .Newspage .ProductText p {font-size: 14px;}
.Blogpage .ReadMore span button, .Newspage .ReadMore span button {font-size: 12px;padding: 3px 60px;}
.Blogpage .products .ProductImg img, .Newspage .products .ProductImg img {width:auto;}
.Blogpage .LoadMore span button, .Newspage .LoadMore span button {display:block;}
.Blogpage .PageNumbers, .Newspage .PageNumbers{display:none;}

/*News Inside Page*/
.NewsInside .Titel h1 {padding: 0 0 20px; font-size: 45px;}
.NewsInside_page .FullNews-Img, .BlogInside_page .FullNews-Img{padding: 0;text-align: center;}
.NewsInside_page .FullNews-Img img, .BlogInside_page .FullNews-Img img{width:auto;}
.FullNews-OtherNeed, .FullNews-Name, .NewsInside_page .FullNews-Content, .BlogInside_page .FullNews-Content{padding: 0;}
.FullNews-Name p {font-size: 18px !important;display:inline-block;line-height: 0;}
.NewsInside_page .FullNews .ProductText, .BlogInside_page .FullNews .ProductText{-moz-column-count: 1;-webkit-column-count: 1;column-count: 1;}
.FullNews-Name > div {margin: 26px 0 5px;text-align: center;}
.FullNews-OtherOption .FullNews-moreImgs ul {top: 0;display: -webkit-flex;-webkit-justify-content: center;display: flex;justify-content: center;margin: 40px 0;}
.FullNews-OtherOption .FullNews-OtherNeed ul {float:none;text-align: center;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need {text-align: center;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span {display: block;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span > span {display: inline-block;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li {line-height: 20px; margin:0}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span > span:first-child {margin-right: 8px;}
span.ReadNow {top: 5px !important;margin-left: 0 !important;background: #7bbc00;padding: 5px 0;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span.ReadNow::after{content: "READ THIS NOW";font-size: 14px;color:#fff;font-family:"Raleway",Arial,sans-serif;font-weight:700;}

/*Promo page*/
.Promopage .products .Product {margin-top: 18px !important;padding: 10px;border-width: 1px;}
.Promopage .ProductContent, .Promopage .Text {padding: 0;}
.PromoOffer > div {margin-left: auto; margin-right: auto; float:none;}
.PromoOffer a.Get_Promo {display: none;}
.PromoOfer {width: 100%;}
.PromoOffer a.Read_Now {display:block;}
.ProductOffer img {width: auto;}
.ProductOffer {text-align: center;}

/*Thanks page*/
.ProductTitle.Thanks {display: none;}
.Thanking {margin-top: 0;}
.Thanking > .Thanks_Content > h1 {font-size: 29px;padding: 30px 0 25px;}
.Thanking > .Thanks_Content > p {font-size: 14px;margin-top: 14px;}

/*Login page*/
.Login_Page .Login span.Name {display: none;}
.Login_Page .LogButton {padding-right: 0;padding-left: 0;}
.Login_Page .Password {margin-top: 10px;}
.Login_Page .LogButton {margin-top: 30px;}
.Login_Page .Titel h1 {margin: 64px 0;}
.Login_Page .Login {margin-top: 0;}
.Login_Page .Login span input{width:100%}
.Login_Page .LogButton button {width: 100%;}
.Login_Page .LoginContent {margin: auto;}

/*Profile_Page*/
.Profile_Page .Titel h1 {margin: 50px 0 30px}
.Profile_Page .ProSize {width:325px;}
.Profile_Page .ProInfo .ProDetail .fullProfile {margin: 0 auto;width: 225px;}
.Profile_Page .Profile_Detail ul li {line-height: 23px;}
.Profile_Page .Profile_Detail ul {margin-top: 20px;margin-bottom: 0;}
.Profile_Page .Profile_Detail ul li span.edit {top: 0;}
.Profile_Page .Profile_Detail ul li:last-child{margin-top:25px;text-align:center;}
.Profile_Page .ProSize #tabs.ui-tabs .ui-tabs-nav li a {font-size: 12px;padding: 0px;}
.Profile_Page .ProSize #tabs.ui-tabs .ui-tabs-nav li {border-bottom:1px solid #fff;}
.Profile_Page .ProSize #tabs.ui-tabs .ui-tabs-nav li:last-child {border-bottom:1px solid #7bbc00;}
.Profile_Page .ProSize #tabs.ui-tabs .ui-tabs-nav li:nth-child(2) {border-left:0;border-right:0;}

/*Order_slide*/
.Profile_Page .Order_Detail .Profile_Detail {height: 195px;}
.Profile_Page .Order_Detail .Profile_Detail ul li:last-child {margin-top:0;text-align: left;}
.Profile_Page .ProInfo .ProDetail .fullOrder-Detail {margin: 0 0 20px;}
.Profile_Page .ProInfo .ProDetail .Order_Detail .Name {position:relative; bottom:0; left: 0;}
.Profile_Page .ProInfo .ProDetail .Order_Detail .Profile.Name{background:#7bbc00;}
.Profile_Page .ProInfo .ProDetail .Order_Detail .Name button {color: #fff;}
.Profile_Page .Order_Detail {padding: 0;}
.Profile_Page .Order_Detail .Profile_Detail ul li:first-child {text-align: center;margin-bottom: 28px;}

/*Cart_Page*/
.Cart_Page .Cart .Content {margin-top: 10px;border-top:1px solid;padding: 10px;}
.Cart_Page .Cart .responsive {display:block;}
.Cart_Page .Cart .heading {display:none;}
.Cart_Page .Cart .Content .image img {width: 100%;max-width: 170px;}
.Cart_Page .Cart .Content .cart_ProductText {margin-top:5px;text-align: left;padding: 0;}
.Cart_Page .Cart .Content .nameCartProduct {font-size: 12px;font-weight: 700;margin-bottom: 15px;}
.Cart_Page .Cart .Content .Tot{text-align: right;display: block !important;order: 2;width: 100%;-webkit-box-ordinal-group: 2;}
.Cart_Page .Cart .Content .priceDiv {float: right;text-align: right;margin-top: 3px;}
.Cart_Page .Cart .deleteIcon {text-align: right;position: absolute;top: 30px;}
.Cart_Page .Titel h1 {padding: 10px 0 20px 0;font-size: 38px;}
.Cart_Page .Cart .responsive {padding: 7px 0;}
.Cart, .Cart_Page .Cart .Content .image {padding: 0;}
.Cart_Page .CartValid .ValidName {font-size: 18px;padding-right: 0;}
.Cart_Page .CartValid .ValidBtn button{font-size: 10px;}
.Cart_Page .DoorgaanBtn button {font-size: 12px;}
.Cart_Page .CartValid .ValidText {padding: 0;}
.Cart_Page .CartValid .ValidBtn {padding-left: 0;}
.Cart_Page .CartValid .ValidText input {height: 32px;}
.Cart_Page .CartValid {margin-top: 10px;border-bottom: 1px solid #7bcc00;padding-bottom: 10px;}
.Cart_Page .CartTotel{border-top: 1px solid #7bbc00;border-bottom: 1px solid #7bbc00;padding:10px 15px;display:block;margin-top: 15px;}
.Cart_Page .CartTotel > div, .apply {padding: 0;}
.Cart_Page .CartTotel .Total {background: transparent; color: #363636;border-bottom: 0;text-align: left;}
.CartTotel .Ammount {border: 0;text-align: right;}
.Cart_Page .DoorgaanBtn {padding-left: 15px;margin-top: 15px;}
.Cart_Page .CartDetail {display: flex !important;flex-direction: column;display: -webkit-box;-webkit-box-orient: vertical;}
.Cart_Page .Cart .Content .priceDiv {float: right;text-align: right;margin-top: 8px;display: block !important;order: 2;width: 100%;-webkit-box-ordinal-group: 2;}
.Cart_Page .Cart .Content .priceDiv::before{content: 'UNIT PRICE:';font-size: 12px;text-align: left;float: left;color: #363636;font-weight: 700;}
.Cart_Page .Cart .Content .Tot::before{content: 'TOTAL PRICE:';font-size: 12px;text-align: left;float: left;color: #363636;font-weight: 700;}
.Cart_Page .qtyDiv {width: 78px;margin-left: 15px;}
.Cart_Page .Cart .deleteIcon {width: 20px;right: 15px;padding: 0;}
.Cart_Page .Cart .responsive .Price {color: #fff; text-align: right;padding: 0;margin: 0;font-size: 12px;}
.Cart_Page .ValidBtn input.apply-discount-coupon-code-button {font-size: 11px;}


/*checkout-page*/
.checkout-page .buttons .payment-method-next-step-button {width: 100%;margin-top: 20px;}
.checkout-page ul#payment-method-block .payment-description {word-break: break-all;}

/*order-details-page*/
.order-details-page .qtyDiv {padding: 0 15px;width: 100%;text-align: right;}


/*Product-Detail_Page*/
.Product-Detail_Page .tcb-product-item a {font-size: 12px;}
.PD-Detail .QtyCart span.qty::before{display:inline-block}
.PD-Detail h3 {margin-top: 40px;text-align: center;}
.PD-Detail .text {text-align: center;}
.PD-Detail .Price {text-align: center;}
.PD-Detail .QtyCart span button {padding: 0 15px;}
.PD-Detail .QtyCart {width: 255px;margin: 15px auto;}
.PD-Detail .Review {width: 160px;margin: 15px auto 0;}
.PD-Detail .ForPrinting {width: 171px;margin: 0 auto 15px;}
.add-to-cart .add-to-cart-panel {width: 220px;margin: auto;}
.Product-Detail_Page .Detail_Page {border: 1px solid #7bbc00;display: table;padding-top: 15px;}
.Product-Detail_Page .PD-Image ul {justify-content: space-between;display: flex;width: 230px;margin: auto;}
.Product-Detail_Page .PD-Image ul li {margin:20px 0;}
.Product-Detail_Page #carousel-example-generic h5 {width: 380px;}
.page.order-details-page {margin-top: 0;}
.page.order-details-page .page-title h1 {font-size: 28px;}
.page.order-details-page .responsive {margin: 0 15px;}
.page.order-details-page .Content {margin: 0 15px !important;}
.page.order-details-page .actions {text-align: center;position: relative;top: 15px;}
.page.order-details-page .actions .re-order-button {width: 100%;}
.Product-Detail_Page .tcb-product-slider {width: 430px;overflow: hidden;margin: auto;}
.Product-Detail_Page #carousel-example-generic {width: 455px;}
.Product-Detail_Page .carousel-inner {width: 565px;margin: auto;}
.Product-Detail_Page #carousel-example-generic h5 {width: auto;text-align: center;}
.Product-Detail_Page .tcb-product-slider .left span {left: -23px;}
.Detail_Page .add-to-cart-panel input.qty-input {width:50px;}

/*Product Page*/
.ProductPage .ProductTitle.lunch, .ProductPage .ProductBox.LunchBox, ProductPage.ProductBox.DrinkBox {margin-top: 0;}
.ProductPage .Titel h1 {margin: 30px 0;padding:0;}
.ProductPage .ProductTitle.lunch {height: auto;}

/*email*/
.page.email-a-friend-page {margin: 30px auto 0;width: 390px;}
.page.email-a-friend-page .page-body label {display: none;}
.page.email-a-friend-page textarea, .page.email-a-friend-page .inputs input {width: 96%;border: 1px solid#7bbc00;margin-top: 5px;}
.button-1.send-email-a-friend-button {width: 100%;}
.page.email-a-friend-page h1 {font-size: 28px;}

/*product-reviews-page*/
.product-reviews-page .page-title h1 {font-size: 28px; margin-top: 24px;}
.product-reviews-page .write-review .title {font-size: 22px;text-align: center;}
.product-reviews-page .page-body {width:100%;}
.product-reviews-page .inputs input.review-title, .product-reviews-page .inputs textarea {width: 320px;}

/*Register*/
.Register .ProDetail {width:400px;}
.Register .ProSize {width: 100%;}
.Register .ProSize .fieldset .form-fields .inputs input {width: 95%;margin: 5px 0;}
.Register .ProSize .fieldset .form-fields .inputs .gender span label {display: inline-block;}
.Register .ProSize .fieldset .form-fields .inputs label {display: none;}
.Register .ProSize .fieldset .form-fields .inputs select {border: 1px solid #7bbc00;width: 31.7%;margin: 5px 0;}
.Register .ProSize .buttons .register-next-step-button {width: 100%;}
.Register .ProSize .buttons {margin-top: 10px;}

/*PwdDetail*/
.Profile_Page .PwdDetail .Profile_Detail ul li span input {width: 96% !important;}
.Profile_Page .PwdDetail .Profile_Detail ul li span.boldTitle label {width: 100% !important;text-align: center;margin-top: 6px;}
.Profile_Page .PwdDetail .Profile_Detail {margin-top: 0;}
.Profile_Page .PwdDetail .Profile_Detail ul {margin-top: 0;margin-bottom: 10px;}


}


@media only screen and (min-width: 768px) and (max-width: 991px){

/*prducts*/
.under-Container {margin: 0 10px;}
.ProductTitle.breakfast{height: 415px;}
.ProductTitle.News{height: 290px;}
.products .Product.top {margin-top: -75px;}
.Titel h1 {font-size: 41px;padding:75px 45px 75px 0;}
.products .ProductImg img {width: 100%;}
.ProductName, .ProductText, .ProductText .Text, .ProductName > div {padding: 0;}
.ProductContent .ProductName span, .ProductContent .ProductName p {font-size: 20px;}
.ProductText .Text p {font-size:18px;}
.QtyCart span input {width: 45px;font-size: 18px;}
.QtyCart span button {font-size: 14px;padding: 0px 5px 0 7px;float: none;top: 1px;position: relative;}
.QtyCart {padding-right: 0;padding-left: 60px;}
.QtyCart span.qty::before {display:none;}
.QtyCart span button::after {background-size: 23px 18px;font-size: 20px;}
.ProductTitle.Drink, .ProductTitle.lunch {height: 400px;}
.LunchBox .products .Product.top {margin-top: -25px;}
.ProductBox.DrinkBox .products .Product.top {margin-top: -45px;}
.navbar .container, footer .container{width:765px;}
.navbar-default .navbar-nav > li > a { font-size: 13px;}
.owl-theme .owl-controls {width: 140px !important;float: right;margin-right: 13px !important;}
.slider-wrapper.theme-custom {max-width: 100%;}

/*News*/
.Blogpage .products.newsContent .Product.top, .Newspage .products.newsContent .Product.top {margin-top: -50px;}
.Blogpage .ReadMore, .Newspage .ReadMore {padding: 0;}

/*Promo page*/
.ProductTitle.Promo {height: 265px;}
.Promopage .Titel h1 {padding: 58px 45px 57px 0;}
.PromoOffer > div {margin-top: 10px;}

/*Thanks page*/
.Thanking > .Thanks_Content > h1 {font-size: 38px;padding:8px 0 18px;}
.Thanking > .Thanks_Content > p {font-size: 14px;margin-top: 15px;}
.ProductTitle.Thanks {height: 285px;}

/*Login page*/
.Login_Page .ProductTitle.breakfast {height: 225px;}

/*Profile_Page*/
.Profile_Page .Titel h1 {font-size: 56px;padding: 40px 45px 40px 0;}

/*Cart_Page*/
.Cart_Page .Cart .Content .image img {width: 100%;}
.Cart_Page .Cart .Content .cart_ProductText {margin-top: 20px;}
.Cart_Page .CartValid .ValidName {padding-right: 0;font-size: 14px;}
.Cart_Page .Titel h1 {font-size:54px;padding: 60px 0 60px 0;}

/*order-details-page*/
.order-details-page .Cart .Content .cart_ProductText {padding: 0;}

/*Product-Detail_Page*/
.PD-Detail .QtyCart {padding-left: 0;}
.PD-Detail .QtyCart span.qty::before{display:inline-block}
.Product-Detail_Page .carousel-inner {width: 560px;}
#carousel-example-generic h5 {width: 530px;}

/*Product Page*/
.ProductPage .Titel h1 {font-size: 75px;padding: 75px 45px 75px 0;}

/*product-reviews-page*/
.product-reviews-page .page-body {width:100%;}
}


@media only screen and (min-width: 992px) and (max-width: 1199px){

/*prducts*/
.under-Container {margin: 0 10px;}
.ProductTitle.News {height: 290px;}
.products .Product.top {margin-top: -75px;}
.Titel h1 {font-size: 65px;padding:75px 45px 75px 0;}
.products .ProductImg img {width: 100%;}
.ProductName, .ProductText, .ProductText .Text, .ProductName > div {padding: 0;}
.ProductContent .ProductName span, .ProductContent .ProductName p {font-size: 20px;}
.ProductText .Text p {font-size:18px;}
.QtyCart span input {width: 40px;font-size: 18px;}
.QtyCart span button {font-size: 13px;padding: 0px 5px 0 7px;float: none;top: 1px;position: relative;}
.QtyCart {padding-right: 0;padding-left: 60px;}
.QtyCart span button::after {background-size: 23px 18px;font-size: 20px;}
.LunchBox .products .Product.top {margin-top: -25px;}
.ProductBox.DrinkBox .products .Product.top {margin-top: -45px;}
.navbar .container, footer .container{width:852px;}
.owl-theme .owl-controls {width: 140px !important;float: right;margin-right: 13px !important;}
.emptySpace {margin-top: -105px;}
.slider-wrapper.theme-custom {max-width: 100%;}

/*News*/
.Blogpage .products.newsContent .Product.top, .Newspage .products.newsContent .Product.top {margin-top: -50px;}
.Blogpage .ReadMore, .Newspage .ReadMore {padding: 0;}

/*Promo page*/
.ProductTitle.Promo {height: 325px;}
.PromoOffer {padding-right: 0;}
.PromoOffer > div {margin-top: 0;}
.ForPrinting ul {font-size: 28px;}

/*Thanks page*/
.Thanking > .Thanks_Content > h1 {font-size: 54px;}
.Thanking > .Thanks_Content > p {font-size: 16px;margin-top: 18px;}

/*Profile_Page*/
.Profile_Page .Titel h1 {font-size: 65px;padding: 65px 45px 65px 0;}

/*Cart_Page*/
.Cart_Page .Cart .Content .image img {width: 100%;}
.Cart_Page .Cart .Content .cart_ProductText {margin-top: 35px;}
.Cart_Page .Titel h1 {font-size: 81px;}
.Cart_Page .CartValid .ValidName {font-size: 18px;}

/*Product Page*/
.ProductPage .Titel h1 {font-size: 75px;padding: 75px 45px 75px 0;}

/*product-reviews-page*/
.product-reviews-page .page-body {width:100%;}
}


@media only screen and (min-width: 1200px){
.container{width:825px;}
.under-Container{width:1200px; margin:auto;}
}


.Profile_Page .ProPic .pull-left { float: none !important;}
.Profile_Page .ProPic .qq-upload-button {margin: 15px auto 0;}
.Cart_Page .checkout-attributes ul.option-list li {list-style: none;}


.page-body.checkout-data form.shippingAddressForm {border: 2px solid #7ccb00;padding: 15px;margin: 15px;}
.page-body.checkout-data .shipping-addresses .section.new-shipping-address .title {font-size: 22px;margin: 0 0 10px;padding: 0;}
.page-body.checkout-data .enter-address .edit-address label {width: 120px;}
.page-body.checkout-data .enter-address .edit-address input, .page-body.checkout-data .enter-address .edit-address select {width: 280px;border: 1px solid #7ccb00;}
.page-body.checkout-data form.shippingAddressForm .buttons input {width: 120px;}

.Profile_Page .PwdDetail .Profile_Detail ul li {line-height: 20px;}
.Profile_Page .PwdDetail .Profile_Detail ul li span.boldTitle label {width: 130px;}
.Profile_Page .PwdDetail .Profile_Detail ul li span input {border: 1px solid #7bbc00;width: 365px;}
.Profile_Page .PwdDetail .Profile_Detail ul li span input.save-customer-info-button {width: auto;}
.Profile_Page .PwdDetail .Profile_Detail ul li span.edit {margin: auto;display: table;top: 0;}
.Profile_Page .PwdDetail .Profile_Detail ul li span.edit {margin-top: 12px !important;}

.topic-page {padding: 30px;margin-top: 15px;}

.message-error {color:red;}



/*Puneet-Custom*/
.SubCatDetail {margin: auto;width: 1282px;}
.subCatTab {list-style:none;padding:2px;}
.SubCatDetail ul {width:1472px;}
.SubCatDetail ul li {display: block;line-height: 35px;border:1px solid #fff;}
.SubCatDetail ul li button{width:100%; padding:5px 0;}
.SubCatDetail ul li span {font-weight:500;}
.SubCatDetail ul li span.boldTitle {font-weight: 700;margin-right: 5px;}
.SubCatDetail ul li span.edit {top: 22px;position: relative;}

.hometabsep {	height:291px;}





@media only screen and (min-width: 0px) and (max-width: 768px) {
	.SubCatDetail {margin: auto;width: 100%;}
.subCatTab {list-style:none;padding:2px;}
.SubCatDetail ul {width:100%;float: left;margin: 10% 0 auto;top: 13%;z-index: 9999;bottom: 0;position:relative;}
.SubCatDetail ul li {display: block;line-height: 35px;border:1px solid #fff;}
.SubCatDetail ul li button{width:100%;}
.SubCatDetail ul li span {font-weight:500;}
.SubCatDetail ul li span.boldTitle {font-weight: 700;margin-right: 5px;}
.SubCatDetail ul li span.edit {top: 22px;position: relative;}

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.QtyCart span button {float:right;}
.SubCatDetail {margin: auto;width: 96%;position: relative;left: 2%;}

}
	@media only screen and (min-width: 768px) and (max-width: 991px) {
.QtyCart span button {float:right;}
.SubCatDetail {margin: auto;width: 96%;position: relative;left: 2%;}

}

@media only screen and (min-width: 991px) and (max-width: 1200px)  {
.SubCatDetail ul li button {padding:5px 0px;}
.QtyCart span button {float:right;}
.SubCatDetail {width: 90%;
position: relative !important;
left: 5%;
right: 0;}
	  .SubCatDetail ul li {display: block;line-height: 35px;border:1px solid #fff; font-size:10px;}
.subCatTab {list-style:none;padding:2px;}
.SubCatDetail ul {width:100%;}
.SubCatDetail ul li {display: block;line-height: 35px;border:1px solid #fff;}
.SubCatDetail ul li button{width:100%;}
.SubCatDetail ul li span {font-weight:500;}
.SubCatDetail ul li span.boldTitle {font-weight: 700;margin-right: 5px;}
.SubCatDetail ul li span.edit {top: 22px;position: relative;}

}