﻿@charset "utf-8";
/* CSS Document */

body{margin:0;padding:0;font-family: "Raleway",Arial,sans-serif;color:#363636;position: relative;z-index: -5;}
a:focus{outline:none;}
a:hover, a:focus {text-decoration:none;}
.row{margin:0;}
/*Navigation Menu*/
.navbar-default {background-color: #fabe0e;border-color: 0;}
.navbar-default .navbar-nav > li > a {color: #fff;font-weight: 600;}
.navbar {min-height: 70px;margin-bottom: 0;border:0;}
.navbar-nav > li > a {padding: 25px 15px;}
.navbar-brand > img {display: block;position: absolute;}
.navbar-toggle {float: left;margin-top: 18px;margin-left: 25px;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color:transparent;}
.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
.navbar-default .navbar-toggle {border-color: #fff;border-radius:10px;padding: 7px;}
.navbar-toggle .icon-bar + .icon-bar {margin-top: 6px;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {color: #FFF;font-weight:600;}
.navbar-default .navbar-nav .open .dropdown-menu > li  {padding:17px 15px;border-bottom: 2px solid #fff;}
.navbar-default .navbar-nav .open .dropdown-menu > li:last-child  {border-bottom:0;}
.dropdown-menu{background-color:#7bbc00;margin-top: -1px !important;}
element {}.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {background-color:transparent;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{color:#fff;}
.caret {display:none;width: 10px;height: 10px;margin-left: 3px;vertical-align: middle;border-top: 0;border-left: 0;border-bottom: 2px solid #fff;border-right: 2px solid #fff;transform: rotate(45deg);margin-top: -7px;}
/*banner*/
.Banner_img img {width: 100%;}
.Banner {padding: 0;}
/*prducts*/
.Titel h1 {text-align: right;font-weight: 900;font-size: 81px;color: #7bbc00;padding: 90px 45px 90px 0;}
.ProductTitle.breakfast {background-image: url(/postx/themes/oxtheme/content/img/Breakfast.png);background-repeat: no-repeat;background-position: bottom left;background-size:57%;height:510px;}
.products .Product {background: #fff;padding: 10px;border: 2px solid #7bbc00;margin: 10px 0;}
.products .Product.top {margin-top: -190px;}
.products .ProductImg {padding: 0;overflow: hidden;}
.ProductContent .ProductName p {float: left;font-weight: 700;font-size: 25px;color: #363636;}
.ProductContent .ProductName span {float: right;font-weight: 700;color: #7bbc00;font-size: 25px;}
.ProductName {margin-top: 5px;}
.ProductName > div {padding-right: 40px;}
.ProductText {margin-top: 7px;}
.ProductText .Text p {font-size: 20.1px;text-align: justify;}
.QtyCart span input {width: 75px;border: 2px solid #7bbc00;font-size: 22px;font-weight: 700;text-align: center;}
.QtyCart span.qty::before {content: "Qty.";	margin-right: 7px;}
.QtyCart span button {font-size: 18px;font-weight: 700;color: #fff;background: #7bbc00;padding: 0px 5px 0 12px;border: 2px solid #7bbc00;float: right;}
.QtyCart span button::after{content: "AA";background-image: url(/postx/themes/oxtheme/content/img/cart.png);width: 30px;height: 30px;background-repeat: no-repeat;background-size: 25px 21px;background-position: center;color: transparent;font-size: 23px;}
.PageNumbers {float: right;font-size: 25px;font-weight: 500;margin-top: 10px;position: relative;z-index: 999;}
.PageNumbers span a {color: #363636;}
.PageNumbers span.active a {color: #7bbc00;}
.left {margin-right: 10px;}
.right {margin-left: 10px;}
.ProductTitle.lunch {background-image:url(/postx/themes/oxtheme/content/img/Lunch.png);background-repeat: no-repeat;background-position: bottom left;background-size: 57%;height: 447px;margin-top:-25px;}
.lunch .Titel h1, .Drink .Titel h1{padding-right: 0;}
.LunchBox .products .Product.top {margin-top: -100px;}
.ProductTitle.Drink {background-image:url(/postx/themes/oxtheme/content/img/Drink.png);background-repeat: no-repeat;background-position: bottom left;background-size: 57%;height: 447px;margin-top:-25px;}
/*footer*/
footer {background-color: #363636;margin-top: 70px;padding:35px;color:#fff;font-weight: 500;line-height: 30px;}
footer a, footer a:focus, footer a:hover{color:#fff; text-decoration:none;}
.FooterRow ul {padding: 0;}
.FooterRow ul li {display: block;}
.FooterRow ul li.contact::before{content:"Follow us";}
.FooterRow ul li span {font-size: 38px;margin-right: 18px;}
.FooterRow ul li textarea {width: 100%;margin-top: 10px;color: #363636;padding: 5px 10px;}
.FooterRow ul li input {background:#7bbc00;border:0;float:right;width: 65px;}
.FooterRow ul li.social {margin-top: 10px;}
/*NewsPage*/
.News .Titel h1 {padding: 90px 90px 90px 0;}
.ProductTitle.News {background-image:url(/postx/themes/oxtheme/content/img/Capa_1.png);background-repeat: no-repeat;background-position: bottom left;background-size:57%;height:445px;}
.products.newsContent .Product.top {margin-top: -155px;}
.Blogpage .ProductName > div, .Newspage .ProductName > div {padding:0;}
.Blogpage .ProductText p, .Newspage .ProductText p {font-size: 16px;}
.ReadMore span button {font-size: 14px;font-weight: 700;color: #fff;background: #7bbc00;padding: 3px 18px;border: 2px solid #7bbc00;}
.Blogpage .ProductContent .ProductName p, .Newspage .ProductContent .ProductName p {color:#7bbc00;}
.Blogpage .products.newsContent1 .Product.top, .Newspage .products.newsContent1 .Product.top {margin: 10px 0}
.Blogpage .LoadMore span button, .Newspage .LoadMore span button{display:none;font-size:14px;font-weight:700;color:#fff;background:#7bbc00;padding:3px 0;border:2px solid #7bbc00;width:100%;position:relative;top: 20px;}
.Blogpage .LoadMore, .Newspage .LoadMore {padding: 10px;}
/*News Inside Page*/
.FullNews-Name p {color: #7bbc00;font-size: 50px;font-weight: 700;line-height: 58px;}
.FullNews-Name p.seasoning {font-size: 88px;}
.FullNews-Img {overflow: hidden;}
.FullNews-Name > div{padding:0;}
.FullNews .ProductText {margin-top: 7px;-moz-column-count: 2;-webkit-column-count: 2;column-count: 2;}
.FullNews-OtherOption .FullNews-moreImgs ul li {display: inline-block;margin-right: 20px;}
.FullNews-OtherOption .FullNews-moreImgs ul {padding: 0;top: 50px;position: relative;}
.FullNews-OtherOption .FullNews-OtherNeed ul{padding: 0;float: right;font-size: 32px;}
.FullNews-OtherOption .FullNews-OtherNeed ul li{display: inline-block;margin-right: 20px;}
.FullNews-OtherOption .FullNews-OtherNeed ul li a, .ForPrinting ul li a{color: #7bbc00;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need {font-size: 14px;text-align: right;top: 20px;position: relative;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li {font-weight: 300; display:block;line-height:45px;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span > span {display: block; font-weight:700;line-height: 16px;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span.ReadNow::after{content:"\f138"; font: normal normal normal 14px/1 FontAwesome;font-size:25px;color:#7bbc00;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span {display: inline-block;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span.ReadNow {position: relative;top: -14px;margin-left: 7px;}
.NewsInside .Titel h1 { padding: 30px 100px 30px 0;font-size: 55px;}
/*Promo page*/
.ProductTitle.Promo {background-image:url(/postx/themes/oxtheme/content/img/Capa_7.png);background-repeat: no-repeat;background-position: bottom left;background-size:57%;height:445px;}
.Promopage .products .Product{padding:0}
.Promopage .products .Product.top {margin-top: -148px;}
.Promopage .ProductContent {background: #fff;}
.ProductOffer {padding: 0;}
.ProductOffer img {width: 100%;}
.PromoOffer button {font-size: 10px;font-weight: 700;color: #fff;background: #7bbc00;padding: 10px 5px 10px 12px;border: 2px solid #7bbc00;width: 100%;}
.PromoOffer > div {text-align: center;margin-top: 15px;}
.PromoOfer {width: 180px;float: right;}
.PromoOffer .ForPrinting {margin-top: 5px;}
.ForPrinting ul {adding: 0;font-size: 32px;}
.ForPrinting ul li {display: inline-block;margin:0 10px;}
.Promopage .Text {padding:28px 108px 36px 0;}
.Promopage .ProductText .Text p {font-size: 14px;}
.PromoOffer a.Read_Now {display: none;}
/*BlogInside_page*/
.BlogInside_page .FullNews-OtherOption .FullNews-OtherNeed ul.Need li span.ReadNow {top: 4px;}
.BlogInside_page .FullNews-OtherOption .FullNews-OtherNeed ul.Need li {line-height: 15px;}
/*Thanks_page*/
.ProductTitle.Thanks {background-image:url(/postx/themes/oxtheme/content/img/Capa_13.png);background-repeat: no-repeat;background-position: top left;background-size:44%;height:395px;}
.Thanking{text-align:center;margin-top: -120px;}
.Thanking .Thanks_Content {background: #fff;}
.Thanking > .Thanks_Content > h1{font-weight: 900;font-size: 65px;color: #7bbc00;padding:30px 0 40px;}
.Thanking > .Thanks_Content > p {font-size: 19px;font-weight: 700;margin-top: 25px;}
/*Login_page*/
.Login_Page .ProductTitle.breakfast {background-image:url(/postx/themes/oxtheme/content/img/Capa_14.png);background-repeat: no-repeat;background-position: top left;background-size:57%;height:395px;}
.Login_Page .Login {margin-top: 75px;}
.Login_Page .Login span.Name {width: 95px;display: inline-block;text-align: right;margin-right: 30px;font-weight: 800;}
.Login_Page .Password {margin-top: 30px;}
.Login_Page .Login span input {border: 1px solid #7bbc00;width: 250px;height: 34px;padding: 0 10px;}
.Login_Page .LogButton {text-align: right;margin-top: 47px;}
.Login_Page .LogButton button {width: 250px;background: #7bbc00;color: #fff;font-weight: 800;padding: 10px 0;border: none;}
.Login_Page .LoginContent {width: 375px;}









@media only screen and (min-width: 1px) and (max-width: 480px){
/*Navigation Menu*/
.navbar-brand > img {width: 47px;}	
.navbar-brand {float: left;height: 70px;padding: 11px 0;}
.navbar-brand > img {position: relative;}
.navbar-default .navbar-collapse {background-color: #7bbc00;border: 0;}
.nav > li {border-bottom: 2px solid #FFF;}
.navbar-default .navbar-nav > .open > a {border-bottom: 2px solid #fff;}
.caret {float: right;margin-top: 7px;}
.navbar-nav {margin-bottom: 0;}
/*prducts*/
.products.under-Container {margin: 0 10px;}
.Titel h1 {padding: 0;font-size: 25px;text-align: center;margin-top: 35px;}
.ProductTitle.breakfast, .ProductTitle.lunch, .ProductTitle.Drink, .ProductTitle.News, .ProductTitle.Promo, .Login_Page .ProductTitle.breakfast {height: auto;background: #fff;}
.ProductText, .ProductText > div, .ProductName > div, .ProductName {padding: 0;margin: 0;}
.ProductContent .ProductName span, .ProductContent .ProductName p {font-size: 14px;	margin-bottom: 5px;}
.ProductContent {padding-right: 0;}
.ProductText .Text p {font-size: 12px;}
.QtyCart span input {font-size: 14px;width: 50px;}
.QtyCart span button {font-size: 14px;padding: 0px 5px;}
.QtyCart span button::after {background-size: 19px 13px;font-size: 15.5px;}
.products .ProductImg img {width: 100%;}
.QtyCart span.qty::before {display:none;}
.DrinkBox .products .Product.top, .LunchBox .products .Product.top, .products .Product.top {margin-top:0;}
.ProductContent .ProductName p {width: 120px;}
.Arrow {width: 29px;display: inline-block;text-align: center;height: 29px;background: #7bbc00;}
.PageNumbers {float:none;font-size: 20px;text-align: center;}
.PageNumbers span a.Arrow {color: #fff;}
.ProductBox.LunchBox, .ProductBox.DrinkBox{margin-top: 60px;}
/*footer*/
footer {padding:35px 0;}
.FooterRow ul li.contact::before{content:"Contact us";}
.contactus {display: none;}
/*News*/
.Blogpage .ProductBox, .Newspage .ProductBox {z-index:auto;}
.Blogpage .News .Titel h1, .Newspage .News .Titel h1 {padding: 0;margin: 30px 0;}
.Blogpage .products.newsContent .Product.top, .Newspage .products.newsContent .Product.top {margin-top:0;}
.Blogpage .ProductContent .ProductName p, .Newspage .ProductContent .ProductName p {width: 100%;margin:15px 0 4px;}
.Blogpage .ProductContent, .Newspage .ProductContent {padding: 0;}
.Blogpage .products.newsContent, .Blogpage .products.newsContent1, .Newspage .products.newsContent, .Newspage .products.newsContent1 {text-align: center;}
.Blogpage .ProductText p, .Newspage .ProductText p {font-size: 12px;}
.Blogpage .ReadMore span button, .Newspage .ReadMore span button {font-size: 12px;padding: 3px 60px;}
.Blogpage .LoadMore span button, .Newspage .LoadMore span button {display:block;}
.Blogpage .PageNumbers, .Newspage .PageNumbers{display:none;}
/*News Inside Page*/
.NewsInside .Titel h1 {padding: 0 0 20px; font-size: 45px;}
.NewsInside_page .FullNews-Img, .BlogInside_page .FullNews-Img{padding: 0;text-align: center;}
.NewsInside_page .FullNews-Img img, .BlogInside_page .FullNews-Img img{width: 100%;}
.FullNews-OtherNeed, .FullNews-Name, .NewsInside_page .FullNews-Content, .BlogInside_page .FullNews-Content {padding: 0;}
.FullNews-Name p {font-size: 18px !important;display:inline-block;line-height: 0;}
.NewsInside_page .FullNews .ProductText, .BlogInside_page .FullNews .ProductText{-moz-column-count: 1;-webkit-column-count: 1;column-count: 1;}
.FullNews-Name > div {margin: 26px 0 5px;text-align: center;}
.FullNews-OtherOption .FullNews-moreImgs ul {top: 0;display: -webkit-flex;-webkit-justify-content: center;display: flex;justify-content: center;margin: 40px 0;}
.FullNews-OtherOption .FullNews-OtherNeed ul {float:none;text-align: center;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need {text-align: center;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span {display: block;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span > span {display: inline-block;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li {line-height: 20px; margin:0}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span > span:first-child {margin-right: 8px;}
span.ReadNow {top: 5px !important;margin-left: 0 !important;background: #7bbc00;padding: 5px 0;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span.ReadNow::after{content: "READ THIS NOW";font-size: 14px;color:#fff;font-family:"Raleway",Arial,sans-serif;font-weight:700;}
/*Promo page*/
.Promopage .products .Product {margin-top: 18px !important;padding: 10px;border-width: 1px;}
.Promopage .ProductContent, .Promopage .Text {padding: 0;}
.PromoOffer > div {margin-left: auto; margin-right: auto; float:none;}
.PromoOffer a.Get_Promo {display: none;}
.PromoOfer {width: 100%;}
.PromoOffer a.Read_Now {display:block;}
/*Thanks page*/
.ProductTitle.Thanks {display: none;}
.Thanking {margin-top: 0;}
.Thanking > .Thanks_Content > h1 {font-size: 30px;padding: 30px 0 25px;}
.Thanking > .Thanks_Content > p {font-size: 12px;margin-top: 12px;}
/*Login page*/
.Login_Page .Login span.Name {display: none;}
.Login_Page .LogButton {padding-right: 0;padding-left: 0;}
.Login_Page .Password {margin-top: 10px;}
.Login_Page .LogButton {margin-top: 30px;}
.Login_Page .Titel h1 {margin: 64px 0;}
.Login_Page .Login {margin-top: 0;}
.Login_Page .Login span input{width:100%}
.Login_Page .LoginContent {width: 100%;}
.Login_Page .LogButton button {width: 100%;}
}
@media only screen and (min-width: 481px) and (max-width: 767px){
/*Navigation Menu*/
.navbar-brand > img {width: 47px;}	
.navbar-brand {float: left;height: 70px;padding: 11px 0;}
.navbar-brand > img {position: relative;}
.navbar-default .navbar-collapse {background-color: #7bbc00;border: 0;}
.nav > li {border-bottom: 2px solid #FFF;}
.navbar-default .navbar-nav > .open > a {border-bottom: 2px solid #fff;}
.caret {float: right;margin-top: 7px;}
.navbar-nav {margin-bottom: 0;}
/*prducts*/
.products.under-Container {margin: 0 10px;}
.Titel h1 {padding: 0;font-size: 40px;text-align: center;margin-top: 35px;}
.ProductTitle.breakfast, .ProductTitle.lunch, .ProductTitle.Drink, .ProductTitle.News, .ProductTitle.Promo, .Login_Page .ProductTitle.breakfast{height: auto;background: #fff;}
.ProductText, .ProductText > div, .ProductName > div, .ProductName {padding: 0;margin: 0;}
.ProductContent .ProductName span, .ProductContent .ProductName p {font-size: 18px;	margin-bottom: 5px;}
.ProductContent {padding-right: 0;}
.ProductText .Text p {font-size: 16px;}
.QtyCart span input {font-size: 14px;width: 50px;}
.QtyCart span button {font-size: 14px;padding: 0px 5px;}
.QtyCart span button::after {background-size: 19px 13px;font-size: 15.5px;}
.products .ProductImg img {width: 100%;}
.QtyCart span.qty::before {display:none;}
.DrinkBox .products .Product.top, .LunchBox .products .Product.top, .products .Product.top {margin-top:0;}
.ProductContent .ProductName p {width:210px;}
.Arrow {width: 29px;display: inline-block;text-align: center;height: 29px;background: #7bbc00;}
.PageNumbers {float:none;font-size: 20px;text-align: center;}
.PageNumbers span a.Arrow {color: #fff;}
.ProductBox.LunchBox, .ProductBox.DrinkBox{margin-top: 60px;}
/*footer*/
footer {padding:35px 0;}
.FooterRow ul li.contact::before{content:"Contact us";}
.contactus {display: none;}
/*News*/
.Blogpage .ProductBox, .Newspage .ProductBox {z-index:auto;}
.Blogpage .News .Titel h1, .Newspage .News .Titel h1 {padding: 0;margin: 30px 0;}
.Blogpage .products.newsContent .Product.top, .Newspage .products.newsContent .Product.top {margin-top:0;}
.Blogpage .ProductContent .ProductName p, .Newspage .ProductContent .ProductName p {width: 100%;margin:15px 0 4px;}
.Blogpage .ProductContent, .Newspage .ProductContent {padding: 0;}
.Blogpage .products.newsContent1, .Blogpage .products.newsContent, .Newspage .products.newsContent1, .Newspage .products.newsContent {text-align: center;}
.Blogpage .ProductText p, .Newspage .ProductText p {font-size: 14px;}
.Blogpage .ReadMore span button, .Newspage .ReadMore span button {font-size: 12px;padding: 3px 60px;}
.Blogpage .products .ProductImg img, .Newspage .products .ProductImg img {width:auto;}
.Blogpage .LoadMore span button, .Newspage .LoadMore span button {display:block;}
.Blogpage .PageNumbers, .Newspage .PageNumbers{display:none;}
/*News Inside Page*/
.NewsInside .Titel h1 {padding: 0 0 20px; font-size: 45px;}
.NewsInside_page .FullNews-Img, .BlogInside_page .FullNews-Img{padding: 0;text-align: center;}
.NewsInside_page .FullNews-Img img, .BlogInside_page .FullNews-Img img{width:auto;}
.FullNews-OtherNeed, .FullNews-Name, .NewsInside_page .FullNews-Content, .BlogInside_page .FullNews-Content{padding: 0;}
.FullNews-Name p {font-size: 18px !important;display:inline-block;line-height: 0;}
.NewsInside_page .FullNews .ProductText, .BlogInside_page .FullNews .ProductText{-moz-column-count: 1;-webkit-column-count: 1;column-count: 1;}
.FullNews-Name > div {margin: 26px 0 5px;text-align: center;}
.FullNews-OtherOption .FullNews-moreImgs ul {top: 0;display: -webkit-flex;-webkit-justify-content: center;display: flex;justify-content: center;margin: 40px 0;}
.FullNews-OtherOption .FullNews-OtherNeed ul {float:none;text-align: center;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need {text-align: center;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span {display: block;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span > span {display: inline-block;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li {line-height: 20px; margin:0}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span > span:first-child {margin-right: 8px;}
span.ReadNow {top: 5px !important;margin-left: 0 !important;background: #7bbc00;padding: 5px 0;}
.FullNews-OtherOption .FullNews-OtherNeed ul.Need li span.ReadNow::after{content: "READ THIS NOW";font-size: 14px;color:#fff;font-family:"Raleway",Arial,sans-serif;font-weight:700;}
/*Promo page*/
.Promopage .products .Product {margin-top: 18px !important;padding: 10px;border-width: 1px;}
.Promopage .ProductContent, .Promopage .Text {padding: 0;}
.PromoOffer > div {margin-left: auto; margin-right: auto; float:none;}
.PromoOffer a.Get_Promo {display: none;}
.PromoOfer {width: 100%;}
.PromoOffer a.Read_Now {display:block;}
.ProductOffer img {width: auto;}
.ProductOffer {text-align: center;}
/*Thanks page*/
.ProductTitle.Thanks {display: none;}
.Thanking {margin-top: 0;}
.Thanking > .Thanks_Content > h1 {font-size: 29px;padding: 30px 0 25px;}
.Thanking > .Thanks_Content > p {font-size: 14px;margin-top: 14px;}
/*Login page*/
.Login_Page .Login span.Name {display: none;}
.Login_Page .LogButton {padding-right: 0;padding-left: 0;}
.Login_Page .Password {margin-top: 10px;}
.Login_Page .LogButton {margin-top: 30px;}
.Login_Page .Titel h1 {margin: 64px 0;}
.Login_Page .Login {margin-top: 0;}
.Login_Page .Login span input{width:100%}
.Login_Page .LogButton button {width: 100%;}
.Login_Page .LoginContent {margin: auto;}


}
@media only screen and (min-width: 768px) and (max-width: 991px){
/*prducts*/
.under-Container {margin: 0 10px;}
.ProductTitle.breakfast, .ProductTitle.News{height: 290px;}
.products .Product.top {margin-top: -75px;}
.Titel h1 {font-size: 41px;padding:75px 45px 75px 0;}
.products .ProductImg img {width: 100%;}
.ProductName, .ProductText, .ProductText .Text, .ProductName > div {padding: 0;}
.ProductContent .ProductName span, .ProductContent .ProductName p {font-size: 20px;}
.ProductText .Text p {font-size:18px;}
.QtyCart span input {width: 45px;font-size: 18px;}
.QtyCart span button {font-size: 14px;padding: 0px 5px 0 7px;float: none;top: 1px;position: relative;}
.QtyCart {padding-right: 0;padding-left: 60px;}
.QtyCart span.qty::before {display:none;}
.QtyCart span button::after {background-size: 23px 18px;font-size: 20px;}
.ProductTitle.Drink, .ProductTitle.lunch {height: 250px;}
.LunchBox .products .Product.top {margin-top: -25px;}
.ProductBox.DrinkBox .products .Product.top {margin-top: -45px;}
.navbar .container, footer .container{width:640px;}
/*News*/
.Blogpage .products.newsContent .Product.top, .Newspage .products.newsContent .Product.top {margin-top: -50px;}
.Blogpage .ReadMore, .Newspage .ReadMore {padding: 0;}
/*Promo page*/
.ProductTitle.Promo {height: 265px;}
.Promopage .Titel h1 {padding: 58px 45px 57px 0;}
.PromoOffer > div {margin-top: 10px;}
/*Thanks page*/
.Thanking > .Thanks_Content > h1 {font-size: 38px;padding:8px 0 18px;}
.Thanking > .Thanks_Content > p {font-size: 14px;margin-top: 15px;}
.ProductTitle.Thanks {height: 285px;}
/*Login page*/
.Login_Page .ProductTitle.breakfast {height: 225px;}

	
	
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
/*prducts*/
.under-Container {margin: 0 10px;}
.ProductTitle.breakfast, .ProductTitle.News{height: 290px;}
.products .Product.top {margin-top: -75px;}
.Titel h1 {font-size: 41px;padding:75px 45px 75px 0;}
.products .ProductImg img {width: 100%;}
.ProductName, .ProductText, .ProductText .Text, .ProductName > div {padding: 0;}
.ProductContent .ProductName span, .ProductContent .ProductName p {font-size: 20px;}
.ProductText .Text p {font-size:18px;}
.QtyCart span input {width: 60px;font-size: 18px;}
.QtyCart span button {font-size: 14px;padding: 0px 5px 0 7px;float: none;top: 1px;position: relative;}
.QtyCart {padding-right: 0;padding-left: 60px;}
.QtyCart span button::after {background-size: 23px 18px;font-size: 20px;}
.ProductTitle.Drink, .ProductTitle.lunch {height: 250px;}
.LunchBox .products .Product.top {margin-top: -25px;}
.ProductBox.DrinkBox .products .Product.top {margin-top: -45px;}
.navbar .container, footer .container{width:640px;}
/*News*/
.Blogpage .products.newsContent .Product.top, .Newspage .products.newsContent .Product.top {margin-top: -50px;}
.Blogpage .ReadMore, .Newspage .ReadMore {padding: 0;}
/*Promo page*/
.ProductTitle.Promo {height: 325px;}
.PromoOffer {padding-right: 0;}
.PromoOffer > div {margin-top: 0;}
.ForPrinting ul {font-size: 28px;}
/*Thanks page*/
.Thanking > .Thanks_Content > h1 {font-size: 54px;}
.Thanking > .Thanks_Content > p {font-size: 16px;margin-top: 18px;}

}


@media only screen and (min-width: 1200px){
.container{width:640px;}
.under-Container{width:1200px; margin:auto;}
.Blogpage .products .ProductImg img, .Newspage .products .ProductImg img {width: 280px;}
}
