/*
* 	Owl Carousel Owl Demo Theme 
*	v1.23
*/

#owl-demo .item{margin: 3px;}
#owl-demo .item img{display: block;width: 100%;height: auto;}
.owl-theme .owl-controls {text-align: center;height: 40px;position: absolute;z-index: 999;width: 140px;top: auto;right: 0;left: 0;bottom: -40px;margin: auto;}
.owl-pagination {float: right;margin-right: 28px;position:absolute;z-index: 999;left: 0;right: 0;top: 330px; display:none}

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div{color: transparent;display: inline-block;font-size: 25px;font-weight: 500;}
.owl-theme .owl-controls .owl-buttons .owl-prev::before{content:"<";float:right;padding:0px 13px 4px;background:#7bbc00;border-radius:28px;color:#fff;opacity:0.5;transition: all 0.3s ease-in-out; position:absolute;}
.owl-theme .owl-controls .owl-buttons .owl-next::before{content:">";float: left;padding:0px 13px 4px;background:#7bbc00;border-radius:28px;color:#fff;opacity:0.5;transition: all 0.3s ease-in-out; position:absolute;}
.owl-theme .owl-controls .owl-buttons:hover .owl-next:hover::before, .owl-theme .owl-controls .owl-buttons:hover .owl-prev:hover::before{opacity:1;}
.owl-theme .owl-controls .owl-buttons .owl-prev {position: absolute;left: 15px;width: 50.3px;}
.owl-theme .owl-controls .owl-buttons .owl-next {position: absolute;right: 3px;}
.owl-buttons {width: 100%;top: 5px;position: absolute;right: 0;}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter: Alpha(Opacity=100);/*IE7 fix*/opacity: 1;text-decoration: none;}

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page{display: inline-block;zoom: 1;*display: inline;/*IE7 life-saver */}
.owl-theme .owl-controls .owl-page span{display: block;margin: 5px 7px;font-size: 25px;font-weight: 500;color: #363636;}
.owl-theme .owl-controls .owl-page.active span{background:#7bbc00;}
.owl-theme .owl-controls .owl-page span{background:#363636; width:10px; height:10px; border-radius:5px;}

/*.owl-theme .owl-controls .owl-page:nth-child(1) span::before{content:"1";}
.owl-theme .owl-controls .owl-page:nth-child(2) span::before{content:"2";}
.owl-theme .owl-controls .owl-page:nth-child(3) span::before{content:"3";}
.owl-theme .owl-controls .owl-page:nth-child(4) span::before{content:"4";}
.owl-theme .owl-controls .owl-page:nth-child(5) span::before{content:"5";}
.owl-theme .owl-controls .owl-page:nth-child(6) span::before{content:"6";}
.owl-theme .owl-controls .owl-page:nth-child(7) span::before{content:"7";}
.owl-theme .owl-controls .owl-page:nth-child(8) span::before{content:"8";}
.owl-theme .owl-controls .owl-page:nth-child(9) span::before{content:"9";}*/
.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{filter: Alpha(Opacity=100);/*IE7 fix*/opacity: 1;}

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers{height: auto;width: auto;color: #FFF;padding: 2px 10px;font-size: 12px;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}

/* preloading images */
.owl-item.loading{min-height: 150px;background: url(AjaxLoader.gif) no-repeat center center}

/* 
* 	Core Owl Carousel CSS File
*	v1.23
*/

/* clearfix */
.owl-carousel .owl-wrapper:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}

/* display none until init */
.owl-carousel{display: none;position: relative;width: 100%;-ms-touch-action: pan-y;}
.owl-carousel .owl-wrapper{display: none;position: relative;-webkit-transform: translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer{overflow:hidden;position: relative;width: 100%;}
.owl-carousel .owl-wrapper-outer.autoHeight{
-webkit-transition: height 500ms ease-in-out;
-moz-transition: height 500ms ease-in-out;
-ms-transition: height 500ms ease-in-out;
-o-transition: height 500ms ease-in-out;
transition: height 500ms ease-in-out;}
.owl-carousel .owl-item{float: left;}
.owl-controls .owl-page,.owl-controls .owl-buttons div{cursor: pointer;}
.owl-controls {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

/* mouse grab icon */
.grabbing { cursor:url(grabbing.png) 8 8, move;}

/* fix */
.owl-carousel  .owl-wrapper,.owl-carousel  .owl-item{
-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;}

/* CSS3 Transitions */
.owl-origin {
-webkit-perspective: 1200px;
-webkit-perspective-origin-x : 50%;
-webkit-perspective-origin-y : 50%;
-moz-perspective : 1200px;
-moz-perspective-origin-x : 50%;
-moz-perspective-origin-y : 50%;
perspective : 1200px;
}

/* fade */
