﻿@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 100;
    src: local("Raleway Thin"), local("Raleway-Thin"), 
	url("/themes/oxtheme/content/css/font/raleway_Thin.woff2") format("woff2"),
	url("/themes/oxtheme/content/css/font/Raleway-Thin.ttf") format("truetype");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, U+0-FF;
	
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 200;
    src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), 
	url("/themes/oxtheme/content/css/font/raleway_ExtraLight.woff2") format("woff2"),
	url("/themes/oxtheme/content/css/font/Raleway-ExtraLight.ttf") format("truetype");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, U+0-FF;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    src: local("Raleway Light"), local("Raleway-Light"), 
	url("/themes/oxtheme/content/css/font/raleway_Light.woff2") format("woff2"),
	url("/themes/oxtheme/content/css/font/Raleway-Light.ttf") format("truetype");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, U+0-FF;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: local("Raleway"), local("Raleway-Regular"), 
	url("/themes/oxtheme/content/css/font/raleway_Regular.woff2") format("woff2"),
	url("/themes/oxtheme/content/css/font/Raleway-Regular.ttf") format("truetype");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, U+0-FF;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    src: local("Raleway Medium"), local("Raleway-Medium"), 
	url("/themes/oxtheme/content/css/font/raleway_Medium.woff2") format("woff2"),
	url("/themes/oxtheme/content/css/font/Raleway-Medium.ttf") format("truetype");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, U+0-FF;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    src: local("Raleway SemiBold"), local("Raleway-SemiBold"), 
	url("/themes/oxtheme/content/css/font/raleway_SemiBold.woff2") format("woff2"),
	url("/themes/oxtheme/content/css/font/Raleway-SemiBold.ttf") format("truetype");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, U+0-FF;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    src: local("Raleway Bold"), local("Raleway-Bold"), 
	url("/themes/oxtheme/content/css/font/raleway_Bold.woff2") format("woff2"),
	url("/themes/oxtheme/content/css/font/Raleway-Bold.ttf") format("truetype");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, U+0-FF;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), 
	url("/themes/oxtheme/content/css/font/raleway_ExtraBold.woff2") format("woff2"),
	url("/themes/oxtheme/content/css/font/Raleway-ExtraBold.ttf") format("truetype");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}