﻿@model Nop.Plugin.PostXCustom.Models.CompanyRepresentativeCustomer.CustomerModel
@using Nop.Web.Framework.UI;
@{
	//Customization SalesPerson 
	//page title
	ViewBag.Title = T("PPIS.NavNop.Customers.ViewCustomerDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers list");
	 Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}		 


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("PPIS.NavNop.Customers.ViewCustomerDetails") - @Model.LastName @Model.FirstName
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Customers.Customers.BackToList").Text, "List")</small>
        </h1>
        
    </div>
    @Html.Partial("~/Plugins/PostXCustom/Views/CompanyRepresentative/_PartialViewCustomerOrder.cshtml", Model)
}
