﻿@{
	Layout = "~/admin/Views/Shared/_AdminLayout.cshtml";
}
@model PostXCustomSettingsModel
@using Nop.Plugin.PostXCustom.Models;
@using Nop.Web.Framework;


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="content">
		<div class="form-horizontal">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="form-group">
							<div class="col-md-3">
								@Html.NopLabelFor(model => model.CustomerPushUrl)
							</div>
							<div class="col-md-9">
								@Html.NopEditorFor(model => model.CustomerPushUrl)
								@Html.ValidationMessageFor(model => model.CustomerPushUrl)
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3">
								@Html.NopLabelFor(model => model.LoyaltyContractA)
							</div>
							<div class="col-md-9">
								@Html.NopEditorFor(model => model.LoyaltyContractA)
								@Html.ValidationMessageFor(model => model.LoyaltyContractA)
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3">
								@Html.NopLabelFor(model => model.LoyaltyContractB)
							</div>
							<div class="col-md-9">
								@Html.NopEditorFor(model => model.LoyaltyContractB)
								@Html.ValidationMessageFor(model => model.LoyaltyContractB)
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3">
								@Html.NopLabelFor(model => model.LoyaltyContractC)
							</div>
							<div class="col-md-9">
								@Html.NopEditorFor(model => model.LoyaltyContractC)
								@Html.ValidationMessageFor(model => model.LoyaltyContractC)
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3">
								@Html.NopLabelFor(model => model.LoyaltyContractD)
							</div>
							<div class="col-md-9">
								@Html.NopEditorFor(model => model.LoyaltyContractD)
								@Html.ValidationMessageFor(model => model.LoyaltyContractD)
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-md-3">
								@Html.NopLabelFor(model => model.LoyaltyContractZ)
							</div>
							<div class="col-md-9">
								@Html.NopEditorFor(model => model.LoyaltyContractZ)
								@Html.ValidationMessageFor(model => model.LoyaltyContractZ)
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-md-3">
								&nbsp;
							</div>
							<div class="col-md-9">
								<input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
