﻿@using Nop.Core.Domain;
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo
@using Nop.Core.Infrastructure;
@using Nop.Services.Security;

@{
	var storeSettings = EngineContext.Current.Resolve<StoreInformationSettings>();
	var permissionService = EngineContext.Current.Resolve<IPermissionService>();
	var displayMiniProfiler = storeSettings.DisplayMiniProfilerInPublicStore
		 && (!storeSettings.DisplayMiniProfilerForAdminOnly || permissionService.Authorize(StandardPermissionProvider.AccessAdminPanel));

		
	Html.AppendScriptParts("~/Scripts/public.ajaxcart.js");
	Html.AppendScriptParts("~/Scripts/public.common.js");
	Html.AppendScriptParts("~/Scripts/jquery-migrate-1.2.1.min.js");
	Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");
	Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
	Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");						 
	Html.AppendScriptParts("~/Themes/OxTheme/Content/js/bootstrap.min.js");		 
	Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");


	//X-UA-Compatible tag
	var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
	if (commonSettings.RenderXuaCompatible)
	{
		Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));
	}
	//custom tag(s)
	var seoSettings = EngineContext.Current.Resolve<SeoSettings>();
	if (!string.IsNullOrEmpty(seoSettings.CustomHeadTags))
	{
		Html.AppendHeadCustomParts(seoSettings.CustomHeadTags);
	}
}
<!DOCTYPE html>
	<html@(this.ShouldUseRtlTheme() ? Html.Raw(" dir=\"rtl\"") : null) @Html.NopPageCssClasses()>
		<head>
			<title>@Html.NopTitle()</title>
			<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
			<meta name="description" content="@(Html.NopMetaDescription())" />
			<meta name="keywords" content="@(Html.NopMetaKeywords())" />
			<meta name="generator" content="nopCommerce" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			@Html.NopHeadCustom()
			@*This is used so that themes can inject content into the header*@
			@Html.Partial("Head")
			@Html.Widget("head_html_tag")
			@Html.NopCssFiles(this.Url, ResourceLocation.Head)
			@Html.NopScripts(this.Url, ResourceLocation.Head)
			@Html.NopCanonicalUrls()
			@Html.Action("RssHeaderLink", "News")
			@Html.Action("RssHeaderLink", "Blog")
			@*Favicon - upload favicon.ico file to the root directory*@
			@Html.Action("Favicon", "Common")
			@if (displayMiniProfiler)
			{
				@StackExchange.Profiling.MiniProfiler.RenderIncludes()
			}
			<!--Powered by nopCommerce - http://www.nopCommerce.com-->

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1678148-34"></script>
            <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1678148-34');
            </script>
		</head>
		<body>
			@RenderBody()
			@Html.NopCssFiles(this.Url, ResourceLocation.Foot)
			@Html.NopScripts(this.Url, ResourceLocation.Foot)
		</body>
		</html>
