﻿@model PublicCustomerNavigationModel           
@using Nop.Plugin.PostXCustom.Models.Public.Customers;
@using Nop.Web.Framework
<div class="block block-account-navigation">
    <div class="title">
        <strong>@T("Account.Navigation")</strong>
    </div>
    <div class="listbox">
        <ul class="list">
            @Html.Widget("account_navigation_before")
            @foreach (var item in Model.CustomerNavigationItems)
            {
                <li class="@item.ItemClass">
                    <a href="@Url.RouteUrl(item.RouteName)" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
                </li>
            }
            @Html.Widget("account_navigation_after")
        </ul>
    </div>
</div>
