﻿@using Nop.Web.Framework.UI
@using Nop.Web.Framework
@using Nop.Web.Framework.Security.Captcha
@using Nop.Web.Framework.Security.Honeypot
@model Nop.Plugin.PostXCustom.Models.Public.Customers.PublicRegisterModel
@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//title
	Html.AddTitleParts(T("PageTitle.Register").Text);
	//page class
	Html.AppendPageCssClassParts("html-registration-page");
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
	<script type="text/javascript">
		$(document).ready(function ()
		{
			$("#@Html.FieldIdFor(model => model.CountryId)").change(function ()
			{
				var selectedItem = $(this).val();
				var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
				var statesProgress = $("#states-loading-progress");
				statesProgress.show();
				$.ajax({
					cache: false,
					type: "GET",
					url: "@(Url.RouteUrl("GetStatesByCountryId"))",
					data: { "countryId": selectedItem, "addSelectStateItem": "true" },
					success: function (data)
					{
						ddlStates.html('');
						$.each(data, function (id, option)
						{
							ddlStates.append($('<option></option>').val(option.id).html(option.name));
						});
						statesProgress.hide();
					},
					error: function (xhr, ajaxOptions, thrownError)
					{
						alert('Failed to retrieve states.');
						statesProgress.hide();
					}
				});
			});
		});
	</script>
}
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="under-Container">
		<div class="Profile_Page">
			<div class="ProductBox">
				<div class="row">
					<div class="ProductTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="Titel"><h1>@T("Account.Register")</h1></div>
					</div>
				</div>


				<div class="row">
					<div class="ProInfo Register col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class=" col-xs-12 col-sm-2 col-md-3 col-lg-3"></div>
						<div class="ProDetail col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="ProSize">
								@{
	var validationSummary = Html.ValidationSummary(true);
								}
								@if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
								{
									<div class="message-error">@validationSummary</div>
								}
								@Html.Partial("~/Plugins/PostXCustom/Views/PublicCustomer/_ExternalAuthentication.AssociateMessage.cshtml")
								<div class="fieldset">
									<div class="title">
										<strong>@T("Account.YourPersonalDetails")</strong>
									</div>
									<div class="form-fields">
										@if (Model.GenderEnabled)
										{
											<div class="inputs">
												<label>@T("Account.Fields.Gender"):</label>
												<div class="gender">
													<span class="male">
														@Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "gender-male" })
														<label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
													</span>
													<span class="female">
														@Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "gender-female" })
														<label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
													</span>
												</div>
											</div>
										}
										<div class="inputs">
											@Html.LabelFor(model => model.FirstName, new { }, ":")
											@Html.EditorFor(model => model.FirstName)
											@Html.RequiredHint()
											@Html.ValidationMessageFor(model => model.FirstName)
										</div>
										<div class="inputs">
											@Html.LabelFor(model => model.LastName, new { }, ":")
											@Html.EditorFor(model => model.LastName)
											@Html.RequiredHint()
											@Html.ValidationMessageFor(model => model.LastName)
										</div>
										@if (Model.DateOfBirthEnabled)
										{
											<div class="inputs date-of-birth">
												<label>@T("Account.Fields.DateOfBirth"):</label>
												@Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DateOfBirthDay),
													Html.FieldNameFor(x => x.DateOfBirthMonth),
													Html.FieldNameFor(x => x.DateOfBirthYear),
													DateTime.Now.Year - 110,
													DateTime.Now.Year,
													Model.DateOfBirthDay,
													Model.DateOfBirthMonth,
													Model.DateOfBirthYear)
												@if (Model.DateOfBirthRequired)
												{
													@Html.RequiredHint()
												}
												@Html.ValidationMessageFor(model => model.DateOfBirthDay)
												@Html.ValidationMessageFor(model => model.DateOfBirthMonth)
												@Html.ValidationMessageFor(model => model.DateOfBirthYear)
											</div>
										}
										<div class="inputs">
											@Html.LabelFor(model => model.Email, new { }, ":")
											@Html.EditorFor(model => model.Email)
											@Html.RequiredHint()
											@Html.ValidationMessageFor(model => model.Email)
										</div>


									</div>
								</div>
								@if (Model.CompanyEnabled || Model.DisplayVatNumber)
								{
									@*<div class="fieldset">
											<div class="title">
												<strong>@T("Account.CompanyDetails")</strong>
											</div>
											<div class="form-fields">
												@if (Model.CompanyEnabled)
												{
													<div class="inputs">
														@Html.LabelFor(model => model.Company, new {}, ":")
														@Html.EditorFor(model => model.Company)
														@if (Model.CompanyRequired)
														{
															@Html.RequiredHint()
														}
														@Html.ValidationMessageFor(model => model.Company)
													</div>
												}
												@if (Model.DisplayVatNumber)
												{
													<div class="inputs">
														@Html.LabelFor(model => model.VatNumber, new {}, ":")
														@Html.EditorFor(model => model.VatNumber)
														<span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
													</div>
												}
											</div>
										</div>*@
								}

								@if (Model.PhoneEnabled || Model.FaxEnabled)
								{
									if (Model.PhoneEnabled)
									{
										<div class="inputs">
											@Html.LabelFor(model => model.Phone, new { }, ":")
											@Html.EditorFor(model => model.Phone)
											@if (Model.PhoneRequired)
											{
												@Html.RequiredHint()
											}
											@Html.ValidationMessageFor(model => model.Phone)
										</div>
									}

								}


								<div class="fieldset">

									

									<div class="form-fields">
										@*@Html.HiddenFor(x=>x.Username)*@	
										@*<div class="inputs">
											@Html.LabelFor(model => model.Username, new { }, ":")
											@Html.EditorFor(model => model.Username)
											@Html.RequiredHint()
											@Html.ValidationMessageFor(model => model.Username)
											@if (Model.CheckUsernameAvailabilityEnabled)
											{
												@Html.Partial("_CheckUsernameAvailability")
											}
										</div>*@	  
										@*<div class="inputs">
											@Html.LabelFor(model => model.Password, new { }, ":")
											@Html.EditorFor(model => model.Password)
											@Html.RequiredHint()
											@Html.ValidationMessageFor(model => model.Password)
										</div>
										<div class="inputs">
											@Html.LabelFor(model => model.ConfirmPassword, new { }, ":")
											@Html.EditorFor(model => model.ConfirmPassword)
											@Html.RequiredHint()
											@Html.ValidationMessageFor(model => model.ConfirmPassword)
										</div>*@
										@if (Model.DisplayCaptcha)
										{
											<div class="captcha-box">
												@Html.Raw(Html.GenerateCaptcha())
											</div>
										}
										@if (Model.HoneypotEnabled)
										{
											@Html.Raw(Html.GenerateHoneypotInput())
										}
									</div>
								</div>
								@if (Model.AcceptPrivacyPolicyEnabled)
								{
									<script type="text/javascript">
										$(document).ready(function ()
										{
											$('#register-button').click(function ()
											{
												if ($('#accept-privacy-policy').is(':checked'))
												{
													//do some stuff
													return true;
												} else
												{
													//just show validation errors, dont post
													alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
													return false;
												}
											});
										});
									</script>
									<div class="accept-privacy-policy">
										<input id="accept-privacy-policy" type="checkbox" name="accept-privacy-policy" />
										<label for="accept-privacy-policy">@T("Account.Fields.AcceptPrivacyPolicy")</label>
										<span class="read" id="read-privacyinfo">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
										<script>
											$(document).ready(function ()
											{
												$('#read-privacyinfo').on('click', function (e)
												{
													displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "privacyinfo"})', '@T("Account.Fields.AcceptPrivacyPolicy")');
												});
											});
										</script>
									</div>
								}
								<div class="buttons">
									<input type="submit" id="register-button" class="button-1 register-next-step-button" value="@T("Account.Register.Button")" name="register-button" />
								</div>
							</div>
						</div>
						<div class=" col-xs-12 col-sm-2 col-md-3 col-lg-3"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
}