﻿@model CustomerRewardPointsModel
@using Nop.Plugin.PostXCustom.Models.Public.Order

<div class="page account-page reward-points-page">    
    <div class="page-body">
        <div class="reward-points-overview">
            <div class="current-balance">@T("RewardPoints.CurrentBalance", Model.RewardPointsBalance, Model.RewardPointsAmount)</div>
            @if (Model.MinimumRewardPointsBalance > 0)
            {
                <div class="min-balance">@T("RewardPoints.MinimumBalance", Model.MinimumRewardPointsBalance, Model.MinimumRewardPointsAmount)</div>
            }
        </div>
        <div class="section reward-points-history">
            <div class="title">
                <strong>@T("RewardPoints.History")</strong>
            </div>
            @if (Model.RewardPoints.Count > 0)
				{
					<div class="table-wrapper">
						<table style="border:1px solid #808080;">
							<thead>
								<tr>
									<th class="date" style="width:95px;border:1px solid #808080;padding:3px;">
										@T("RewardPoints.Fields.Date")
									</th>
									<th class="points" style="width:75px;border:1px solid #808080;padding:3px;">
										@T("RewardPoints.Fields.Points")
									</th>
									<th class="points-balance" style="width:75px;border:1px solid #808080;padding:3px;">
										@T("RewardPoints.Fields.PointsBalance")
									</th>
									<th class="message" style="width:55%;border:1px solid #808080;padding:3px;">
										@T("RewardPoints.Fields.Message")
									</th>
								</tr>
							</thead>
							<tbody>
								@for (int i = 0; i < Model.RewardPoints.Count; i++)
								{
									var item = Model.RewardPoints[i];
									<tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
										<td class="date" style="border:1px solid #808080;padding:3px;">
											@item.CreatedOn.ToString("dd/MM/yyyy")
										</td>
										<td class="points" style="border:1px solid #808080;padding:3px;">
											@item.Points
										</td>
										<td class="points-balance" style="border:1px solid #808080;padding:3px;">
											@item.PointsBalance
										</td>
										<td class="message" style="border:1px solid #808080;padding:3px;">
											@item.Message
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
                @*var pager = Html.Pager(Model.PagerModel);
                if (!MvcHtmlString.IsNullOrEmpty(pager))
                {
                    <div class="pager">
                        @pager
                    </div>
                }*@
            }
            else
            {
                <div class="no-data">
                    @T("RewardPoints.NoHistory")
                </div>
            }
        </div>
    </div>
</div>
