﻿@using Nop.Plugin.PostXCustom.Models.Public.Checkout
@using Nop.Web.Framework.UI
@using Nop.Web.Framework
@model CheckoutPaymentInfoModel

@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//title
	Html.AddTitleParts(T("PageTitle.Checkout").Text);
	//page class
	Html.AppendPageCssClassParts("html-checkout-page");
	Html.AppendPageCssClassParts("html-payment-info-page");
}
<div class="under-Container">
	<div class="Cart_Page">
		<div class="page checkout-page payment-info-page">
			@Html.Action("CheckoutProgress", "PublicCheckout", new { step = CheckoutProgressStep.Payment })
			<div class="page-title">
				<h1>@T("Checkout.PaymentInfo")</h1>
			</div>
			<div class="page-body checkout-data">
				@Html.Widget("checkout_payment_info_top")
				<div class="section payment-info">
					<iframe scrolling="auto" id="myframe1" frameborder="0" height="600px" name="my-iframe1"></iframe>
					<form target="my-iframe1" method="post" action="https://secure.paypage.be/ncol/test/orderstandard.asp" id="formKBC" name="formKBC">
						@{
							var validationSummary = Html.ValidationSummary(false);
							if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
							{
								<div class="message-error">@validationSummary</div>
							}
							<div class="info">
								@Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
							</div>
							<div class="buttons">
								<input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="button-1 payment-info-next-step-button" />
							</div>
						}
					</form>

				</div>
				@Html.Widget("checkout_payment_info_bottom")
				<div class="title">
					<strong>@T("Checkout.OrderSummary")</strong>
				</div>
				@Html.Action("OrderSummaryNonEdit", "ShoppingCart")
			</div>
		</div>
	</div>
</div>