﻿@model CustomerOrderListModel
@using Nop.Plugin.PostXCustom.Models.Public.Order

<div class="Profile_Detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
		@if (Model.Orders.Count > 0)
		{
			foreach (var order in Model.Orders)
			{
				<ul>
					<li><span class="boldTitle">@T("Account.CustomerOrders.OrderNumber"):</span><span class="boldTitle greenText">@order.CustomOrderNumber</span></li>
					<li><span class="SMboldTitle">@T("Account.CustomerOrders.OrderDate"):</span><span>@order.CreatedOn.ToShortDateString()</span></li>
					<li><span class="SMboldTitle">@T("Account.CustomerOrders.OrderTotal"):</span>@order.OrderTotal<span></span></li>
					<li><span class="SMboldTitle">@T("PuntenGespaard"):</span><span>@order.PointsEarned</span></li>
					<li><span class="SMboldTitle">@T("PuntenGebruikt"):</span><span>@order.PointsRedeemed</span></li>
					<li><span class="SMboldTitle">@T("HuidigPuntensaldo"):</span><span>@order.PointsBalance</span></li>
					<li><span class="SMboldTitle"><input type="button" value="@T("Account.CustomerOrders.OrderDetails")" class="button-2 order-details-button" onclick="setLocation('@Url.RouteUrl("OrderDetails", new { orderId = order.Id })')" /></span></li>
				</ul>
			}
		}
		else
		{
			<ul>
				<li><span class="SMboldTitle">@T("Account.CustomerOrders.NoOrders")</span></li>
			</ul>
		}
	</div>