﻿@model Nop.Admin.Models.Customers.CustomerAddressModel
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;
										 
@if (Model.Address.CountryEnabled && Model.Address.StateProvinceEnabled)
{
	<script type="text/javascript">
		$(document).ready(function () {
			$("#@Html.FieldIdFor(model => model.Address.CountryId)").change(function () {
				var selectedItem = $(this).val();
				var ddlStates = $("#@Html.FieldIdFor(model => model.Address.StateProvinceId)");
				$.ajax({
					cache: false,
					type: "GET",
					url: "@(Url.Action("GetStatesByCountryId", "Country"))",
					data: { "countryId": selectedItem, "addSelectStateItem": "false" },
					success: function (data) {
						ddlStates.html('');
						$.each(data, function (id, option) {
							ddlStates.append($('<option></option>').val(option.id).html(option.name));
						});
					},
					error: function (xhr, ajaxOptions, thrownError) {
						alert('Failed to retrieve states.');
					}
				});
			});
		});
	</script>
}



@Html.HiddenFor(model => model.Address.Id)
@Html.HiddenFor(model => model.Address.FirstNameEnabled)
@Html.HiddenFor(model => model.Address.FirstNameRequired)
@Html.HiddenFor(model => model.Address.LastNameEnabled)
@Html.HiddenFor(model => model.Address.LastNameRequired)
@Html.HiddenFor(model => model.Address.EmailEnabled)
@Html.HiddenFor(model => model.Address.EmailRequired)
@Html.HiddenFor(model => model.Address.CompanyEnabled)
@Html.HiddenFor(model => model.Address.CompanyRequired)
@Html.HiddenFor(model => model.Address.CountryEnabled)
@Html.HiddenFor(model => model.Address.CountryRequired)
@Html.HiddenFor(model => model.Address.StateProvinceEnabled)
@Html.HiddenFor(model => model.Address.CityEnabled)
@Html.HiddenFor(model => model.Address.CityRequired)
@Html.HiddenFor(model => model.Address.StreetAddressEnabled)
@Html.HiddenFor(model => model.Address.StreetAddressRequired)
@Html.HiddenFor(model => model.Address.StreetAddress2Enabled)
@Html.HiddenFor(model => model.Address.StreetAddress2Required)
@Html.HiddenFor(model => model.Address.ZipPostalCodeEnabled)
@Html.HiddenFor(model => model.Address.ZipPostalCodeRequired)
@Html.HiddenFor(model => model.Address.PhoneEnabled)
@Html.HiddenFor(model => model.Address.PhoneRequired)
@Html.HiddenFor(model => model.Address.FaxEnabled)
@Html.HiddenFor(model => model.Address.FaxRequired)





@Html.ValidationSummary(true)
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
	                @*@Html.Partial("~/Plugins/PostXCustom/Views/AdminCustomer/Address.cshtml", Model.Address)*@
					 	@if (Model.Address.FirstNameEnabled)
						{
					 	<div class="form-group">
					 		<div class="col-md-3">
					 			@Html.NopLabelFor(model => model.Address.FirstName)
					 	</div>
					 	<div class="col-md-9">
					 		@Html.NopEditorFor(model => model.Address.FirstName, required: Model.Address.FirstNameRequired)
					 	@Html.ValidationMessageFor(model => model.Address.FirstName)
					 </div>
					 </div>
						}
					 @if (Model.Address.LastNameEnabled)
					 {
					 	<div class="form-group">
					 		<div class="col-md-3">
					 			@Html.NopLabelFor(model => model.Address.LastName)
					 	</div>
					 	<div class="col-md-9">
					 		@Html.NopEditorFor(model => model.Address.LastName, required: Model.Address.LastNameRequired)
					 	@Html.ValidationMessageFor(model => model.Address.LastName)
					 </div>
					 </div>
					 }
					 @if (Model.Address.EmailEnabled)
					 {
					 	<div class="form-group">
					 		<div class="col-md-3">
					 			@Html.NopLabelFor(model => model.Address.Email)
					 	</div>
					 	<div class="col-md-9">
					 		@Html.NopEditorFor(model => model.Address.Email, required: Model.Address.EmailRequired)
					 	@Html.ValidationMessageFor(model => model.Address.Email)
					 </div>
					 </div>
					 }
					 @if (Model.Address.CompanyEnabled)
					 {
					 	<div class="form-group">
					 		<div class="col-md-3">
					 			@Html.NopLabelFor(model => model.Address.Company)
					 	</div>
					 	<div class="col-md-9">
					 		@Html.NopEditorFor(model => model.Address.Company, required: model.Address.CompanyRequired)
					 	@Html.ValidationMessageFor(model => model.Address.Company)
					 </div>
					 </div>
					 }
					 @if (Model.Address.CountryEnabled)
					 {
					 	<div class="form-group">
					 		<div class="col-md-3">
					 			@Html.NopLabelFor(model => model.Address.CountryId)
					 	</div>
					 	<div class="col-md-9">
					 		@Html.NopDropDownListFor(model => model.Address.CountryId, model.Address.AvailableCountries, required: model.Address.CountryRequired)
					 	@Html.ValidationMessageFor(model => model.Address.CountryId)
					 </div>
					 </div>
					 }
					 @if (Model.Address.CountryEnabled && Model.Address.StateProvinceEnabled)
					 {
					 	<div class="form-group">
					 		<div class="col-md-3">
					 			@Html.NopLabelFor(model => model.Address.StateProvinceId)
					 	</div>
					 	<div class="col-md-9">
					 		@Html.NopDropDownListFor(model => model.Address.StateProvinceId, model.Address.AvailableStates)
					 	@Html.ValidationMessageFor(model => model.Address.StateProvinceId)
					 </div>
					 </div>
					 }
					 @if (Model.Address.CityEnabled)
					 {
					 	<div class="form-group">
					 		<div class="col-md-3">
					 			@Html.NopLabelFor(model => model.Address.City)
					 	</div>
					 	<div class="col-md-9">
					 		@Html.NopEditorFor(model => model.Address.City, required: model.Address.CityRequired)
					 	@Html.ValidationMessageFor(model => model.Address.City)
					 </div>
					 </div>
					 }
					 @if (Model.Address.StreetAddressEnabled)
					 {
					 	<div class="form-group">
					 		<div class="col-md-3">
					 			@Html.NopLabelFor(model => model.Address.Address1)
					 	</div>
					 	<div class="col-md-9">
					 		@Html.NopEditorFor(model => model.Address.Address1, required: model.Address.StreetAddressRequired)
					 	@Html.ValidationMessageFor(model => model.Address.Address1)
					 </div>
					 </div>
					 }
					 @if (Model.Address.StreetAddress2Enabled)
					 {
					 	<div class="form-group">
					 		<div class="col-md-3">
					 			@Html.NopLabelFor(model => model.Address.Address2)
					 	</div>
					 	<div class="col-md-9">
					 		@Html.NopEditorFor(model => model.Address.Address2, required: model.Address.StreetAddress2Required)
					 	@Html.ValidationMessageFor(model => model.Address.Address2)
					 </div>
					 </div>
					 }
					 @if (Model.Address.ZipPostalCodeEnabled)
					 {
					 	<div class="form-group">
					 		<div class="col-md-3">
					 			@Html.NopLabelFor(model => model.Address.ZipPostalCode)
					 	</div>
					 	<div class="col-md-9">
					 		@Html.NopEditorFor(model => model.Address.ZipPostalCode, required: model.Address.ZipPostalCodeRequired)
					 	@Html.ValidationMessageFor(model => model.Address.ZipPostalCode)
					 </div>
					 </div>
					 }
					 @if (Model.Address.PhoneEnabled)
					 {
					 	<div class="form-group">
					 		<div class="col-md-3">
					 			@Html.NopLabelFor(model => model.Address.PhoneNumber)
					 	</div>
					 	<div class="col-md-9">
					 		@Html.NopEditorFor(model => model.Address.PhoneNumber, required: model.Address.PhoneRequired)
					 	@Html.ValidationMessageFor(model => model.Address.PhoneNumber)
					 </div>
					 </div>
					 }
					 @if (Model.Address.FaxEnabled)
					 {
					 	<div class="form-group">
					 		<div class="col-md-3">
					 			@Html.NopLabelFor(model => model.Address.FaxNumber)
					 	</div>
					 	<div class="col-md-9">
					 		@Html.NopEditorFor(model => model.Address.FaxNumber, required: model.Address.FaxRequired)
					 	@Html.ValidationMessageFor(model => model.Address.FaxNumber)
					 </div>
					 </div>
					 }
					 @if (Model.Address.CustomAddressAttributes.Count > 0)
					 {
					 	@Html.Partial("_AddressAttributes", Model.Address.CustomAddressAttributes)
					 }
                </div>
            </div>
        </div>
    </div>
</div>
