﻿@model Nop.Admin.Models.Customers.CustomerAddressModel 
@using Nop.Web.Framework.UI;

@{
	//page title
	ViewBag.Title = T("Admin.Customers.Customers.Addresses.EditAddress").Text;
	//active menu item (system name)
	Html.SetActiveMenuItemSystemName("Customers list");
	Layout = "~/admin/Views/Shared/_AdminLayout.cshtml";
	var urlString = "~/AdminCustomer/MarkAsDefaultAddress?parentCustomerId=" + Model.CustomerId + "&addressId=" + Model.Address.Id;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.Customers.Addresses.EditAddress") 
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Customers.Customers.Addresses.BackToCustomer").Text, "Edit", new { id = Model.CustomerId })</small>
        </h1>
        <div class="pull-right">
	        <button type="submit" name="save" class="btn bg-blue">
		        <i class="fa fa-floppy-o"></i>
		        @T("Admin.Common.Save")
	        </button>
			  			
			  							 
	        <a href="@Url.Content(urlString)" class="btn bg-blue">
				<i class="fa fa-floppy-o"></i>
		        @T("Admin.Common.MarkAsDefault")
	        </a>

	        @*<button type="submit" name="markdefault" class="btn bg-blue">
		        <i class="fa fa-floppy-o"></i>
		        @T("Admin.Common.MarkAsDefault")
	        </button>*@
        </div>
    </div>
	@Html.Partial("~/Plugins/PostXCustom/Views/AdminCustomer/_CreateOrUpdateAddress.cshtml", Model)
}