﻿@using Nop.Web.Framework.UI
@model Nop.Plugin.PostXCustom.Models.Admin.Customers.AdminCustomerModel

@{
	//page title
	ViewBag.Title = T("Admin.Common.AddNewCompany").Text;
	//active menu item (system name)
	Html.SetActiveMenuItemSystemName("Customers list");
	Layout = "~/admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="content-header clearfix">
		<h1 class="pull-left">
			@T("Admin.Common.AddNewCompany")
			<small><i class="fa fa-arrow-circle-left"></i><a href="/admin/customer/list">@T("Admin.Company.BackToList").Text</a></small>
		</h1>
		<div class="pull-right">
			<button type="submit" name="save" class="btn bg-blue">
				<i class="fa fa-floppy-o"></i>
				@T("Admin.Common.Save")
			</button>
			<button type="submit" name="save-continue" class="btn bg-blue">
				<i class="fa fa-floppy-o"></i>
				@T("Admin.Common.SaveContinue")
			</button>
		</div>
	</div>
	@Html.Partial("~/Plugins/PostXCustom/Views/AdminCustomer/_CreateOrUpdate.cshtml", Model)
}