﻿@{
	Layout = "";
}
@model Nop.Plugin.Payments.KbcPayPage.Models.PaymentInfoModel

<script type="text/javascript">

	//$('#co-payment-info-form').attr('action', 'https://secure.paypage.be/ncol/test/orderstandard.asp');
	//$('#co-payment-info-form').attr('method', 'post');

	//$('input[type="hidden"][value="ContinuTEST"]').closest("form").attr('action', 'https://secure.paypage.be/ncol/test/orderstandard.asp');
	//$('input[type="hidden"][value="ContinuTEST"]').closest("form").attr('method', 'post');

	//$('#formKBC').submit();
	$(document).ready(function ()
	{
		$('#submit2').click();
	});



</script>



<form method="post" action="https://secure.paypage.be/ncol/test/orderstandard.asp" id="formKBC" name="formKBC">
	<!-- general parameters: see General Payment Parameters -->
	<input type="hidden" name="PSPID" value="@Model.PspId">
	<input type="hidden" name="ORDERID" value="@Model.OrderId">
	<input type="hidden" name="AMOUNT" value="@Model.Amount">
	<input type="hidden" name="CURRENCY" value="@Model.Currency">
	<input type="hidden" name="LANGUAGE" value="@Model.Language">
	<!-- optional customer details, highly recommended for fraud prevention: see General
		parameters and optional customer details -->
	@*<input type="hidden" name="CN" value="">*@
	<input type="hidden" name="EMAIL" value="@Model.Email">
	@*<input type="hidden" name="OWNERZIP" value="">
		<input type="hidden" name="OWNERADDRESS" value="">
		<input type="hidden" name="OWNERCTY" value="">
		<input type="hidden" name="OWNERTOWN" value="">
		<input type="hidden" name="OWNERTELNO" value="">
		<input type="hidden" name="COM" value="">*@

	<!-- check before the payment: see SHA-IN signature -->
	<input type="hidden" name="SHASIGN" value="@Model.ShaSign">
	<!-- layout information: see Look & Feel of the Payment Page -->
	@*<input type="hidden" name="TITLE" value="">
		<input type="hidden" name="BGCOLOR" value="">
		<input type="hidden" name="TXTCOLOR" value="">
		<input type="hidden" name="TBLBGCOLOR" value="">
		<input type="hidden" name="TBLTXTCOLOR" value="">
		<input type="hidden" name="BUTTONBGCOLOR" value="">*@

	@*<input type="hidden" name="BUTTONTXTCOLOR" value="">
		<input type="hidden" name="LOGO" value="">
		<input type="hidden" name="FONTTYPE" value="">*@
	<!-- dynamic template page: see Look & Feel of the Payment Page -->
	@*<input type="hidden" name="TP" value="">*@

	<!-- payment methods/page specifics: see Payment method and payment page
		specifics -->
	@*<input type="hidden" name="PM" value="@Model.PM">
		<input type="hidden" name="BRAND" value="@Model.Brand">*@

	<input type="hidden" name="PM" value="">
	<input type="hidden" name="BRAND" value="">

	@*<input type="hidden" name="WIN3DS" value="">
		<input type="hidden" name="PMLIST" value="">
		<input type="hidden" name="PMLISTTYPE" value="">*@
	<!-- link to your website: see Default reaction -->
	<input type="hidden" name="HOMEURL" value="@Model.HomeUrl">
	<input type="hidden" name="CATALOGURL" value="@Model.CatalogUrl">

	<!-- post payment parameters: see Redirection depending on the payment result -->
	@*<input type="hidden" name="COMPLUS" value="">
		<input type="hidden" name="PARAMPLUS" value="">*@

	<!-- post payment parameters: see Direct feedback requests (Post-payment) -->
	@*<input type="hidden" name="PARAMVAR" value="">*@

	<!-- post payment redirection: see Redirection depending on the payment result -->
	<input type="hidden" name="ACCEPTURL" value="@Model.AcceptUrl">
	<input type="hidden" name="DECLINEURL" value="@Model.DeclineUrl">
	<input type="hidden" name="EXCEPTIONURL" value="@Model.ExceptionUrl">
	<input type="hidden" name="CANCELURL" value="@Model.CancelUrl">

	<!-- optional operation field: see Operation -->
	@*<input type="hidden" name="OPERATION" value="">*@

	<!-- optional extra login detail field: see User field -->
	@*<input type="hidden" name="USERID" value="">*@

	<!-- Alias details: see Alias Management documentation -->
	@*<input type="hidden" name="ALIAS" value="">
		<input type="hidden" name="ALIASUSAGE" value="">
		<input type="hidden" name="ALIASOPERATION" value="">*@
	<input type="submit" value="Submit" id="submit2" name="SUBMIT2" style="display: none;">
</form>

