﻿@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@model StarringJane.Worldline.Sips.Models.PaymentInfo
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}

<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Nop.Plugin.Payments.Worldline.Cancel.OrderCancelled")</h1>
    </div>
    <div class="page-body checkout-data">
        <div class="page-body checkout-data">
            <div class="section order-completed">
                <div class="title">
                    <strong>@T("Nop.Plugin.Payments.Worldline.Cancel.OrderCancelledByUser")</strong>
                </div>
                <ul class="details">
                    <li>
                        @T("Nop.Plugin.Payments.Worldline.Cancel.OrderId"): @Model.Data["orderId"]
                    </li>
                </ul>
                <div class="buttons">
                    <input type="button" value="@T("Nop.Plugin.Payments.Worldline.Cancel.ContinueShopping")" class="button-1 order-completed-continue-button" onclick="setLocation('/')"/>
                    <input type="button" value="@T("Order.Reorder")" class="button-1 re-order-button" onclick="setLocation('/reorder/@Model.Data["orderId"]')"/>
                </div>
            </div>

        </div>
        @Html.Widget("checkout_confirm_top")
        @Html.Widget("checkout_confirm_bottom")
    </div>
</div>