﻿@model TopMenuModel
@using Nop.Web.Models.Catalog;

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	<ul class="nav navbar-nav navbar-right">
		<li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
        <li><a href="@Url.RouteUrl("Topic", new { SeName ="about-us" })">@T("AboutOx")</a></li>
		<li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
		<li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
        <li><a href="/cart">@T("Cart")</a></li>
		@if (Model.IsAuthenticated)
		{
			<li><a href="/PublicCustomer/Welcome">@T("account.myaccount")</a></li>			
			<li><a href="/logout" class="dropdown-toggle">@T("Account.Logout")<span class="caret"></span></a></li>
		}
		else
		{
			<li><a href="/login" class="dropdown-toggle">@T("Account.Login")<span class="caret"></span></a></li>
		}
		@*<li class="dropdown">
				@if (Model.IsAuthenticated)
				{
					<a href="/logout" class="dropdown-toggle">LOG OUT<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/PublicCustomer/Welcome">PROFILE</a></li>
						<li><a href="/cart">MIJN BESTELLINGEN</a></li>
					</ul>
				}
				else
				{
					<a href="/login" class="dropdown-toggle">INLOGGEN?<span class="caret"></span></a>
				}

			</li>*@
	</ul>

</div>



