﻿@model IEnumerable<ProductOverviewModel>
@using Nop.Web.Models.Catalog;

@{
	var counter = 0;
	var slideString = "</div><div class=\"slide\">";
}
@*<script src="@Url.Content("~/Themes/Oxtheme/content/js/jquery.bxslider.js")"></script>*@

<script>



	$(document).ready(function ()
	{
		$('.slider1').bxSlider({
			slideWidth: 1230,
			minSlides: 1,
			maxSlides: 1,
			slideMargin: 5
		});
	});


	function addToCart(link, id)
	{
		var qtyVal = $('#qty-' + id).val();
		AjaxCart.addproducttocart_catalog(link + qtyVal);
		return false;
	}


</script>



<div class="slider1">
	<div class="slide">
		@foreach (var item in Model.ToList())
		{
			if (counter == 3)
			{
				counter = 0;
				@Html.Raw(slideString)
			}
			<div class="row">
				<div class=" products under-Container">
					<div class="Product col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="ProductImg col-xs-4 col-sm-2 col-md-2 col-lg-2">
							<img alt="Product Image" width="249px" height="183px" src="@item.DefaultPictureModel.ImageUrl">
						</div><!--img-->
						<div class="ProductContent col-xs-8 col-sm-10 col-md-10 col-lg-10">
							<div class="ProductName col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class=" col-xs-12 col-sm-10 col-md-10 col-lg-10"><a href="@item.SeName"><p>@item.Name</p></a><span>@item.ProductPrice.Price</span></div>
								<div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
							</div><!--ProductName-->
							<div class="ProductText col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="Text col-xs-12 col-sm-7 col-md-8 col-lg-8">
									@Html.Raw(item.FullDescription)
								</div><!--Text-->
								<div class="QtyCart col-xs-12 col-sm-5 col-md-4 col-lg-4">
									<span class="qty"><input id="qty-@item.Id" name="qty-@item.Id" type="number" value="2"></span>
									@{
				var addurl = "/addproducttocart/catalog/" + item.Id + "/1/";
									}
									<span><button onclick="addToCart('@addurl',@item.Id)">BESTELLEN</button></span>

								</div><!--QtyCart-->
							</div><!--ProductText-->

						</div><!--ProductContent-->

					</div><!--Product-->
				</div><!--Products-->
			</div><!--Product Row-->
			counter++;
		}
	</div>

</div>



@*<div id="owl-demo1" class="owl-carousel">
		<div class="item">
			<div class="ProductSlide">
				@foreach (var item in Model.ToList())
				{
					if (counter == 3)
					{
						counter = 0;
						@Html.Raw(slideString)
					}
					<div class="row">
						<div class=" products under-Container">
							<div class="Product col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="ProductImg col-xs-4 col-sm-2 col-md-2 col-lg-2">
									<img alt="Product Image" width="249px" height="183px" src="@item.DefaultPictureModel.ImageUrl">
								</div><!--img-->
								<div class="ProductContent col-xs-8 col-sm-10 col-md-10 col-lg-10">
									<div class="ProductName col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class=" col-xs-12 col-sm-10 col-md-10 col-lg-10"><a href="@item.SeName"><p>@item.Name</p></a><span>@item.ProductPrice.Price</span></div>
										<div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
									</div><!--ProductName-->
									<div class="ProductText col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="Text col-xs-12 col-sm-7 col-md-8 col-lg-8">
											@Html.Raw(item.FullDescription)
										</div><!--Text-->
										<div class="QtyCart col-xs-12 col-sm-5 col-md-4 col-lg-4">
											<span class="qty"><input id="qty-@item.Id" name="qty-@item.Id" type="number" value="2"></span>
											@{
					var addurl = "/addproducttocart/catalog/" + item.Id + "/1/";
											}
											<span><button onclick="addToCart('@addurl',@item.Id)">BESTELLEN</button></span>

										</div><!--QtyCart-->
									</div><!--ProductText-->

								</div><!--ProductContent-->

							</div><!--Product-->
						</div><!--Products-->
					</div><!--Product Row-->
					counter++;

				}
			</div><!--ProductSlide-->
		</div>
	</div>*@																	