﻿@model List<ProductApiModel>

@using iTextSharp.text.pdf.qrcode
@using Nop.Plugin.PostXCustom.Models.Public.CustomCode

@{										 
	Html.AddTitleParts("PRODUCTS FROM CMS");
	

	Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}

<div class="page category-page">
	<div class="page-title">
		<h1>Products from CMS</h1>
	</div>
	<div class="page-body">
		@if (Model.Any())
		{
			<div class="product-list">
				<div class="item-grid">
					@foreach (var modelItem in Model)
					{
						<div class="item-box">
							<div class="product-item">
								<div class="picture">
									<img alt="@modelItem.name" src="@modelItem.imageLocation" title="@modelItem.name" height="150"  />
								</div>
								<div class="details">
									<h2 class="product-title">
										@modelItem.name
									</h2>

									<div class="sku">
										@modelItem.sku
									</div>

									<div class="description">
										@Html.Raw(modelItem.productType)
									</div>
									<div class="add-info">
										<div class="prices">
											<span class="price actual-price">Price: @modelItem.price</span>					 
											<span class="tax-shipping-info">Delivery Price: @modelItem.deliveryPrice</span>
										</div>
									</div>
								</div>
							</div>

						</div>
					}

				</div>
			</div>
		}

	</div>
</div>

