﻿@model HomePageSubCategoryModel
@using Nop.Plugin.PostXCustom.Models.Public.CustomCode;

@{
	var counter = 0;
	var slideString = "</div></div><div class=\"item\"><div class=\"ProductSlide\">";
}

<script>
	function btnAction3(id) {
		$('.firstTab3').hide();
		$('#tabs-'+id).show();
	}
</script>
		  
@if (Model.SubCategoryList.Any())
{
	foreach (var sc in Model.SubCategoryList.OrderBy(x => x.DisplayOrder).ToList())
	{
		if (counter == 0)
		{
		<script>
			$(document).ready(function () {
				$('#tabs-@sc.Id').show();
			});
		</script>
		}
		else {
			<script>
			$(document).ready(function () {
				$('#tabs-@sc.Id').hide();
			});
			</script>			
		}	
		counter++;
	}
}		  


@if (Model.SubCategoryList.Any())
{
	var count = 0;

	<div class="SubCatDetail under-Container">
		<ul class="nav-list1">
			@foreach (var subCat in Model.SubCategoryList.OrderBy(x => x.DisplayOrder).ToList())
			{
				<li class="subCatTab col-xs-10 col-sm-1 col-md-1 col-lg-1"><button id="tab-@subCat.Id" onclick="btnAction3(@subCat.Id)">@subCat.Name</button></li>
			}																																																	  			
		</ul>
	</div>

	foreach (var subCat in Model.SubCategoryList.OrderBy(x => x.DisplayOrder).ToList())
	{
		if (count == 0)
		{
			<div id="tabs-@subCat.Id" class="ProductBox firstTab3">
				@Html.Action("GetCategoryProducts", "CustomHome", new { categoryId = subCat.Id })
			</div>
		}
		else
		{
			<div id="tabs-@subCat.Id" class="ProductBox breakfastBox firstTab3">
				@Html.Action("GetCategoryProducts", "CustomHome", new { categoryId = subCat.Id })
			</div>
		}
	}
}