﻿@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@using System.Collections.Generic

@model List<string>
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

<div class="page checkout-page">
    <div class="page-title">
        Test
    </div>
    <div class="page-body checkout-data">
       <a href="@Model.FirstOrDefault()" target="_blank">TESTTEST</a>
    </div>
</div>