﻿@{
    Layout = "";
}
@using Nop.Web.Framework
@model Nop.Plugin.Payments.Payzen.Models.ConfigurationModel
@Html.Action("StoreScopeConfiguration", "Setting", new {area = "Admin"})
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">@T("Nop.Plugin.Payments.Payzen.Configure.Notes")</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.UseSandbox)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.UseSandbox)
                        @Html.ValidationMessageFor(model => model.UseSandbox)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ShopId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ShopId)
                        @Html.ValidationMessageFor(model => model.ShopId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.TestCertificate)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.TestCertificate)
                        @Html.ValidationMessageFor(model => model.TestCertificate)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ProductionCertificate)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ProductionCertificate)
                        @Html.ValidationMessageFor(model => model.ProductionCertificate)
                    </div>
                </div>	
                
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
}