﻿@{
	Layout = "";
}					  
@model Nop.Plugin.Payments.Payzen.Models.PaymentInfoModel
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<p><b>Please wait you are being redirected to payment gateway.</b></p>
		</td>
	</tr>
</table>						
<script src="@Url.Content("/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>



<form id="payzenPay" method="POST" action="https://secure.payzen.eu/vads-payment/">
	<input type="hidden" name="vads_action_mode" value="INTERACTIVE"/>
	<input type="hidden" name="vads_amount" value="@Model.vads_amount"/>
	<input type="hidden" name="vads_ctx_mode" value="@Model.vads_ctx_mode"/>
	<input type="hidden" name="vads_currency" value="978"/>
	<input type="hidden" name="vads_page_action" value="PAYMENT"/>
	<input type="hidden" name="vads_payment_config" value="SINGLE"/>
	<input type="hidden" name="vads_site_id" value="@Model.vads_site_id"/>
	<input type="hidden" name="vads_trans_date" value="@Model.vads_trans_date"/>
	<input type="hidden" name="vads_trans_id" value="@Model.vads_trans_id"/>
	<input type="hidden" name="vads_version" value="V2"/>
	<input type="hidden" name="signature" value="@Model.signature"/>
	@*<input  type="submit" name="pay" value="Pay"/>*@
</form> 										

<script type="text/javascript">
	$(document).ready(function() {

		$('#payzenPay').submit();

	});

</script>