﻿@{
	Layout = "";
}					  
@model Nop.Plugin.Payments.Payzen.Models.PaymentInfoModel
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<p><b>@ViewBag.Message</b></p>
		</td>
	</tr>
</table>						
<script src="@Url.Content("/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>



 										
