﻿@using Nop.Plugin.PostXCustom.Models.Public.Checkout
@using Nop.Web.Framework.UI
@model CheckoutCompletedModel

@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//title
	Html.AddTitleParts(T("PageTitle.Checkout").Text);
	//page class
	Html.AppendPageCssClassParts("html-checkout-page");
	Html.AppendPageCssClassParts("html-order-completed-page");
}
<div class="Thankspage">
	<div class="ProductBox">
		<div class="row">
			<div class="ProductTitle Thanks col-xs-12 col-sm-12 col-md-12 col-lg-12">
			</div>
		</div><!--Tittle Row-->

		<div class="row">
			<div class="Thanking col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"> </div>

				<div class="Thanks_Content col-xs-12 col-sm-10 col-md-10 col-lg-10">

					<h1>@T("Checkout.ThankYou")</h1>
					<p>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</p>

					<div class="details">
						<div class="order-number">
							<strong>@T("Checkout.OrderNumber"): @Model.CustomOrderNumber</strong>
						</div>
						<div class="details-link">
							<a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
						</div>
					</div>
				</div>
				<div class="buttons">
					<input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-1 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
				</div>
				<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"> </div>
			</div>
		</div>
	</div>
</div>																					