﻿@model Nop.Web.Models.Common.SocialModel
															 
<li class="social"><span><a href="@Model.FacebookLink" target="_blank" title="@T("Footer.FollowUs.Facebook")"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></span><span><a href="@Model.InstagramLink" target="_blank" title="@T("Footer.FollowUs.Instagram")"><i class="fa fa-instagram" aria-hidden="true"></i></a></span></li>