﻿@using System.Web.Mvc;
	@{
			Layout = "";

	}
@using Nop.Services.Logging;
@using Nop.Core.Infrastructure;
@using Nop.Core.Domain.Logging;
@{	
 var logger = EngineContext.Current.Resolve<ILogger>();
 logger.InsertLog(LogLevel.Information, "Oxcfe web page");
			}



	<style>
		body {
			margin: 0;
			padding: 0;
		}

		.navbar-default {
			background-color: #fabe0e;
		}

		button {
			background: #7bbc00;
			color: #fff;
		}

		.navbar-brand > img {
			width: 47px;
		}

		.navbar-brand {
			height: 50px;
			padding: 11px 0;
			display: table;
			margin-left: 10px;
		}

		.bodyPart > p:first-child {
			color: #7bbc00;
			font-weight: 700;
			font-size: 30px;
		}

		.bodyPart > p:not(:first-child) {
			font-weight: 700;
			font-size: 24px;
		}

		.bodyPart {
			margin: 10px 20px;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
	</style>

	<body>



		<div class="bodyPart">
			<p>Bedankt voor uw bestelling!</p>

			<p>Wij hebben uw bestelling en betaling succesvol ontvangen en zullen deze in behandeling nemen.</p>
			<p>Er is een bevestiging van uw bestelling naar uw e-mailadres gestuurd.</p>
			<!--<p>Dit scherm sluit automatisch in 5 seconden</p>-->
			<p>@ViewBag.Message</p>
			<!--<p>@ViewBag.AutoClose</p>-->
		</div>
	</body>
