﻿@using System.Web.Mvc;
	@{
	Layout = "";
           
	}
<style>
body{margin:0;padding:0; }
.navbar-default {background-color: #fabe0e;}
button {background: #7bbc00;color: #fff;}
.navbar-brand > img {width: 47px;}
.navbar-brand {height: 50px;padding: 11px 0;display: table;margin-left:10px;}
.bodyPart > p:first-child{color: #7bbc00; font-weight: 700; font-size:30px;}
.bodyPart > p:not(:first-child){font-weight: 700; font-size:24px;}
.bodyPart{margin:10px 20px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
</style>


 
<body>  
	
<div class="bodyPart">
<div style="color: #7bbc00; font-weight: 700; font-size:24px; margin-top:50px;">U heeft uw bestelling geannuleerd en kunt deze (opnieuw) afronden via "uw account"</div>
<br/>

</div>
</body>
<br/>





