﻿@model Nop.Plugin.PostXCustom.Models.CompanyRepresentativeCustomer.CustomerModel
@using Nop.Web.Framework
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Events;
@using Nop.Services.Events;
@Html.HiddenFor(model => model.Id)
	
	@*Customization SalesPerson *@
<script>
    $(document).ready(function() {
        bindBootstrapTabSelectEvent('customer-view');
    });
</script>

<div class="content">
    <div class="form-horizontal">
        <div id="customer-view" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Admin.Customers.Customers.Info"), true)
                @if (Model.Id > 0)
                {
                    @Html.RenderBootstrapTabHeader("tab-orders", @T("Admin.Customers.Customers.Orders"))	                 
                }              
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
                @if (Model.Id > 0)
                {
                    @Html.RenderBootstrapTabContent("tab-orders", @TabOrders())                  
                }               
            </div>
        </div>
    </div>
</div>

@{
    //custom tabs
	var eventMessage = new AdminTabStripCreated(this.Html, "customer-view");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab name*@
<input type="hidden" id="selected-tab-name" name="selected-tab-name" value="@(Html.GetSelectedTabName())">

@helper TabInfo()
{
     <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @if (Model.UsernamesEnabled)
                {
                    
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Username)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.Username)
                            </div>
                        </div>
                    
                }
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Email)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDisplayFor(model => model.Email)                       
                    </div>
                </div>             
           
                
                @if (Model.GenderEnabled)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Gender)
                        </div>
						  	<div class="col-md-9">
								  @if (Model.Gender == "M")
								  { @T("Admin.Customers.Customers.Fields.Gender.Male") }
								  else
								  {   @T("Admin.Customers.Customers.Fields.Gender.Female") } 
						  </div>
                        
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.FirstName)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDisplayFor(model => model.FirstName)
                      
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.LastName)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDisplayFor(model => model.LastName)
                     
                    </div>
                </div>
                @if (Model.DateOfBirthEnabled)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.DateOfBirth)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.DateOfBirth)
                           
                        </div>
                    </div>
                }
                @if (Model.CompanyEnabled)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Company)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.Company)
                          
                        </div>
                    </div>
                }
                @if (Model.StreetAddressEnabled)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.StreetAddress)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.StreetAddress)
                         
                        </div>
                    </div>
                }
                @if (Model.StreetAddress2Enabled)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.StreetAddress2)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.StreetAddress2)
                           
                        </div>
                    </div>
                }
                @if (Model.ZipPostalCodeEnabled)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.ZipPostalCode)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.ZipPostalCode)
                           
                        </div>
                    </div>
                }
                @if (Model.CityEnabled)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.City)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.City)
                        
                        </div>
                    </div>
                }
                @if (Model.CountryEnabled)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CountryId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.CountryName)
                         
                        </div>
                    </div>
                }
                @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.StateProvinceId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.StateName)
                           
                        </div>
                    </div>
                }
                @if (Model.PhoneEnabled)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Phone)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.Phone)
                           
                        </div>
                    </div>
                }
                @if (Model.FaxEnabled)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Fax)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.Fax)
                            
                        </div>
                    </div>
                }	           
               
                @if (Model.Id > 0)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.CreatedOn)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.CreatedOn)
                        </div>
                    </div>
                }
                @if (Model.Id > 0)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.LastActivityDate)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.LastActivityDate)
                        </div>
                    </div>
                }
                @if (Model.Id > 0 && !String.IsNullOrEmpty(Model.LastVisitedPage))
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.LastVisitedPage)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDisplayFor(model => model.LastVisitedPage)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
@helper TabOrders()
{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="order-grid"></div>

                <script>
                    $(document).ready(function () {
                        $("#order-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("OrderList", "NavNopSalesPersonCustomers", new { customerId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            
                            scrollable: false,
                            columns: [{
                                field: "Id",
                                title: "@T("Admin.Customers.Customers.Orders.ID")",
                                width: 50
                            }, {
                                field: "OrderTotal",
                                title: "@T("Admin.Customers.Customers.Orders.OrderTotal")",
                                width: 200
                            }, {
                                field: "OrderStatus",
                                title: "@T("Admin.Customers.Customers.Orders.OrderStatus")",
                                width: 200,
                                template: '<span class="grid-report-item ' +
                                                    '# if(OrderStatusId == 10) {# yellow #} #' +
                                                    '# if(OrderStatusId == 20) {# blue #} #' +
                                                    '# if(OrderStatusId == 30) {# green #} #' +
                                                    '# if(OrderStatusId == 40) {# red #} #' +
                                                    '">#=OrderStatus#</span>'
                            }, {
                                field: "PaymentStatus",
                                title: "@T("Admin.Customers.Customers.Orders.PaymentStatus")",
                                width: 200
                            }, {
                                field: "ShippingStatus",
                                title: "@T("Admin.Customers.Customers.Orders.ShippingStatus")",
                                width: 200
                            }, {
                                field: "StoreName",
                                title: "@T("Admin.Customers.Customers.Orders.Store")",
                                width: 200
                            }, {
                                field: "CreatedOn",
                                title: "@T("Admin.Customers.Customers.Orders.CreatedOn")",
                                width: 200,
                                type: "date",
                                format: "{0:G}"
                            }] 
                        });
                    });
                </script>
            </div>
        </div>
    </div>
}