﻿@{
	Layout = "";
}

@model Nop.Plugin.PostXCustom.Models.CompanyRepresentativeCustomer.CompanyRepresentativeCustomerModel 
@using Nop.Web.Framework;

<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			@T("PostXCustom.CompanyRepresentative")
		</div>
		@Html.HiddenFor(x => x.RecordId)
		@Html.HiddenFor(x => x.AssociatedCustomerId)
		<div class="panel-body">
			<div class="form-group">
				<div class="col-md-9 col-md-offset-3">
					<span id="successMessage"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-3">
					@Html.NopLabelFor(model => model.CompanyRepresentativeId)
				</div>
				<div class="col-md-9">
					@Html.NopDropDownListFor(model => model.CompanyRepresentativeId, Model.CompanyRepresentativeList)
					@Html.ValidationMessageFor(model => model.CompanyRepresentativeId)
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-9 col-md-offset-3">
					<button type="button" id="assignCompanyRepresentative" class="btn btn-primary">@T("PostXCustom.AssignCompanyRepresentative")</button>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function () {
		$('#assignCompanyRepresentative').click(function ()
		{
			var recordId = $("#@Html.FieldIdFor(model => model.RecordId)").val();
			var associatedCustomerId = $("#@Html.FieldIdFor(model => model.AssociatedCustomerId)").val();
			var companyRepresentativeId = $("#@Html.FieldIdFor(model => model.CompanyRepresentativeId)").val();
			$('#assignCompanyRepresentative').attr('disabled', true);

			var postData = {
				recordId: recordId,
				associatedCustomerId: associatedCustomerId,
				companyRepresentativeId: companyRepresentativeId
				};
			addAntiForgeryToken(postData);

			$.ajax({
				cache:false,
				type: "POST",
				url: "@(Url.Action("AssignCompanyRepresentative", "CompanyRepresentative"))",
				data: postData,
				success: function (data)
				{
					if (data.Result == true)
					{
						$('#successMessage').html(data.Message);
					}
					else
					{
						$('#successMessage').html(data.Message);
					}
					$('#assignCompanyRepresentative').attr('disabled', false);
				},
				error:function (xhr, ajaxOptions, thrownError){
					alert('Failed to assign company representative points.');
					$('#assignCompanyRepresentative').attr('disabled', false);
				}
			});
		});
	});
</script>