﻿@using Nop.Web.Framework.UI
@model Nop.Plugin.PostXCustom.Models.CompanyRepresentativeCustomer.CustomerModel

@{
    //page title
    ViewBag.Title = T("Admin.Customers.Customers.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers list");

	 Layout = "~/admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Customers.Customers.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Customers.Customers.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @Html.Partial("~/Plugins/PostXCustom/Views/CompanyRepresentative/_CreateOrUpdate.cshtml", Model)
}