@model OrderDetailsModel
@using Nop.Plugin.PostXCustom.Models.Public.Order
@using Nop.Web.Framework.UI
@using Nop.Web.Framework
@{
    if (!Model.PrintMode)
    {
        Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Print.cshtml";
    }
    //title
    Html.AddTitleParts(T("PageTitle.OrderDetails").Text);
    //page class
    Html.AppendPageCssClassParts("html-order-details-page");
}




@if (Model.PrintMode)
{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            window.print();
        });
    </script>
}
<div class="under-Container">
    <div class="Cart_Page">
        <div class="page order-details-page">
            @if (!Model.PrintMode)
            {
                <div class="page-title">
                    <h1>@T("Order.OrderInformation")</h1>
                    @*<a href="@Url.RouteUrl("PrintOrderDetails", new { orderId = Model.Id })" target="_blank" class="button-2 print-order-button">@T("Order.Print")</a>*@
                    @if (!Model.PdfInvoiceDisabled)
                    {
                        <a href="@Url.RouteUrl("PublicGetOrderPdfInvoice", new { orderId = Model.Id })" class="button-2 pdf-invoice-button">@T("Order.GetPDFInvoice")</a>
                    }
                </div>}
            <div class="page-body">
                @Html.Widget("orderdetails_page_top", Model.Id)
                <div class="order-overview">
                    <div class="order-number">
                        <strong>@T("Order.Order#")@Model.CustomOrderNumber</strong>
                    </div>
                    <ul class="order-overview-content">
                        <li class="order-date">
                            @T("Order.OrderDate"): @Model.CreatedOn.ToString("D")
                        </li>
                        <li class="order-status">
                            @T("Order.OrderStatus"): @Model.OrderStatus
                        </li>
                        <li class="order-total">
                            @T("Order.OrderTotal"): <strong>@Model.OrderTotal</strong>
                        </li>
                    </ul>
                    @Html.Widget("orderdetails_page_overview", Model.Id)
                </div>
                <div class="order-details-area">
                    <div class="billing-info-wrap">
@if (Model.ShippingAddress != null)
{
                        <div class="billing-info">
                            <div class="title">
                                <strong>@(Model.PickUpInStore ? T("Order.PickupAddress") : T("Order.ShippingAddress"))</strong>
                            </div>
                            <ul class="info-list">
                                @if (!Model.PickUpInStore)
                                {
                                    @*<li class="name">
                                        @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName
                                    </li>
                                    <li class="email">
                                        @T("Order.Email"): @Model.ShippingAddress.Email
                                    </li>*@
                                    if (Model.ShippingAddress.PhoneEnabled)
                                    {
                                        <li class="phone">
                                            @T("Order.Phone"): @Model.ShippingAddress.PhoneNumber
                                        </li>
                                    }
                                    if (Model.ShippingAddress.FaxEnabled)
                                    {
                                        <li class="fax">
                                            @T("Order.Fax"): @Model.ShippingAddress.FaxNumber
                                        </li>
                                    }
                                    if (Model.ShippingAddress.CompanyEnabled && !String.IsNullOrEmpty(Model.ShippingAddress.Company))
                                    {
                                        <li class="company">
                                            @Model.ShippingAddress.Company
                                        </li>
                                    }
                                    if (Model.ShippingAddress.StreetAddressEnabled)
                                    {
                                        <li class="address1">
                                            @Model.ShippingAddress.Address1
                                        </li>
                                    }
                                    if (Model.ShippingAddress.StreetAddress2Enabled && !String.IsNullOrEmpty(Model.ShippingAddress.Address2))
                                    {
                                        <li class="address2">
                                            @Model.ShippingAddress.Address2
                                        </li>
                                    }
                                    if (Model.ShippingAddress.CityEnabled ||
                                        Model.ShippingAddress.StateProvinceEnabled ||
                                        Model.ShippingAddress.ZipPostalCodeEnabled)
                                    {
	                                    <li class="city-state-zip">	 
		                                    @if (Model.ShippingAddress.ZipPostalCodeEnabled)
		                                    {
			                                    @Model.ShippingAddress.ZipPostalCode <text> </text>

		                                    }
		                                    @if (Model.ShippingAddress.CityEnabled)
                                            {
                                                @Model.ShippingAddress.City
                                            }
                                            @if (Model.ShippingAddress.CityEnabled && Model.ShippingAddress.StateProvinceEnabled)
                                            {
                                                <text> </text>
                                            }
                                            @if (Model.ShippingAddress.StateProvinceEnabled)
                                            {
                                                @Model.ShippingAddress.StateProvinceName
                                            }
                                            
                                        </li>
                                    }
                                    if (Model.ShippingAddress.CountryEnabled && !String.IsNullOrEmpty(Model.ShippingAddress.CountryName))
                                    {
                                        <li class="country">
                                            @Model.ShippingAddress.CountryName
                                        </li>
                                    }
                                    if (!String.IsNullOrEmpty(Model.ShippingAddress.FormattedCustomAddressAttributes))
                                    {
                                        <li class="custom-attributes-view">
                                            @Html.Raw(Model.ShippingAddress.FormattedCustomAddressAttributes)
                                        </li>
                                    }
                                }
                                else
                                {
                                    if (!string.IsNullOrEmpty(Model.PickupAddress.Address1))
                                    {
                                        <li class="address1">
                                            @Model.PickupAddress.Address1
                                        </li>
                                    }
                                    if (!string.IsNullOrEmpty(Model.PickupAddress.City) || !string.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                                    {
                                        <li class="city-state-zip">
                                            @if (!string.IsNullOrEmpty(Model.PickupAddress.City))
                                            {
                                                @Model.PickupAddress.City
                                            }
                                            @if (!string.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                                            {
                                                <text>,</text>
                                                @Model.PickupAddress.ZipPostalCode
                                            }
                                        </li>
                                    }
                                    if (!string.IsNullOrEmpty(Model.PickupAddress.CountryName))
                                    {
                                        <li class="country">
                                            @Model.PickupAddress.CountryName
                                        </li>
                                    }
                                }
                            </ul>
                        </div>

}

                        @if (!String.IsNullOrEmpty(Model.PaymentMethod))
                        {
                            <div class="payment-method-info">
                                <div class="title">
                                    <strong>@T("Order.Payment")</strong>
                                </div>
                                <ul class="info-list">
                                    <li class="payment-method">
                                        <span>
                                            <strong>@T("Order.Payment.Method"):</strong>
                                        </span>
                                        <span class="value">
                                            @Model.PaymentMethod
                                        </span>
                                    </li>
                                    @if (!Model.PrintMode)
                                    {
                                        <li class="payment-method-status">
                                            <span>
                                                <strong>@T("Order.Payment.Status"):</strong>
                                            </span>
                                            <span class="value">
                                                @Model.PaymentMethodStatus
                                            </span>
                                        </li>
                                    }
                                    @if (!Model.PrintMode && Model.CanRePostProcessPayment)
                                    {
                                        @*Complete payment (for redirection payment methods)*@
                                        <li class="repost">
                                            @using (Html.BeginRouteForm("OrderDetails", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <input type="submit" name="repost-payment" value="@T("Order.RetryPayment")" class="button-1 re-order-button" />
                                                <p class="hint">
                                                    <em>@T("Order.RetryPayment.Hint")</em>
                                                </p>
                                            }
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                    @if (Model.IsShippable)
                    {

                    }
                </div>
                @if (Model.Items.Count > 0)
                {
                    if (!Model.PrintMode && Model.OrderNotes.Count > 0)
                    {
                        <div class="section order-notes">
                            <div class="title">
                                <strong>@T("Order.Notes")</strong>
                            </div>
                            <div class="table-wrapper">
                                <table class="data-table">
                                    <colgroup>
                                        <col />
                                        <col />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th class="created-on">
                                                @T("Order.Notes.CreatedOn")
                                            </th>
                                            <th class="note">
                                                @T("Order.Notes.Note")
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrderNotes)
                                        {
                                            <tr>
                                                <td class="created-on">
                                                    @item.CreatedOn.ToString()
                                                </td>
                                                <td class="note">
                                                    @Html.Raw(item.Note)
                                                    @if (item.HasDownload)
                                                    {
                                                        <p class="download">
                                                            <a href="@Url.RouteUrl("GetOrderNoteFile", new { ordernoteid = item.Id })">@T("Order.Notes.Download")</a>
                                                        </p>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    @Html.Widget("orderdetails_page_beforeproducts", Model.Id)
                    <div class="section products">
                        <div class="title">
                            <strong>@T("Order.Product(s)")</strong>
                        </div>

                        <div class="row">
                            <div class="Cart col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row heading">
                                    <div class="name col-xs-12 col-sm-6 col-md-6 col-lg-6">@T("Order.Product(s).Name")</div>
                                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">@T("Order.Product(s).Price")</div>
                                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">@T("Order.Product(s).Quantity")</div>
                                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">@T("Order.Product(s).Total")</div>

                                </div><!--Heading Row-->
                                <div class="row responsive">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="Desc col-xs-6">DESCRIPTION</div>
                                        <div class="Price col-xs-6">PRIJS</div>
                                    </div>
                                </div><!--Heading Row for responsive-->
                                @foreach (var item in Model.Items)
                                {

                                    <div class="row Content">
                                        <div class=" cart_ProductText col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="row CartDetail">
                                                <div class=" nameCartProduct col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    @if (!Model.PrintMode)
                                                    {
                                                        <em><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a></em>
                                                    }
                                                    else
                                                    {
                                                        @item.ProductName
                                                    }
                                                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                                    {
                                                        <div class="attributes">
                                                            @Html.Raw(item.AttributeInfo)
                                                        </div>
                                                    }
                                                </div>
                                                <div class="priceDiv col-xs-6 col-sm-2 col-md-2 col-lg-2">
                                                    <label class="td-title">@T("Order.Product(s).Price"):</label>
                                                    <span class="product-unit-price">@item.UnitPrice</span>
                                                </div>
                                                <div class="qtyDiv col-xs-6 col-sm-2 col-md-2 col-lg-">
                                                    <label class="td-title">@T("Order.Product(s).Quantity"):</label>
                                                    <span class="product-quantity">@item.Quantity</span>
                                                </div>
                                                <div class="Tot col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                                    <label class="td-title">@T("Order.Product(s).Total"):</label>
                                                    <span class="product-subtotal">@item.SubTotal</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }



                                <div class="cart-footer col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    @Html.Widget("order_summary_cart_footer")

                                    <div class="row CartTotel">

                                        @if (Model.RedeemedRewardPoints > 0)
                                        {
                                            <div class="RedeemedPoints_Amount col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="Total col-xs-6 col-sm-6 col-md-6 col-lg-6">@string.Format(T("Order.RewardPoints").Text, Model.RedeemedRewardPoints)</div>
                                                <div class="Ammount col-xs-6 col-sm-6 col-md-6 col-lg-6">@Model.RedeemedRewardPointsAmount</div>
                                            </div>
                                        }

                                        @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
                                        {
                                            <div class="Total_Amount col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="Total col-xs-6 col-sm-2 col-md-2 col-lg-6">@T("Order.TotalDiscount")</div>
                                                <div class="Ammount col-xs-6 col-sm-2 col-md-2 col-lg-6">@Model.OrderTotalDiscount</div>
                                            </div>
                                        }
                                        @if (Model.GiftCards.Count > 0)
                                        {
                                            foreach (var gc in Model.GiftCards)
                                            {
                                                <div class="Total_Amount col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="Total col-xs-6 col-sm-2 col-md-2 col-lg-6">@string.Format(T("Order.GiftCardInfo").Text, gc.CouponCode)</div>
                                                    <div class="Ammount col-xs-6 col-sm-2 col-md-2 col-lg-6">@gc.Amount</div>
                                                </div>
                                            }
                                        }


                                        <div class="Total_Amount col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="Total col-xs-6 col-sm-2 col-md-2 col-lg-6">@T("Order.OrderTotal")</div>
                                            <div class="Ammount col-xs-6 col-sm-2 col-md-2 col-lg-6">@Model.OrderTotal</div>
                                        </div>

                                        @*<table class="cart-total">
                                                <tbody>
                                                    <tr>
                                                        <td class="cart-total-left">
                                                            <label>@T("Order.SubTotal"):</label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span>@Model.OrderSubtotal</span>
                                                        </td>
                                                    </tr>
                                                    @if (!string.IsNullOrEmpty(Model.OrderSubTotalDiscount))
                                                    {
                                                        <tr>
                                                            <td class="cart-total-left">
                                                                <label>@T("Order.SubTotalDiscount"):</label>
                                                            </td>
                                                            <td class="cart-total-right">
                                                                <span>@Model.OrderSubTotalDiscount</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                    @if (Model.IsShippable)
                                                    {
                                                        <tr>
                                                            <td class="cart-total-left">
                                                                <label>@T("Order.Shipping"):</label>
                                                            </td>
                                                            <td class="cart-total-right">
                                                                <span>@Model.OrderShipping</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                    @if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
                                                    {
                                                        <tr>
                                                            <td class="cart-total-left">
                                                                <label>@T("Order.PaymentMethodAdditionalFee"):</label>
                                                            </td>
                                                            <td class="cart-total-right">
                                                                <span>@Model.PaymentMethodAdditionalFee</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                    @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
                                                    {
                                                        foreach (var taxRate in Model.TaxRates)
                                                        {
                                                            <tr>
                                                                <td class="cart-total-left">
                                                                    <label>@string.Format(T("Order.TaxRateLine").Text, taxRate.Rate):</label>
                                                                </td>
                                                                <td class="cart-total-right">
                                                                    <span>@taxRate.Value</span>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    @if (Model.DisplayTax)
                                                    {
                                                        <tr>
                                                            <td class="cart-total-left">
                                                                <label>@T("Order.Tax"):</label>
                                                            </td>
                                                            <td class="cart-total-right">
                                                                <span>@Model.Tax</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                    @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
                                                    {
                                                        <tr>
                                                            <td class="cart-total-left">
                                                                <label>@T("Order.TotalDiscount"):</label>
                                                            </td>
                                                            <td class="cart-total-right">
                                                                <span>@Model.OrderTotalDiscount</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                    @if (Model.GiftCards.Count > 0)
                                                    {
                                                        foreach (var gc in Model.GiftCards)
                                                        {
                                                            <tr>
                                                                <td class="cart-total-left">
                                                                    <label>@string.Format(T("Order.GiftCardInfo").Text, gc.CouponCode):</label>
                                                                </td>
                                                                <td class="cart-total-right">
                                                                    <span>@gc.Amount</span>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    @if (Model.RedeemedRewardPoints > 0)
                                                    {
                                                        <tr>
                                                            <td class="cart-total-left">
                                                                <label>@string.Format(T("Order.RewardPoints").Text, Model.RedeemedRewardPoints):</label>
                                                            </td>
                                                            <td class="cart-total-right">
                                                                <span>@Model.RedeemedRewardPointsAmount</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <td class="cart-total-left">
                                                            <label>@T("Order.OrderTotal"):</label>
                                                        </td>
                                                        <td class="cart-total-right">
                                                            <span><strong>@Model.OrderTotal</strong></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>*@

                                    </div>

                                </div>






                            </div>
                        </div>





                        @*@if (Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
                            {
                                var inclTax = Model.PricesIncludeTax;
                                //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                                //of course, you can modify appropriate locales to include VAT info there
                                <div class="tax-shipping-info">
                                    @T(inclTax ? "Order.TaxShipping.InclTax" : "Order.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                                </div>
                            }*@
                    </div>
                    @Html.Widget("orderdetails_page_afterproducts", Model.Id)
                    <div class="section options">
                        @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
                        {
                            <div class="selected-checkout-attributes">
                                @Html.Raw(Model.CheckoutAttributeInfo)
                            </div>
                        }
                    </div>
                    <div class="section totals">
                        <div class="total-info">

                        </div>
                        @if (!Model.PrintMode)
                        {
                            <div class="actions">
                                @if (Model.IsReOrderAllowed)
                                {
                                    <input type="button" value="@T("Order.Reorder")" class="button-1 re-order-button" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = Model.Id }) ')" />
                                }
                                @if (Model.IsReturnRequestAllowed)
                                {
                                    <input type="button" value="@T("Order.ReturnItems")" class="button-2 return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = Model.Id })    ')" />
                                }
                            </div>
                        }
                    </div>
                }
                @Html.Widget("orderdetails_page_bottom", Model.Id)
            </div>
        </div>
    </div>
</div>
