﻿@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@*@section left
    {
        @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
    }*@

<div class="under-Container">
    <div class="Profile_Page">
        <div class="ProductBox">
            <div class="row">
                <div class="ProductTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="Titel"><h1>@T("Account.MyAccount") - @T("Account.ChangePassword")</h1></div>
                </div>
            </div><!--Tittle Row-->

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="ProInfo col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3"></div>

                        <div class="PwdDetail col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="ProSize">
                                <div class="row fullProfile">
                                    <div class="Profile_Detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        @if (!String.IsNullOrEmpty(Model.Result))
                {
                                            <div class="result">
                                                @Model.Result
                                            </div>
                                        }
                                        @{
                                            var validationSummary = Html.ValidationSummary(true);
                                        }
                                        @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                                            <div class="message-error">@validationSummary</div>
                                        }

                                        <ul>                                            
                                            <li>
                                                <span class="boldTitle">@Html.LabelFor(model => model.OldPassword, new { }, ":")</span><span>
                                                    @Html.EditorFor(model => model.OldPassword)
                                                    @Html.RequiredHint()
                                                    @Html.ValidationMessageFor(model => model.OldPassword)
                                                </span>
                                            </li>
                                            <li>
                                                <span class="boldTitle">@Html.LabelFor(model => model.NewPassword, new { }, ":")</span><span>
                                                    @Html.EditorFor(model => model.NewPassword)
                                                    @Html.RequiredHint()
                                                    @Html.ValidationMessageFor(model => model.NewPassword)
                                                </span>
                                            </li>
                                            <li>
                                                <span class="boldTitle">@Html.LabelFor(model => model.ConfirmNewPassword, new { }, ":")</span><span>
                                                    @Html.EditorFor(model => model.ConfirmNewPassword)
                                                    @Html.RequiredHint()
                                                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                                                </span>
                                            </li>
                                            <li><span class="edit"><input type="submit" value="@T("Account.ChangePassword.Button")" name="save-info-button" class="button-1 save-customer-info-button" /></span></li>
                                            </ul>                                            
                                            @*<div class="buttons">
                                                <input type="submit" class="button-1 change-password-button" value="@T("Account.ChangePassword.Button")" />
                                            </div>*@
</div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-xs-12 col-sm-2 col-md-3 col-lg-3"></div>
                    </div><!--Login-->
                </div>
                                        }
        </div>
    </div>
</div>