﻿@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//title
	Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
	//page class
	Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="under-Container">
	<div class="Profile_Page">
		<div class="ProductBox">
			<div class="row">
				<div class="ProductTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="Titel"><h1>@T("Account.PasswordRecovery")</h1></div>
				</div>
			</div>

			<div class="row">
				<div class="ProInfo Register col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class=" col-xs-12 col-sm-2 col-md-3 col-lg-3"></div>

					<div class="ProDetail col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="ProSize">
							@if (!String.IsNullOrEmpty(Model.Result))
							{
								<div class="result">
									@Model.Result
								</div>
							}
							@using (Html.BeginForm())
							{
								@Html.AntiForgeryToken()
								<p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
								<div class="fieldset">
									<div class="form-fields">
										<div class="inputs">
											@Html.LabelFor(model => model.Username, new { }, ":")
											@Html.TextBoxFor(model => model.Username, new { @class = "username" })
											@Html.RequiredHint()
											@Html.ValidationMessageFor(model => model.Username)
										</div>
									</div>
								</div>
								<div class="buttons">
									<input type="submit" name="send-email" class="button-1 password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
								</div>
							}
						</div>
					</div>

					<div class=" col-xs-12 col-sm-2 col-md-3 col-lg-3"></div>

				</div>
			</div>




		</div>
	</div>
</div>
