﻿@model PasswordRecoveryConfirmModel
@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//title
	Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
	//page class
	Html.AppendPageCssClassParts("html-password-recovery-page");
}
@using Nop.Web.Models.Customer;
<div class="under-Container">
	<div class="Profile_Page">
		<div class="ProductBox">
			<div class="row">
				<div class="ProductTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="Titel"><h1>@T("Account.PasswordRecovery")</h1></div>
				</div>
			</div>

			<div class="row">
				<div class="ProInfo Register col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class=" col-xs-12 col-sm-2 col-md-3 col-lg-3"></div>

					<div class="ProDetail col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="ProSize">
							@if (!String.IsNullOrEmpty(Model.Result))
							{
								<div class="result">
									@Model.Result
								</div>
							}
							@if (!Model.DisablePasswordChanging)
							{
								using (Html.BeginForm())
								{
									@Html.AntiForgeryToken()
									<div class="fieldset">
										<div class="form-fields">
											<div class="inputs">
												@Html.LabelFor(model => model.NewPassword, new { }, ":")
												@Html.EditorFor(model => model.NewPassword)
												@Html.RequiredHint()
												@Html.ValidationMessageFor(model => model.NewPassword)
											</div>
											<div class="inputs">
												@Html.LabelFor(model => model.ConfirmNewPassword, new { }, ":")
												@Html.EditorFor(model => model.ConfirmNewPassword)
												@Html.RequiredHint()
												@Html.ValidationMessageFor(model => model.ConfirmNewPassword)
											</div>
										</div>
									</div>
									<div class="buttons">
										<input type="submit" name="set-password" class="button-1 new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
									</div>
								}
							}
						</div>
					</div>

					<div class=" col-xs-12 col-sm-2 col-md-3 col-lg-3"></div>

				</div>
			</div>

		</div>
	</div>
</div>
