﻿@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}


<div class="NewsInside_page">
	<div class="ProductBox">
		<div class="row">
			<div class="ProductTitle NewsInside col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="under-Container">
					<div class="Titel"><h1>@T("Admin.AccessDenied.Title")</h1></div>
				</div><!--under-Container-->
			</div><!--ProductTitle News-->
		</div><!--Tittle Row-->	 
							 
		<div class="row">
			<div class=" newsInsideContent under-Container">
				<p>@T("Admin.AccessDenied.Description")</p>
			      </div><!--newsInsideContent-->
		</div>											
	</div>
</div>