﻿@model ProductDetailsModel
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//title
	Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
	//meta
	Html.AddMetaDescriptionParts(Model.MetaDescription);
	Html.AddMetaKeywordParts(Model.MetaKeywords);
	//page class
	Html.AppendPageCssClassParts("html-product-details-page");

	var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

	//canonical URL
	if (seoSettings.CanonicalUrlsEnabled)
	{
		var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
		Html.AddCanonicalUrlParts(productUrl);
	}

	//open graph META tags
	if (seoSettings.OpenGraphMetaTags)
	{
		Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
		Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
		Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
		Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
		Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
		Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
	}

	//Twitter META tags
	if (seoSettings.TwitterMetaTags)
	{
		Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
		Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
		Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
		Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
		Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
		Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
	}
}
<!--product breadcrumb-->
@*@section Breadcrumb
	{
		@Html.Partial("_ProductBreadcrumb", Model.Breadcrumb)
	}*@
@Html.Widget("productdetails_after_breadcrumb", Model.Id)
<div class="under-Container">
	<div class="Product-Detail_Page">

		<div class="row">
			<div class="ProductTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="Titel"><h1>PRODUCT DETAIL</h1></div>
			</div>
		</div><!--Tittle Row-->
		@Html.Widget("productdetails_top", Model.Id)
		@using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
		{
			<div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="Detail_Page">
							<div class="product-essential">
								<div class="PD-Image col-xs-12 col-sm-5 col-md-5 col-lg-5">
									@Html.Widget("productdetails_before_pictures", Model.Id)
									<!--product pictures-->
									@Html.Partial("_ProductDetailsPictures", Model)
									@Html.Widget("productdetails_after_pictures", Model.Id)
								</div>

								<div class="PD-Detail col-xs-12 col-sm-7 col-md-7 col-lg-7">
									@*<div class="overview">*@
									<div class="row"><h3 itemprop="name">@Model.Name</h3></div>
									<div class="row">
										<div class=" text col-xs-12 col-sm-11 col-md-11 col-lg-11" itemprop="description">
											@Html.Raw(Model.FullDescription)
										</div>
									</div>
									<div class="row">
										<div class="Price">
											@{
			var dataDictPrice = new ViewDataDictionary();
			dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
			@Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)
											}
										</div>
									</div>


									@Html.Widget("productdetails_overview_top", Model.Id)

									<!--manufacturers-->
									@*@Html.Partial("_ProductManufacturers", Model.ProductManufacturers)*@
									<!--availability-->
									@Html.Partial("_Availability", Model)
									<!--SKU, MAN, GTIN, vendor-->
									@*@Html.Partial("_SKU_Man_GTIN_Ven", Model)*@
									<!--delivery-->
									@Html.Partial("_DeliveryInfo", Model)
									<!--sample download-->
									@*@Html.Partial("_DownloadSample", Model)*@
									<!--attributes-->
									@{
			var dataDictAttributes = new ViewDataDictionary();
			dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
			@Html.Partial("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
									}
									<!--gift card-->
									@{
			var dataDictGiftCard = new ViewDataDictionary();
			dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
			@Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
									}
									<!--rental info-->
									@{
			var dataDictRental = new ViewDataDictionary();
			dataDictRental.TemplateInfo.HtmlFieldPrefix = string.Format("rental_{0}", Model.Id);
			@Html.Partial("_RentalInfo", Model, dataDictRental)
									}
									<!--price & add to cart-->
									@{	
										@Html.Partial("_ProductTierPrices", Model.TierPrices)
										var dataDictAddToCart = new ViewDataDictionary();
										dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
										@Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)
									}

                                    <!--product reviews-->
									@*<div class="row">
										<div class="Review">											
											@Html.Partial("_ProductReviewOverview", Model.ProductReviewOverview)
										</div>
									</div>*@<!--Review-->
									<!--wishlist, compare, email a friend-->
									@*<div class="row">
										<div class="ForPrinting">
											<ul>
												<li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
												<li>@Html.Partial("_ProductEmailAFriendButton", Model)</li>
												<li><a href="#" onclick="window.print();return false;"><i class="fa fa-print" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>*@
									@*@Html.Partial("_ShareButton", Model)
										@Html.Widget("productdetails_overview_bottom", Model.Id)*@
								</div>
								@Html.Widget("productdetails_before_collateral", Model.Id)
								<div class="product-collateral">
									@Html.Partial("_ProductSpecifications", Model.ProductSpecifications)
									@Html.Partial("_ProductTags", Model.ProductTags)
								</div>
							</div>
						</div><!--Detail_Page-->
					</div>
				</div><!--Products Detail-Page-->
				@*@Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })*@
				<div class="row">
					<div class="tcb-product-slider">
						@Html.Action("RelatedProducts", "Product", new { productId = Model.Id })
					</div>
				</div>
			</div>
		}
		@Html.Widget("productdetails_bottom", Model.Id)
	</div>
</div>
