﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;

@{
	var counter = 0;
	var slideString = "</div></div><div class=\"item\"><div class=\"row\">";
}

@if (Model.Count > 0)
{
	<div class="under-Container">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Wrapper for slides -->
			<h5>@T("Products.RelatedProducts")</h5>

			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="row">
						@foreach (var item in Model)
						{
							if (counter == 4)
							{
								counter = 0;
								@Html.Raw(slideString)
							}

							<div class="col-xs-3 col-sm-3">
								<div class="tcb-product-item">
									<div class="tcb-product-photo">
										<a href="@item.SeName"><img src="@item.DefaultPictureModel.ImageUrl" class="img-responsive" alt="a" /></a>
									</div>
									<div class="tcb-product-info">
										<div class="tcb-product-title">
											<p><a href="#">@item.Name </a></p>
										</div>
										<div class="tcb-product-price">
											@item.ProductPrice.Price
										</div>
									</div>
								</div>
							</div>


							counter++;
						}
					</div>
				</div>
			</div>


			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
			</a>

		</div>
	</div>
}
