﻿@using Nop.Web.Framework
@model Nop.Plugin.PostXCustom.Models.Public.Checkout.CheckoutConfirmModel

<div class="checkout-data">
    @Html.Widget("op_checkout_confirm_top")
    @if (!string.IsNullOrEmpty(Model.MinOrderTotalWarning) || Model.Warnings.Count > 0)
    {
        <div class="section confirm-order">
            @if (!string.IsNullOrEmpty(Model.MinOrderTotalWarning))
            {
                <div>
                    <span class="min-order-warning">@Model.MinOrderTotalWarning</span>
                </div>
            }
            @if (Model.Warnings.Count > 0)
            {
                <div class="message-error">
                    <ul>
                        @foreach (var warning in Model.Warnings)
                        {
                            <li>@warning</li>
                        }
                    </ul>
                </div>
            }
        </div>
    }
    @Html.Widget("op_checkout_confirm_bottom")
    <div class="section order-summary">
        @Html.Action("OrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
    </div>
    @if (String.IsNullOrEmpty(Model.MinOrderTotalWarning) && Model.TermsOfServiceOnOrderConfirmPage)
    {
        <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display:none;">
            <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
        </div>
        <div class="terms-of-service">
            <input id="termsofservice" type="checkbox" name="termsofservice"/>
            <label for="termsofservice">@T("Checkout.TermsOfService.IAccept")</label>
            <a class="read" id="read-terms">@T("Checkout.TermsOfService.Read")</a>
            <script>
                $(document).ready(function() {
                    $('#read-terms').on('click', function(e) {
                        e.preventDefault();
                        displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})', '@T("Checkout.TermsOfService")');
                    });
                });
            </script>
        </div>
    }
</div>
