﻿@using Nop.Web.Framework
@model Nop.Plugin.PostXCustom.Models.Public.Checkout.CheckoutPaymentMethodModel
<div class="checkout-data">
	@Html.Widget("op_checkout_payment_method_top")
	<div class="section payment-method">
		@if (Model.DisplayRewardPoints && Model.PaymentMethods.Count > 0)
		{
			<div class="use-reward-points">
				@Html.CheckBoxFor(x => x.UseRewardPoints, Model.RewardPointsEnoughToPayForOrder ? new { @onclick = "PaymentMethod.toggleUseRewardPoints(this)" } : null)
				
				@string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance, Model.RewardPointsAmount)
				@if (Model.RewardPointsEnoughToPayForOrder)
					{
						 <script type="text/javascript">
							  $(document).ready(function() {
									PaymentMethod.toggleUseRewardPoints($('#@Html.FieldIdFor(model => model.UseRewardPoints)'));
							  });
						 </script>
					}
			</div>
			<div class="use-reward-points">
				@T("EnterPointsToUse"): 	  @Html.TextBoxFor(x=>x.PointToUse)
			</div>
		}
		@if (Model.PaymentMethods.Count > 0)
		{
			<ul class="method-list" id="payment-method-block">
				@for (int i = 0; i < Model.PaymentMethods.Count; i++)
				{
					var paymentMethod = Model.PaymentMethods[i];
					var paymentMethodName = paymentMethod.Name;
					if (!String.IsNullOrEmpty(paymentMethod.Fee))
					{
						paymentMethodName = T("Checkout.SelectPaymentMethod.MethodAndFee", paymentMethodName, paymentMethod.Fee).Text;
					}
					<li>
						<div class="method-name">
							@if (!String.IsNullOrEmpty(paymentMethod.LogoUrl))
							{
								<div class="payment-logo">
									<label for="paymentmethod_@(i)">
										<img src="@paymentMethod.LogoUrl" alt="@paymentMethodName" />
									</label>
								</div>
							}
							<div class="payment-details">
								<input id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected" />
								<label for="paymentmethod_@(i)">@paymentMethodName</label>
								@if (!string.IsNullOrEmpty(paymentMethod.Description))
								{
									<div class="payment-description">@paymentMethod.Description</div>
								}
							</div>
						</div>
					</li>
				}
			</ul>
		}
		else
		{
			<div class="message-error">
				@T("Checkout.NoPaymentMethods")
			</div>
		}
	</div>
	@Html.Widget("op_checkout_payment_method_bottom")
</div>