﻿@using Nop.Web.Framework
@model Nop.Plugin.PostXCustom.Models.Public.Checkout.CheckoutPaymentInfoModel

<div class="checkout-data">
    @Html.Widget("op_checkout_payment_info_top")
    <div class="section payment-info">
        <div class="info">
            @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
        </div>
        @{
            var validationSummary = Html.ValidationSummary(false);
        }
        @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
        {
            <div class="message-error">@validationSummary</div>
        }
    </div>
    @Html.Widget("op_checkout_payment_info_bottom")
    @*@if (Model.DisplayOrderTotals)
    {
        <div class="section order-summary">
            @Html.Action("OrderSummary", "ShoppingCart")
        </div>
    }*@
</div>
