﻿@model PublicCustomerInfoModel
@using Nop.Plugin.PostXCustom.Models.Public.Customers;
@using Nop.Web.Framework.UI
@using Nop.Web.Framework
@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//title
	Html.AddTitleParts(T("PageTitle.Account").Text);
	//page class
	Html.AppendPageCssClassParts("html-account-page");
	Html.AppendPageCssClassParts("html-customer-info-page");
}						

<div class="under-Container">
	<div class="Profile_Page">
		<div class="ProductBox">
			<div class="row">
				<div class="ProductTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="Titel"><h1>@T("Account.MyAccount")</h1></div>
				</div>
			</div><!--Tittle Row-->
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()
				var validationSummary = Html.ValidationSummary(true);

				<div class="row">
					<div class="ProInfo col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class=" col-xs-12 col-sm-2 col-md-3 col-lg-3"></div>

						<div class="ProDetail col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="ProSize">	
								<div class="row fullProfile">
									<div class="ProPic col-xs-12 col-sm-5 col-md-5 col-lg-5">
										<div class="ProImage">		
												<div class="picture">
													@Html.NopEditorFor(model=>model.CustomerPictureId)
												</div>
										</div>
									</div>
									<div class="Profile_Detail col-xs-12 col-sm-7 col-md-7 col-lg-7">
										@if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
										{
											<div class="message-error">@validationSummary</div>
										}
										<ul>
											<li><span class="boldTitle">@Html.LabelFor(model => model.Email, new { }, ":")</span><span>@Model.Email</span></li>
											@Html.HiddenFor(x=>x.Email)
											<li>
												@if (Model.GenderEnabled)
												{
													<span class="boldTitle"><label>@T("Account.Fields.Gender"):</label></span>
													<span class="male">
														@Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "gender-male" })
														<label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
													</span>
													<span class="female">
														@Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "gender-female" })
														<label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
													</span>
												}
											</li>
											<li>
												<span class="boldTitle">@Html.LabelFor(model => model.FirstName, new { }, ":")</span><span>
													@Html.EditorFor(model => model.FirstName)
													@Html.RequiredHint()
													@Html.ValidationMessageFor(model => model.FirstName)
												</span>
											</li>
											<li>
												<span class="boldTitle">@Html.LabelFor(model => model.LastName, new { }, ":")</span><span>
													@Html.EditorFor(model => model.LastName)
													@Html.RequiredHint()
													@Html.ValidationMessageFor(model => model.LastName)
												</span>
											</li>
											<li>
												<span class="boldTitle">@T("Account.Fields.DateOfBirth"):</span><span>
													@Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DateOfBirthDay),
																																			 Html.FieldNameFor(x => x.DateOfBirthMonth),
																																			 Html.FieldNameFor(x => x.DateOfBirthYear),
																																			 DateTime.Now.Year - 110,
																																			 DateTime.Now.Year,
																																			 Model.DateOfBirthDay,
																																			 Model.DateOfBirthMonth,
																																			 Model.DateOfBirthYear)
													@if (Model.DateOfBirthRequired)
													{
														@Html.RequiredHint()
													}
													@Html.ValidationMessageFor(model => model.DateOfBirthDay)
													@Html.ValidationMessageFor(model => model.DateOfBirthMonth)
													@Html.ValidationMessageFor(model => model.DateOfBirthYear)
												</span>
											</li>
											<li><span class="edit"><input type="submit" value="@T("Common.Save")" name="save-info-button" class="button-1 save-customer-info-button" /></span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class=" col-xs-12 col-sm-2 col-md-3 col-lg-3"></div>
					</div><!--Login-->
				</div>
			}
		</div>
	</div>
</div>	

<script type="text/javascript">
	function removeexternalassociation(itemId)
	{
		if (confirm('@T("Common.AreYouSure")'))
		{
			var postData = {
				id: itemId
			};
			addAntiForgeryToken(postData);
			$.ajax({
				cache: false,
				type: 'POST',
				url: '@Url.Action("RemoveExternalAssociation", "Customer")',
				data: postData,
				dataType: 'json',
				success: function (data)
				{
					location.href = data.redirect;
				},
				error: function (xhr, ajaxOptions, thrownError)
				{
					alert('Failed to delete');
				}
			});
		}
		return false;
	}
</script>