﻿@using Nop.Web.Framework.UI
@model Nop.Plugin.PostXCustom.Models.Public.Customers.PublicRegisterResultModel

@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//title
	Html.AddTitleParts(T("PageTitle.Register").Text);
	//page class
	Html.AppendPageCssClassParts("html-registration-result-page");
}
@using (Html.BeginForm(new { ReturnUrl = Request.QueryString["ReturnUrl"] }))
{
	@Html.AntiForgeryToken()
	<div class="under-Container">
		<div class="Profile_Page">
			<div class="ProductBox">
				<div class="row">
					<div class="ProductTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="Titel"><h1>@T("Account.Register")</h1></div>
					</div>
				</div>

				<div class="row">
					<div class="ProInfo Register col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class=" col-xs-12 col-sm-2 col-md-3 col-lg-3"></div>
						<div class="ProDetail col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="result">
								@Model.Result
							</div>
							<div class="buttons">
								<input type="submit" name="register-continue" class="button-1 register-continue-button" value="@T("Account.Register.Result.Continue")" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
