﻿@model ShoppingCartModel.DiscountBoxModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Display)
{
	<div class="ValidName col-xs-4 col-sm-4 col-md-4 col-lg-4"><p class="code" title="@T("ShoppingCart.DiscountCouponCode.Tooltip")">@T("ShoppingCart.DiscountCouponCode")<p><p></p></div>
	<div class="ValidText col-xs-4 col-sm-4 col-md-4 col-lg-4"><input name="discountcouponcode" id="discountcouponcode" type="text" class="discount-coupon-code" /></div>
	<div class="ValidBtn col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<input type="submit" name="applydiscountcouponcode" id="applydiscountcouponcode"
				 value="@T("ShoppingCart.DiscountCouponCode.Button")" class="button-2 apply-discount-coupon-code-button" />
	</div>
	foreach (var message in Model.Messages)
	{
		<div class="clearfix"></div>
	<div class="ValidName col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<p class="code">
			@message
		</p>
	</div>
	}
	foreach (var discount in Model.AppliedDiscountsWithCodes)
	{
		<div class="current-code">
			<span class="applied-discount-code">@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, discount.CouponCode)</span>
			@*empty value (little hack for FormValueExistsAttribute)*@
			<input type="submit" name="removediscount-@discount.Id" value=" " title="@T("Common.Remove")" class="remove-discount-button" />
		</div>
	}

	<script type="text/javascript">
		$(document).ready(function ()
		{
			$('#discountcouponcode').keydown(function (event)
			{
				if (event.keyCode == 13)
				{
					$('#applydiscountcouponcode').click();
					return false;
				}
			});
		});
	</script>
}