﻿@model ShoppingCartModel.LoyaltyBoxModel
@using Nop.Web.Models.ShoppingCart;

		 
		  
@if (Model.ShowLoyalty)
{

	<div class="ValidName col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<p class="code" title="@T("ShoppingCart.LoyaltyPoints.Tooltip")">@T("ShoppingCart.LoyaltyPoints")</p>
		<p></p></div>

	<div class="ValidText col-xs-4 col-sm-4 col-md-4 col-lg-4"><input name="PointToUse" id="PointToUse" type="number" min="0" max="@Model.RewardPointsBalance" class="discount-coupon-code"/></div>
	<div class="ValidBtn col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<input type="submit" name="applyloyaltypoints" id="applyloyaltypoints" value="@T("ShoppingCart.LoyaltyPoints.Button")" clas class="button-2 apply-discount-coupon-code-button"/>
	</div>
	<div class="clearfix"></div>

	<div class="ValidName col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<p class="code">@string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance)<p></div>

foreach (var message in Model.Messages)
 {
	 <div class="clearfix"></div>
	 <div class="ValidName col-xs-12 col-sm-12 col-md-12 col-lg-12">
		 <p class="code">
			 @message
		 </p>
	 </div>
 }


	<script type="text/javascript">
		$(document).ready(function() {
			$('#PointToUse').keydown(function(event) {
				if (event.keyCode == 13) {
					$('#applyloyaltypoints').click();
					return false;
				}
			});
		});
	</script>
}