﻿@model ShoppingCartModel
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart;
@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//title
	Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
	//page class
	Html.AppendPageCssClassParts("html-shopping-cart-page");
}

<div class="under-Container">
	<div class="Cart_Page">

		@*@if (!Model.OnePageCheckoutEnabled)
			{
				@Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Cart })
			}*@

		<div class="row">
			<div class="ProductTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="Titel"><h1>@T("ShoppingCart")</h1></div>
			</div>
		</div><!--Tittle Row-->
		@Html.Partial("OrderSummary", Model)


	</div>
</div>
