﻿@model OrderTotalsModel
@using Nop.Web.Models.ShoppingCart;
														
@if (Model.RedeemedRewardPoints > 0)
{
	<div class="RedeemedPoints_Amount col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="RedeemedPoints col-xs-7 col-sm-7 col-md-7 col-lg-7">
			@string.Format(T("ShoppingCart.Totals.RewardPoints").Text, Model.RedeemedRewardPoints)
		</div>
		<div class="Ammount col-xs-5 col-sm-5 col-md-5 col-lg-5">
			@Model.RedeemedRewardPointsAmount
			@if (Model.IsEditable)
			{
				<input type="submit" name="removeloyalty" value="X" title="@T("Common.Remove")" class="remove-loyalty-button" />
			}
		</div>
	</div>

}			 

@if (!String.IsNullOrEmpty(Model.OrderTotalDiscount))
{
	<div class="Total_Amount col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="Total col-xs-7 col-sm-7 col-md-7 col-lg-7">@T("ShoppingCart.Totals.OrderTotalDiscount")</div>
		<div class="Ammount col-xs-5 col-sm-5 col-md-5 col-lg-5">@Model.OrderTotalDiscount</div>
	</div> 
}

@if (Model.GiftCards.Count > 0)
{
	foreach (var gc in Model.GiftCards)
	{
		<div class="RedeemedPoints col-xs-6 col-sm-2 col-md-2 col-lg-2">@T("ShoppingCart.Totals.GiftCardInfo") - @T("ShoppingCart.Totals.GiftCardInfo.Code", gc.CouponCode)</div>
		<div class="Ammount col-xs-6 col-sm-2 col-md-2 col-lg-2">
			@gc.Amount
			@if (Model.IsEditable)
			{
				<input type="submit" name="removegiftcard-@gc.Id" value=" " title="@T("Common.Remove")" class="remove-gift-card-button" />
			}
		</div>
	}
}




<div class="Total_Amount col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="Total col-xs-7 col-sm-7 col-md-7 col-lg-7">@T("ShoppingCart.Totals.OrderTotal")</div>
	<div class="Ammount col-xs-5 col-sm-5 col-md-5 col-lg-5">@Model.OrderTotal</div>
</div>
@if (Model.WillEarnRewardPoints > 0 && Model.ShowLoyalty) 
{
	<div class="EarnPoints_Amount col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="EarnPoints col-xs-7 col-sm-7 col-md-7 col-lg-7">@T("ShoppingCart.Totals.RewardPoints.WillEarn")</div>
		<div class="Ammount col-xs-5 col-sm-5 col-md-5 col-lg-5">@string.Format(T("ShoppingCart.Totals.RewardPoints.WillEarn.Point").Text, Model.WillEarnRewardPoints)</div>
	</div>
}


