@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@{
	var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}

@Html.Widget("order_summary_content_before")
@Html.Partial("_OrderReviewData", Model.OrderReviewData)
@if (Model.Items.Count > 0)
{
	if (Model.Warnings.Count > 0)
	{
		<div class="message-error">
			<ul>
				@foreach (var warning in Model.Warnings)
				{
					<li>@warning</li>
				}
			</ul>
		</div>
	}
	<div class="row">
		<div class="Cart col-xs-12 col-sm-12 col-md-12 col-lg-12">
			@*we add enctype = "multipart/form-data" because "File upload" attribute control type requires it*@
			@using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data", id = "shopping-cart-form" }))
			{
				@Html.AntiForgeryToken()

				<div class="row heading">
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">@T("ShoppingCart.Product(s)")</div>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8"></div>
						<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">@T("ShoppingCart.UnitPrice")</div>
						<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">@T("ShoppingCart.Quantity")</div>
						<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">@T("ShoppingCart.ItemTotal")</div>
					</div>
				</div><!--Heading Row-->
				<div class="row responsive">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="Desc col-xs-6">DESCRIPTION</div>
						<div class="Price col-xs-6">PRIJS</div>
					</div>
				</div><!--Heading Row for responsive-->
				foreach (var item in Model.Items)
				{
					<div class="row Content">
						<div class=" image col-xs-5 col-sm-2 col-md-2 col-lg-2">
							<a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
						</div>
						<div class=" cart_ProductText col-xs-7 col-sm-10 col-md-10 col-lg-10">
							<div class="row CartDetail">
								<div class=" nameCartProduct col-xs-12 col-sm-6 col-md-6 col-lg-8">
									@item.ProductName
									@if (!String.IsNullOrEmpty(item.AttributeInfo))
									{
										<div class="attributes">
											@Html.Raw(item.AttributeInfo)
										</div>
									}
									@if (item.Warnings.Count > 0)
									{
										<div class="message-error">
											<ul>
												@foreach (var warning in item.Warnings)
												{
													<li>@warning</li>
												}
											</ul>
										</div>
									}
								</div>
								<div class="priceDiv col-xs-6 col-sm-2 col-md-2 col-lg-1">@item.UnitPrice</div>
								<div class="qtyDiv col-xs-6 col-sm-2 col-md-2 col-lg-1">
									@*<input name="itemquantity@(item.Id)" type="number" value="@(item.Quantity)" class="qty-input" />*@

									<input class="numbersRow_qnt" name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" id="itemquantity@(item.Id)" size="4" />
									@*<div class="cartincdec">
											<a onmouseout="updatePrice()" onclick="increase(@(item.Id))" id="inc@(item.Id)" class="inc buttoncart">+</a>
											@if (item.Quantity > 1)
											{
												<a onmouseout="updatePrice()" onclick="decrease(@(item.Id))" id="dec@(item.Id)" class="dec buttoncart">-</a>
											}
											else
											{			    <a style="display:none;" onmouseout="updatePrice()" onclick="decrease(@(item.Id))" id="dec@(item.Id)" class="dec buttoncart">-</a>

											}
										</div>*@
								</div>
								<div class="Tot col-xs-12 col-sm-2 col-md-2 col-lg-2">
									@item.SubTotal
									@if (!String.IsNullOrEmpty(item.Discount))
									{
										<div class="discount">
											@T("ShoppingCart.ItemYouSave", item.Discount)
										</div>
										if (item.MaximumDiscountedQty.HasValue)
										{
											<div class="discount-additional-info">
												@T("ShoppingCart.MaximumDiscountedQty", item.MaximumDiscountedQty.Value)
											</div>
										}
									}
								</div>
							</div>
							<div class="row CartDelete">
								<div class="deleteIcon col-xs-12 col-sm-12 col-md-12 col-lg-12">
									@*<a onclick="RemovefromCart(@(item.Id))"><i class="fa fa-trash-o" aria-hidden="true"></i></a>*@
									@*<input id="removefromcart" type="checkbox" style="display:none;" name="removefromcart" value="@(item.Id)" class="removefromcartCheckbox" />*@

								</div>
							</div>
						</div>
					</div>
				}



				<div class="cart-footer col-xs-12 col-sm-6 col-md-6 col-lg-6">
					@Html.Widget("order_summary_cart_footer")



					<div class="row CartTotel">
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"></div>
						@Html.Action("OrderTotals", "ShoppingCart", new { isEditable = Model.IsEditable })
						@if (Model.IsEditable)
					{
						if (!String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
						{
								<div class="min-amount-warning">
									@Model.MinOrderSubtotalWarning
								</div>
						}
					}
						@if (Model.IsEditable)
					{
						if (Model.TermsOfServiceOnShoppingCartPage)
						{
								<div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display: none;">
									<p>@T("Checkout.TermsOfService.PleaseAccept")</p>
								</div>
								<div class="terms-of-service">
									<input id="termsofservice" type="checkbox" checked="checked" name="termsofservice" />
									<label for="termsofservice">@T("Checkout.TermsOfService.IAccept")</label>
									<a class="read" id="read-terms">@T("Checkout.TermsOfService.Read")</a>
									<script>
										$(document).ready(function () {
											$('#read-terms').on('click', function (e) {
												e.preventDefault();
												displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})', '@T("Checkout.TermsOfService")');
											});
										});
									</script>
								</div>
						}
							<div class="checkout-buttons">
								@if (String.IsNullOrEmpty(Model.MinOrderSubtotalWarning) && !Model.HideCheckoutButton)
								{
									<script type="text/javascript">
										$(document).ready(function () {
											$('#checkout').click(function () {
												//terms of service
												var termOfServiceOk = true;
												if ($('#termsofservice').length > 0) {
													//terms of service element exists
													if (!$('#termsofservice').is(':checked')) {
														$("#terms-of-service-warning-box").dialog();
														termOfServiceOk = false;
													} else {
														termOfServiceOk = true;
													}
												}
												return termOfServiceOk;
											});
										});
									</script>
									@*<button type="submit" id="checkout" name="checkout" value="checkout" class="button-1 checkout-button">
											@T("Checkout.Button")
										</button>*@
								}
							</div>
					}
					</div>
				</div>


				@*<div class="row CartValid">

								@if (Model.IsEditable)
								{
									@Html.Partial("_CheckoutAttributes", Model.CheckoutAttributes, new ViewDataDictionary())
								}
								@if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
								{
									<div class="selected-checkout-attributes">
										@Html.Raw(Model.CheckoutAttributeInfo)
									</div>
								}

					</div>*@<!--Velid-->

				<div class="row CartValid  col-xs-12 col-sm-6 col-md-6 col-lg-6">

					@if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
					{
						<div class="selected-checkout-attributes">
							@Html.Raw(Model.CheckoutAttributeInfo)
						</div>
					}
				</div><!--Loyalty row-->



				@*<div class="row CartValid">
							@Html.Partial("_DiscountBox", Model.DiscountBox)
					</div>*@

			if (Model.IsEditable)
			{
				@Html.Action("CrossSellProducts", "Product")
				}
			}
		</div>
	</div>
}
else
{
	<div class="no-data">
		@T("ShoppingCart.CartIsEmpty")
	</div>
}
@Html.Widget("order_summary_content_after")


<script>

	var dataValue = "";

	function increase(itemid) {

		var oldValue = $("#itemquantity" + itemid).val();

		var newVal = parseFloat(oldValue) + 1;


		$("#itemquantity" + itemid).val(newVal);
		dataValue = "{ id: " + itemid + ", qnt:" + newVal + ", Type: 'Update' }";


	}

	function decrease(itemid) {

		var oldValue = $("#itemquantity" + itemid).val();
		var newVal = 1;

		if (oldValue > 1) {
			newVal = parseFloat(oldValue) - 1;
			$("#dec" + itemid).css({ "display": "block" });
		}
		else {
			newVal = 1;
			$("#dec" + itemid).css({ "display": "none" });
		}

		$("#itemquantity" + itemid).val(newVal);


		dataValue = "{ id: " + itemid + ", qnt:" + newVal + ", Type: 'Update' }";


	}



	function updatePrice() {
		if (dataValue != "" && dataValue != '') {
			var dataval = dataValue;
			//dataValue = "";

			$.ajax({
				type: "POST",
				url: 'ShoppingCart/UpdateCartPrice',
				data: dataval,
				contentType: 'application/json; charset=utf-8',
				error: function (xhr, status, error) {
					alert(error.xhr);
					alert('Error Occured.');
				},
				success: function (data) {

					dataValue = "";
					$(".under-Container").html($(data).find('.under-Container').html());
				}
			});
		}


	}

	function RemovefromCart(itemid) {
		var dataValueRemove = "{ id: " + itemid + ", qnt:1, Type: 'Remove' }";

		$.ajax({
			type: "POST",
			url: 'ShoppingCart/UpdateCartPrice',
			data: dataValueRemove,
			contentType: 'application/json; charset=utf-8',
			error: function (xhr, status, error) {
				alert('Error Occured.');
			},
			success: function (data) {
				$(".under-Container").html($(data).find('.under-Container').html());
			}
		});

	}
</script>