﻿@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//page class
	Html.AppendPageCssClassParts("html-home-page");
}

@Html.Widget("home_page_top")

<script>
	$(function () {
		//$("#tabs").tabs();

		$('#tab-1').click(function () {
			$('#tabs-1').show();
			$('#tabs-2').hide();
			$('#tabs-3').hide();
			$('#tabs-4').hide();
			$('#tabs-5').hide();
			$('#tabs-6').hide();
			$('#tabs-7').hide();
			$('#tabs-8').hide();
		});

		$('#tab-2').click(function () {
			$('#tabs-1').hide();
			$('#tabs-2').show();
			$('#tabs-3').hide();
			$('#tabs-4').hide();
			$('#tabs-5').hide();
			$('#tabs-6').hide();
			$('#tabs-7').hide();
			$('#tabs-8').hide();
		});

		$('#tab-3').click(function () {
			$('#tabs-1').hide();
			$('#tabs-2').hide();
			$('#tabs-3').show();
			$('#tabs-4').hide();
			$('#tabs-5').hide();
			$('#tabs-6').hide();
			$('#tabs-7').hide();
			$('#tabs-8').hide();
		});

		$('#tab-4').click(function () {
			$('#tabs-1').hide();
			$('#tabs-2').hide();
			$('#tabs-3').hide();
			$('#tabs-4').show();
			$('#tabs-5').hide();
			$('#tabs-6').hide();
			$('#tabs-7').hide();
			$('#tabs-8').hide();
		});

		$('#tab-5').click(function () {
			$('#tabs-1').hide();
			$('#tabs-2').hide();
			$('#tabs-3').hide();
			$('#tabs-4').hide();
			$('#tabs-5').show();
			$('#tabs-6').hide();
			$('#tabs-7').hide();
			$('#tabs-8').hide();
		});

		$('#tab-6').click(function () {
			$('#tabs-1').hide();
			$('#tabs-2').hide();
			$('#tabs-3').hide();
			$('#tabs-4').hide();
			$('#tabs-5').hide();
			$('#tabs-6').show();
			$('#tabs-7').hide();
			$('#tabs-8').hide();
		});

		$('#tab-7').click(function () {
			$('#tabs-1').hide();
			$('#tabs-2').hide();
			$('#tabs-3').hide();
			$('#tabs-4').hide();
			$('#tabs-5').hide();
			$('#tabs-6').hide();
			$('#tabs-7').show();
			$('#tabs-8').hide();
		});

		$('#tab-8').click(function () {
			$('#tabs-1').hide();
			$('#tabs-2').hide();
			$('#tabs-3').hide();
			$('#tabs-4').hide();
			$('#tabs-5').hide();
			$('#tabs-6').hide();
			$('#tabs-7').hide();
			$('#tabs-8').show();
		});
	});
	$(document).ready(function () {
		$('#tabs-1').show();
		$('#tabs-2').hide();
		$('#tabs-3').hide();
		$('#tabs-4').hide();
		$('#tabs-5').hide();
		$('#tabs-6').hide();
		$('#tabs-7').hide();
		$('#tabs-8').hide();
	});
</script>

<div class="Homepage">
	<div class="ProductBox breakfastBox">
		<div class="row">
			<div class="ProductTitle breakfast col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="under-Container">
					<div class="Titel"><h1>@Html.Action("GetCategoryPublicName", "CustomCode", new { categoryName = "GERECHTEN" })</h1></div>
				</div>
			</div>
		</div>
	</div>
	<div class="SubCatDetail under-Container">
		<ul class="nav-list1">
			<li class="subCatTab col-xs-10 col-sm-1 col-md-1 col-lg-1 active"><button id="tab-1">@Html.Action("GetCategoryPublicName", "CustomCode", new { categoryName = "BURGER" })</button></li>
			<li id="hTab" class="subCatTab col-xs-10 col-sm-3 col-md-2 col-lg-2"><button id="tab-2">@Html.Action("GetCategoryPublicName", "CustomCode", new { categoryName = "CROQUE MONSIEUR" })</button></li>
			<li class="subCatTab col-xs-10 col-sm-1 col-md-1 col-lg-1"><button id="tab-3">@Html.Action("GetCategoryPublicName", "CustomCode", new { categoryName = "PIZZA" })</button></li>
			<li class="subCatTab col-xs-10 col-sm-1 col-md-1 col-lg-1"><button id="tab-4">@Html.Action("GetCategoryPublicName", "CustomCode", new { categoryName = "PASTA" })</button></li>
			<li class="subCatTab col-xs-10 col-sm-1 col-md-1 col-lg-1"><button id="tab-5">@Html.Action("GetCategoryPublicName", "CustomCode", new { categoryName = "SALADE" })</button></li>
			<li class="subCatTab col-xs-10 col-sm-1 col-md-1 col-lg-1"><button id="tab-6">@Html.Action("GetCategoryPublicName", "CustomCode", new { categoryName = "WRAPS" })</button></li>
			<li class="subCatTab col-xs-10 col-sm-2 col-md-2 col-lg-2"><button id="tab-7">@Html.Action("GetCategoryPublicName", "CustomCode", new { categoryName = "HOT DOG" })</button></li>
			<li class="subCatTab col-xs-10 col-sm-1 col-md-1 col-lg-1"><button id="tab-8">@Html.Action("GetCategoryPublicName", "CustomCode", new { categoryName = "SOEP" })</button></li>
		</ul>
	</div>

	<div id="tabs-1" class="ProductBox">
		@Html.Action("GetBurgerProducts", "CustomCode")
	</div>		 <!--Product Breakfast Box-->
	<div id="tabs-2" class="ProductBox breakfastBox">
		@Html.Action("GetCroqueMonsieurProducts", "CustomCode")
	</div>

	<div id="tabs-3" class="ProductBox breakfastBox">
		@Html.Action("GetPizzaProducts", "CustomCode")
	</div>

	<div id="tabs-4" class="ProductBox breakfastBox">
		@Html.Action("GetPastaProducts", "CustomCode")
	</div>

	<div id="tabs-5" class="ProductBox breakfastBox">
		@Html.Action("GetSaladeProducts", "CustomCode")
	</div>

	<div id="tabs-6" class="ProductBox breakfastBox">
		@Html.Action("GetWrapsProducts", "CustomCode")
	</div>

	<div id="tabs-7" class="ProductBox breakfastBox">
		@Html.Action("GetHotDogProducts", "CustomCode")
	</div>

	<div id="tabs-8" class="ProductBox breakfastBox">
		@Html.Action("GetSoepProducts", "CustomCode")
	</div>



	<div class="ProductBox LunchBox">
		<div class="row">
			<div class="ProductTitle lunch col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="under-Container">
					<div class="Titel"><h1>@Html.Action("GetCategoryPublicName", "CustomCode", new { categoryName = "BROODJES" })</h1></div>
				</div>
			</div>
		</div><!--Tittle Row-->
		@Html.Action("GetLunchProducts", "CustomCode")
	</div><!--Product Lunch Box -->

	<div class="ProductBox DrinkBox">
		<div class="row">
			<div class="ProductTitle Drink col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="under-Container">
					<div class="Titel"><h1>@Html.Action("GetCategoryPublicName", "CustomCode", new { categoryName = "DRANKEN" })</h1></div>
				</div>
			</div>
		</div><!--Tittle Row-->
		@Html.Action("GetDrinkProducts", "CustomCode")
	</div><!--Product Drink Box -->

</div><!--Home Page-->
<div class="emptySpace"></div>

<script>
	$('.nav-list1').on('click', 'li', function () {
		$('.nav-list1 li.active').removeClass('active');
		$(this).addClass('active');
	});
</script>