﻿@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//page class
	Html.AppendPageCssClassParts("html-home-page");
}

@Html.Widget("home_page_top")		
<div class="Homepage">
	<div class="ProductBox breakfastBox">
		<div class="row">
			<div class="ProductTitle breakfast col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="under-Container">
					<div class="Titel"><h1>@Html.Action("GetCategoryPublicName", "CustomHome", new { categoryName = "GERECHTEN" })</h1></div>
				</div>
			</div>
		</div>
	</div>
	
		@Html.Action("GetDayOfferProducts", "CustomHome")
	<div class="ProductBox LunchBox">
		<div class="row">
			<div class="ProductTitle lunch col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="under-Container">
					<div class="Titel"><h1>@Html.Action("GetCategoryPublicName", "CustomHome", new { categoryName = "BROODJES" })</h1></div>
				</div>
			</div>
		</div><!--Tittle Row-->
		@Html.Action("GetLunchProducts", "CustomHome")
	</div><!--Product Lunch Box -->

	<div class="ProductBox DrinkBox">
		<div class="row">
			<div class="ProductTitle Drink col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="under-Container">
		<div class="Titel"><h1>@Html.Action("GetCategoryPublicName", "CustomHome", new { categoryName = "DRANKEN" })</h1></div>
				</div>
			</div>
		</div><!--Tittle Row-->
		@Html.Action("GetDrinkProducts", "CustomHome")
	</div><!--Product Drink Box -->

</div><!--Home Page-->
<div class="emptySpace"></div>

<script>
	$('.nav-list1').on('click', 'li', function () {
		$('.nav-list1 li.active').removeClass('active');
		$(this).addClass('active');
	});
</script>