﻿@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//page class
	Html.AppendPageCssClassParts("html-home-page");
}

@Html.Widget("home_page_top")

<script>
	$(function () {
		//$("#tabs").tabs();

		$('#tab-1').click(function () {
			$('#tabs-1').show();
			$('#tabs-2').hide();
			$('#tabs-3').hide();
			$('#tabs-4').hide();
			$('#tabs-5').hide();
			$('#tabs-6').hide();
			$('#tabs-7').hide();
			$('#tabs-8').hide();
		});

		$('#tab-2').click(function () {
			$('#tabs-1').hide();
			$('#tabs-2').show();
			$('#tabs-3').hide();
			$('#tabs-4').hide();
			$('#tabs-5').hide();
			$('#tabs-6').hide();
			$('#tabs-7').hide();
			$('#tabs-8').hide();
		});

		$('#tab-3').click(function () {
			$('#tabs-1').hide();
			$('#tabs-2').hide();
			$('#tabs-3').show();
			$('#tabs-4').hide();
			$('#tabs-5').hide();
			$('#tabs-6').hide();
			$('#tabs-7').hide();
			$('#tabs-8').hide();
		});

		$('#tab-4').click(function () {
			$('#tabs-1').hide();
			$('#tabs-2').hide();
			$('#tabs-3').hide();
			$('#tabs-4').show();
			$('#tabs-5').hide();
			$('#tabs-6').hide();
			$('#tabs-7').hide();
			$('#tabs-8').hide();
		});

		$('#tab-5').click(function () {
			$('#tabs-1').hide();
			$('#tabs-2').hide();
			$('#tabs-3').hide();
			$('#tabs-4').hide();
			$('#tabs-5').show();
			$('#tabs-6').hide();
			$('#tabs-7').hide();
			$('#tabs-8').hide();
		});

		$('#tab-6').click(function () {
			$('#tabs-1').hide();
			$('#tabs-2').hide();
			$('#tabs-3').hide();
			$('#tabs-4').hide();
			$('#tabs-5').hide();
			$('#tabs-6').show();
			$('#tabs-7').hide();
			$('#tabs-8').hide();
		});

		$('#tab-7').click(function () {
			$('#tabs-1').hide();
			$('#tabs-2').hide();
			$('#tabs-3').hide();
			$('#tabs-4').hide();
			$('#tabs-5').hide();
			$('#tabs-6').hide();
			$('#tabs-7').show();
			$('#tabs-8').hide();
		});

		$('#tab-8').click(function () {
			$('#tabs-1').hide();
			$('#tabs-2').hide();
			$('#tabs-3').hide();
			$('#tabs-4').hide();
			$('#tabs-5').hide();
			$('#tabs-6').hide();
			$('#tabs-7').hide();
			$('#tabs-8').show();
		});
	});
	$(document).ready(function () {
		$('#tabs-1').show();
		$('#tabs-2').hide();
		$('#tabs-3').hide();
		$('#tabs-4').hide();
		$('#tabs-5').hide();
		$('#tabs-6').hide();
		$('#tabs-7').hide();
		$('#tabs-8').hide();
	});	 
</script>

<div class="Homepage">
	<div class="ProductBox breakfastBox">
		<div class="row">
			<div class="ProductTitle breakfast col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="Titel"><h1>GERECHTEN</h1></div>
			</div>
		</div><!--Tittle Row-->
		@*<div class="homeTab">
				<div id="tabs" class="row proHeading">
					<div class="SubCatDetail">
						<ul>
							<li class="subCatTab Title col-xs-12 col-sm-1 col-md-1 col-lg-1"><a href="#tabs-1" id="tab-1">BURGER</a></li>
							<li class="subCatTab Name col-xs-12 col-sm-2 col-md-2 col-lg-2"><a href="#tabs-2" id="tab-2">CROQUE MONSIEUR</a></li>
							<li class="subCatTab Name col-xs-12 col-sm-1 col-md-1 col-lg-1"><a href="#tabs-3" id="tab-3">PIZZA</a></li>
							<li class="subCatTab Title col-xs-12 col-sm-1 col-md-1 col-lg-1"><a href="#tabs-4" id="tab-4">PASTA</a></li>
							<li class="subCatTab Title col-xs-12 col-sm-1 col-md-1 col-lg-1"><a href="#tabs-5" id="tab-5">SALADE</a></li>
							<li class="subCatTab Title col-xs-12 col-sm-1 col-md-1 col-lg-1"><a href="#tabs-6" id="tab-6">WRAPS</a></li>
							<li class="subCatTab Title col-xs-12 col-sm-1 col-md-1 col-lg-1"><a href="#tabs-7" id="tab-7">HOT DOG</a></li>
							<li class="subCatTab Title col-xs-12 col-sm-1 col-md-1 col-lg-1"><a href="#tabs-8" id="tab-8">SOEP</a></li>
						</ul>
					</div>

					<div id="tabs-1">@Html.Action("GetBurgerProducts", "CustomCode")</div>
					<div id="tabs-2">@Html.Action("GetCroqueMonsieurProducts", "CustomCode")</div>
					<div id="tabs-3">@Html.Action("GetPizzaProducts", "CustomCode")</div>
					<div id="tabs-4">@Html.Action("GetPastaProducts", "CustomCode")</div>
					<div id="tabs-5">@Html.Action("GetSaladeProducts", "CustomCode")</div>
					<div id="tabs-6">@Html.Action("GetWrapsProducts", "CustomCode")</div>
					<div id="tabs-7">@Html.Action("GetHotDogProducts", "CustomCode")</div>
					<div id="tabs-8">@Html.Action("GetSoepProducts", "CustomCode")</div>

				</div>
			</div>*@


		
		<div class="SubCatDetail">
			<ul>
				<li class="subCatTab col-xs-10 col-sm-1 col-md-1 col-lg-1"><button id="tab-1">BURGER</button></li>
				<li class="subCatTab col-xs-10 col-sm-3 col-md-2 col-lg-2"><button id="tab-2">CROQUE MONSIEUR</button></li>
				<li class="subCatTab col-xs-10 col-sm-1 col-md-1 col-lg-1"><button id="tab-3">PIZZA</button></li>
				<li class="subCatTab col-xs-10 col-sm-1 col-md-1 col-lg-1"><button id="tab-4">PASTA</button></li>
				<li class="subCatTab col-xs-10 col-sm-1 col-md-1 col-lg-1"><button id="tab-5">SALADE</button></li>
				<li class="subCatTab col-xs-10 col-sm-1 col-md-1 col-lg-1"><button id="tab-6">WRAPS</button></li>
				<li class="subCatTab col-xs-10 col-sm-2 col-md-2 col-lg-2"><button id="tab-7">HOT DOG</button></li>
				<li class="subCatTab col-xs-10 col-sm-1 col-md-1 col-lg-1"><button id="tab-8">SOEP</button></li>
			</ul>

		</div>
		<div class="hometabsep"></div>

		<div id="tabs-1">@Html.Action("GetBurgerProducts", "CustomCode")</div>
		<div id="tabs-2">@Html.Action("GetCroqueMonsieurProducts", "CustomCode")</div>
		<div id="tabs-3">@Html.Action("GetPizzaProducts", "CustomCode")</div>
		<div id="tabs-4">@Html.Action("GetPastaProducts", "CustomCode")</div>
		<div id="tabs-5">@Html.Action("GetSaladeProducts", "CustomCode")</div>
		<div id="tabs-6">@Html.Action("GetWrapsProducts", "CustomCode")</div>
		<div id="tabs-7">@Html.Action("GetHotDogProducts", "CustomCode")</div>
		<div id="tabs-8">@Html.Action("GetSoepProducts", "CustomCode")</div>



		@*@Html.Action("GetDayOfferProducts", "CustomCode")*@
	</div>		 <!--Product Breakfast Box-->

	<div class="ProductBox LunchBox">
		<div class="row">
			<div class="ProductTitle lunch col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="container">
					@*<div class="Titel"><h1>LUNCH</h1></div>*@
					<div class="Titel"><h1>BROODJES</h1></div>
				</div>
			</div>
		</div><!--Tittle Row-->
		@Html.Action("GetLunchProducts", "CustomCode")
	</div><!--Product Lunch Box -->

	<div class="ProductBox DrinkBox">
		<div class="row">
			<div class="ProductTitle Drink col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="container">
					<div class="Titel"><h1>DRANKEN</h1></div>
				</div>
			</div>
		</div><!--Tittle Row-->
		@Html.Action("GetDrinkProducts", "CustomCode")
	</div><!--Product Drink Box -->

</div><!--Home Page-->
<div class="emptySpace"></div>
