﻿@model BlogPostModel
@using Nop.Web.Models.Blogs;
@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//title
	Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
	//meta
	Html.AddMetaDescriptionParts(Model.MetaDescription);
	Html.AddMetaKeywordParts(Model.MetaKeywords);
	//page class
	Html.AppendPageCssClassParts("html-blogpost-page");
}
@*@section left {
		 @Html.Widget("left_side_column_blog_before")
		 @Html.Action("BlogMonths", "Blog")
		 @Html.Widget("left_side_column_after_blog_archive")
		 @Html.Action("BlogTags", "Blog")
		 @Html.Widget("left_side_column_blog_after")
	}*@


<div class="BlogInside_page">
	<div class="ProductBox">
		@Html.Widget("blogpost_page_top", Model.Id) 
		
		<div class="row">
			<div class="ProductTitle NewsInside col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="under-Container">
					<div class="Titel"><h1>BLOG</h1></div>
				</div><!--under-Container-->
			</div><!--ProductTitle News-->
		</div><!--Tittle Row-->
										 
		
		<div class="row">
			<div class=" newsInsideContent under-Container">
				<div class="FullNews col-xs-12 col-sm-12 col-md-12 col-lg-12">
					@Html.Raw(Model.Body)
				</div><!--FullNews-->

				<div class="FullNews-OtherOption col-xs-12 col-sm-12 col-md-12 col-lg-12">


					<div class="FullNews-moreImgs col-xs-12 col-sm-6 col-md-6 col-lg-6">
						@*<ul>
							<li><a href="#"><img src="@Url.Content("~/Themes/OxTheme/Content/img/Capa_11.png")"></a></li>
							<li><a href="#"><img src="@Url.Content("~/Themes/OxTheme/Content/img/Capa_12.png")"></a></li>
						</ul>*@


					</div>


					@*<div class="FullNews-OtherNeed col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="row">
							<ul>
								<li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						<div class="row">
							<ul class="Need">
								<li>What's Next?</li>
								<li><span><span>MENUS OF THE WORLD</span></span><a href="#"><span class="ReadNow"></span></a></li>
							</ul>

						</div>
					</div>*@





				</div>



			</div><!--newsInsideContent-->
		</div>  
		@Html.Widget("blogpost_page_bottom", Model.Id)
	</div>
 </div>