﻿@model BlogPostListModel
@using Nop.Web.Models.Blogs;
@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//title
	Html.AddTitleParts(T("PageTitle.Blog").Text);
	//page class
	Html.AppendPageCssClassParts("html-blog-page");
	var counter = 0;
	var className = "newsContent";
}
@*@section left {
		 @Html.Widget("left_side_column_blog_before")
		 @Html.Action("BlogMonths", "Blog")
		 @Html.Widget("left_side_column_after_blog_archive")
		 @Html.Action("BlogTags", "Blog")
		 @Html.Widget("left_side_column_blog_after")
	}*@
<div class="Blogpage">
	<div class="ProductBox">
		<div class="row">
			<div class="ProductTitle News col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="under-Container">
					<div class="Titel"><h1>@T("Blog")</h1></div>
				</div><!--under-Container-->
			</div><!--ProductTitle News-->
		</div><!--Tittle Row-->
		@*<div class="page-title">
				<a href="@Url.RouteUrl("BlogRSS", new { languageId = Model.WorkingLanguageId })" class="link-rss" title="@T("Blog.RSS.Hint")">@T("Blog.RSS")</a>
				<h1>
					@if (String.IsNullOrEmpty(Model.PagingFilteringContext.Tag))
					{
						if (Model.PagingFilteringContext.GetParsedMonth().HasValue)
						{
							@String.Format(T("Blog.FilteredByMonth").Text, Model.PagingFilteringContext.GetParsedMonth().Value.Year, Model.PagingFilteringContext.GetParsedMonth().Value.ToString("MMMM"))
						}
						else
						{
							@T("Blog")
						}
					}
					else
					{
						@String.Format(T("Blog.TaggedWith").Text, Model.PagingFilteringContext.Tag)
					}
				</h1>
			</div>*@
		<div class="page-body">
			@Html.Widget("bloglist_page_before_posts")
			<div class="blog-posts">
				@foreach (var item in Model.BlogPosts)
				{
					counter++;
					if (counter == 1)
					{
						className = "newsContent";
					}
					else
					{
						className = "newsContent1";
					}
					@Html.Widget("bloglist_page_before_post", item.Id)


					<div class="row">
						<div class="products @className under-Container">
							<div class="Product top col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="ProductImg col-xs-12 col-sm-2 col-md-2 col-lg-2">
									<img alt="Product Image" src="@item.PictureModel.ImageUrl">
								</div><!--img-->
								<div class="ProductContent col-xs-12 col-sm-10 col-md-10 col-lg-10">
									<div class="ProductName col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12"><a href="@Url.RouteUrl("BlogPost", new {SeName = item.SeName})"><p>@item.Title</p></a></div>
									</div><!--ProductName-->
									<div class="ProductText col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<p>@Html.Raw(!String.IsNullOrEmpty(item.BodyOverview) ? item.BodyOverview : item.Body)</p>

									</div><!--ProductText-->
									<div class="ReadMore col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<span><a href="@Url.RouteUrl("BlogPost", new {SeName = item.SeName})"><button>READ MORE</button></a></span>
									</div><!--Read More-->
								</div><!--ProductContent-->
							</div><!--Product-->
						</div><!--Products-->
					</div>



					@*<div class="post">
							<div class="post-head">
								<a class="post-title" href="@Url.RouteUrl("BlogPost", new {SeName = item.SeName})">@item.Title</a>
								<span class="post-date">-@item.CreatedOn.ToString("D")</span>
							</div>
							@Html.Widget("bloglist_page_before_post_body", item.Id)
							<div class="post-body">
								@Html.Raw(!String.IsNullOrEmpty(item.BodyOverview) ? item.BodyOverview : item.Body)
							</div>
							@Html.Widget("bloglist_page_after_post_body", item.Id)
							<div class="blog-details">
								@if (item.Tags.Count > 0)
								{
									<div class="tags">
										<label>@T("Blog.Tags"):</label>
										<ul>
											@for (int i = 0; i < item.Tags.Count; i++)
											{
												var tag = item.Tags[i];
												<li><a href="@Url.RouteUrl("BlogByTag", new {tag = tag})">@tag</a></li>
												if (i != item.Tags.Count - 1)
												{
													<li class="separator">,</li>
												}
											}
										</ul>
									</div>
								}
								<div class="buttons">
									@if (item.AllowComments)
									{
										<a href="@Url.RouteUrl("BlogPost", new {SeName = item.SeName})#comments" class="read-comments">@string.Format(T("Blog.CommentsLink").Text, item.NumberOfComments)</a>
									}
									<a href="@Url.RouteUrl("BlogPost", new {SeName = item.SeName})" class="read-more">@T("Blog.MoreInfo")</a>
								</div>
							</div>
							@Html.Widget("bloglist_page_inside_post", item.Id)
						</div>*@
					@Html.Widget("bloglist_page_after_post", item.Id)
				}
			</div>
			@{
				var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
			}
			@if (!pager.IsEmpty())
			{
				<div class="pager">
					@pager
				</div>
			}
			@Html.Widget("bloglist_page_after_posts")
		</div>
	</div>
</div>
