﻿@{
    Layout = "";
}
@using Nop.Web.Framework
@model Nop.Plugin.Payments.Worldline.Models.ConfigurationModel
@Html.Action("StoreScopeConfiguration", "Setting", new {area = "Admin"})
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">@T("Nop.Plugin.Payments.Worldline.Configure.Notes")</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.UseSandbox)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.UseSandbox)
                        @Html.ValidationMessageFor(model => model.UseSandbox)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Account)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Account)
                        @Html.ValidationMessageFor(model => model.Account)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.KeyVersion)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.KeyVersion)
                        @Html.ValidationMessageFor(model => model.KeyVersion)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.SecretKey)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SecretKey)
                        @Html.ValidationMessageFor(model => model.SecretKey)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.InterfaceVersion)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.InterfaceVersion)
                        @Html.ValidationMessageFor(model => model.InterfaceVersion)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.TransactionReferencePrefix)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.TransactionReferencePrefix)
                        @Html.ValidationMessageFor(model => model.TransactionReferencePrefix)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.NormalReturnUrl)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.NormalReturnUrl)
                        @Html.ValidationMessageFor(model => model.NormalReturnUrl)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.NotificationUrl)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.NotificationUrl)
                        @Html.ValidationMessageFor(model => model.NotificationUrl)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.SealAlgorithm)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SealAlgorithm)
                        @Html.ValidationMessageFor(model => model.SealAlgorithm)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
}