﻿@{
    Layout = "";
}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <b>@T("Nop.Plugin.Payments.Worldline.PaymentInfo.RedirectionTip")</b>
        </td>
    </tr>
</table>