﻿@{
	Layout = "";
}
@model Nop.Plugin.Payments.Sips.Models.PaymentInfoModel

<script type="text/javascript">
	$(document).ready(function ()
	{
		$('#submit2').click();
	});
</script>

<form method="post" action="https://secure.paypage.be/ncol/test/orderstandard.asp" id="formKBC" name="formKBC">
	<!-- general parameters: see General Payment Parameters -->
	<input type="hidden" name="PSPID" value="@Model.PspId">
	<input type="hidden" name="ORDERID" value="@Model.OrderId">
	<input type="hidden" name="AMOUNT" value="@Model.Amount">
	<input type="hidden" name="CURRENCY" value="@Model.Currency">
	<input type="hidden" name="LANGUAGE" value="@Model.Language">
	<!-- optional customer details, highly recommended for fraud prevention: see General parameters and optional customer details -->	
	<input type="hidden" name="EMAIL" value="@Model.Email">	
	<!-- check before the payment: see SHA-IN signature -->
	<input type="hidden" name="SHASIGN" value="@Model.ShaSign">

	<input type="hidden" name="PM" value="">
	<input type="hidden" name="BRAND" value="">

	<!-- link to your website: see Default reaction -->
	<input type="hidden" name="HOMEURL" value="@Model.HomeUrl">
	<input type="hidden" name="CATALOGURL" value="@Model.CatalogUrl">

	<!-- post payment parameters: see Direct feedback requests (Post-payment) -->

	<!-- post payment redirection: see Redirection depending on the payment result -->
	<input type="hidden" name="ACCEPTURL" value="@Model.AcceptUrl">
	<input type="hidden" name="DECLINEURL" value="@Model.DeclineUrl">
	<input type="hidden" name="EXCEPTIONURL" value="@Model.ExceptionUrl">
	<input type="hidden" name="CANCELURL" value="@Model.CancelUrl">

	<!-- Alias details: see Alias Management documentation -->
	<input type="submit" value="Submit" id="submit2" name="SUBMIT2" style="display: none;">
</form>

