﻿@model PublicLoginModel
@using Nop.Plugin.PostXCustom.Models.Public.Customers;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI
@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//title
	Html.AddTitleParts(T("PageTitle.Login").Text);
	//page class
	Html.AppendPageCssClassParts("html-login-page");

	//register URL with return URL (if specified)
	var registerUrl = Url.RouteUrl("Register");
	if (!String.IsNullOrEmpty(this.Context.Request.QueryString["returnUrl"]))
	{
		var webHelper = EngineContext.Current.Resolve<IWebHelper>();
		registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl=" + HttpUtility.UrlEncode(this.Context.Request.QueryString["returnUrl"]), null);
	}
}
<div class="Login_Page">
	<div class="ProductBox">
		<div class="row">
			<div class="ProductTitle breakfast col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="Titel"><h1>@T("Account.Login.Welcome")</h1></div>
			</div>
		</div><!--Tittle Row-->
		<div class="row">
			<div class=" Login col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class=" col-xs-12 col-sm-2 col-md-3 col-lg-4"></div>

				<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
					<div class=" LoginContent">

						@using (Html.BeginForm())
						{
							var validationSummary = Html.ValidationSummary(true, T("Account.Login.Unsuccessful").Text);

							if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
							{
								<div class="message-error">@validationSummary</div>
							}

							<div class="Email">
								<span class="Name">@Html.DisplayNameFor(m => m.Username)</span><span class="text">@Html.TextBoxFor(m => m.Username, new { @class = "username", autofocus = "autofocus", placeholder = "USERNAME" })</span>
								@Html.ValidationMessageFor(m => m.Username)
							</div>
							<div class="Password">
								<span class="Name">@Html.DisplayNameFor(m => m.Password)</span><span class="text">@Html.PasswordFor(m => m.Password, new { @class = "password", placeholder = "PASSWORD" })</span>
								@Html.ValidationMessageFor(m => m.Password)
							</div>
							<div class="inputs reversed">
								@Html.CheckBoxFor(m => m.RememberMe)
								@Html.LabelFor(m => m.RememberMe)
								<span class="forgot-password">
									@Html.RouteLink(T("Account.Login.ForgotPassword").Text, "PasswordRecovery")
								</span>
							</div>

							<div class="LogButton">
								<input class="button-1 login-button" type="submit" value="@T(" account.login.loginbutton")" />
							</div>
							<div class="LogButton">
								<input type="button" class="button-1 register-button" onclick="location.href='@registerUrl'" value="@T(" account.register")" />
							</div>
						}

					</div>
				</div>

				<div class=" col-xs-12 col-sm-2 col-md-3 col-lg-4"></div>
			</div>
		</div>
	</div>
</div>