﻿@using Nop.Plugin.PostXCustom.Models.Public.Checkout
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@model CheckoutPaymentMethodModel

@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//title
	Html.AddTitleParts(T("PageTitle.Checkout").Text);
	//page class
	Html.AppendPageCssClassParts("html-checkout-page");
	Html.AppendPageCssClassParts("html-payment-method-page");
}
<div class="under-Container">
	<div class="Cart_Page">
		<div class="page checkout-page payment-method-page">
			@Html.Action("CheckoutProgress", "PublicCheckout", new { step = CheckoutProgressStep.Payment })
			<div class="page-title">
				<h1>@T("Checkout.SelectPaymentMethod")</h1>
			</div>
			<div class="page-body checkout-data">
				@Html.Widget("checkout_payment_method_top")
				<div class="section payment-method">
					@using (Html.BeginRouteForm("CheckoutPaymentMethod", FormMethod.Post))
					{
						if (Model.PaymentMethods.Count > 0)
						{
							<ul class="method-list" id="payment-method-block">
								@for (int i = 0; i < Model.PaymentMethods.Count; i++)
								{
									var paymentMethod = Model.PaymentMethods[i];
									var paymentMethodName = paymentMethod.Name;
									if (!String.IsNullOrEmpty(paymentMethod.Fee))
									{
										paymentMethodName = T("Checkout.SelectPaymentMethod.MethodAndFee", paymentMethodName, paymentMethod.Fee).Text;
									}
									<li>
										<div class="method-name">
											@if (!String.IsNullOrEmpty(paymentMethod.LogoUrl))
											{
												<div class="payment-logo">
													<label for="paymentmethod_@(i)">
														<img src="@paymentMethod.LogoUrl" alt="@paymentMethodName" />
													</label>
												</div>
											}
											<div class="payment-details">
												<input id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected" />
												<label for="paymentmethod_@(i)">@paymentMethodName</label>
												@if (!string.IsNullOrEmpty(paymentMethod.Description))
												{
													<div class="payment-description">@paymentMethod.Description</div>
												}
											</div>
										</div>
									</li>
								}
							</ul>
							<div class="buttons">
								<input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="button-1 payment-method-next-step-button" />
							</div>
						}
						else
						{
							<div class="message-error">
								@T("Checkout.NoPaymentMethods")
							</div>
						}
					}
				</div>
				@Html.Widget("checkout_payment_method_bottom")
				<div class="title">
					<strong>@T("Checkout.OrderSummary")</strong>
				</div>
				@Html.Action("OrderSummaryNonEdit", "ShoppingCart")
			</div>
		</div>																	
	</div>
</div>																			