﻿@model  Nop.Plugin.PostXCustom.Models.CommonModels.LoyaltyReportModelList
@using Nop.Web.Framework
@using Nop.Core.Infrastructure

@{
	var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
	var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

	//Customization SalesPerson
	//page title
	ViewBag.Title = "Loyalty Report";
	////active menu item (system name)	
	Layout = "~/admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="content-header clearfix">
		<h1 class="pull-left">
			@T("Admin.LSLoyaltyReport")
		</h1>
		<div class="pull-right">
			<div class="btn-group">
				@*<button type="submit" name="exportexcel-all" class="btn btn-success">
					<i class="fa fa-download"></i>
					@T("Admin.Common.ExportToExcel.All")
				</button>*@
			</div>
		</div>
	</div>

	<script>
			$(document).ready(function () {
				$("#OrderDate").kendoDatePicker({ format: "dd/MM/yyyy", dateInput: true });
				$("#FromDate").kendoDatePicker({ format: "dd/MM/yyyy", dateInput: true });
				$("#ToDate").kendoDatePicker({ format: "dd/MM/yyyy", dateInput: true });
			});
	</script>

	<div class="content">
		<div class="form-horizontal">
			<div class="panel-group">
				<div class="panel panel-default panel-search">
					<div class="panel-body">
						<label id="lblValMsg"></label>
						<div class="row">
							<div class="col-md-5">
								<div class="form-group">
									<div class="col-md-4">
										@Html.NopLabelFor(model => model.OrderDate)
									</div>
									<div class="col-md-8">
										@Html.TextBoxFor(model => model.OrderDate,"{0:dd/MM/yyyy}")
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-4">
										@Html.NopLabelFor(model => model.FromDate)
									</div>
									<div class="col-md-8">
										@*@Html.NopEditorFor(model => model.FromDate)*@
										@Html.TextBoxFor(model => model.FromDate, "{0:dd/MM/yyyy}")
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-4">
										@Html.NopLabelFor(model => model.ToDate)
									</div>
									<div class="col-md-8">
										@*@Html.NopEditorFor(model => model.ToDate)*@
										@Html.TextBoxFor(model => model.ToDate, "{0:dd/MM/yyyy}")
									</div>
								</div>

							</div>
							<div class="col-md-7">

								<div class="form-group">
									<div class="col-md-4">
										@Html.NopLabelFor(model => model.CustomerId)
									</div>
									<div class="col-md-8">
										@Html.NopEditorFor(model => model.CustomerId)
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-4">
										@Html.NopLabelFor(model => model.ReceiptId)
									</div>
									<div class="col-md-8">
										@Html.NopEditorFor(model => model.ReceiptId)
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="col-md-7 col-md-offset-5">
								<button type="button" id="search-customers" class="btn btn-primary btn-search">
									<i class="fa fa-search"></i>
									@T("Admin.Common.Search")
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-body">
						<div id="companyrepresentative-grid"></div>

						<script>
							$(document).ready(function() {
								$("#companyrepresentative-grid").kendoGrid({
									dataSource: {
										type: "json",
										transport: {
											read: {
												url: "@Html.Raw(Url.Action("GenerateLoyaltyReportList", "LoyaltyReport"))",
												type: "POST",
												dataType: "json",
												data: additionalData
											}
										},
										schema: {
											data: "Data",
											total: "Total",
											errors: "Errors"
										},
										error: function(e) {
											display_kendoui_grid_error(e);
											// Cancel the changes
											this.cancelChanges();
										},
										pageSize: @(defaultGridPageSize),
										serverPaging: true,
										serverFiltering: true,
										serverSorting: true
									},
									pageable: {
										refresh: true,
										numeric: false,
										previousNext: false,
										info: false,
										@Html.Partial("_GridPagerMessages")
									},
									scrollable: false,
									dataBound: onDataBound,
									columns: [
										 {
										 	field: "ReceiptId",
										 	title:"@T("Report.ReceiptId")",
										 	width: 30
										 },
										 {
										 	field: "LightSpeedCustomerId",
										 	width: 30,
										 	title: "@T("Report.LSCustomerId")"
										 },{
												field: "NopUsername",
										 	width: 30,
										 	title: "@T("Report.NopUsername")"
										 }
										 ,{
												field: "ReceiptCreateDate",
										 	width: 30,
										 	title: "@T("Report.ReceiptCreate")",
										 	type: "date",
										 	format: "{0:dd/MM/yyyy hh:mm tt}"
										 }
										 ,{
												field: "OrderTotal",
										 	title: "@T("Report.OrderTotal")",
										 	width: 30
										 }
										 ,{
												field: "OrderTotalCash",
										 	title: "@T("Report.OrderTotalCash")",
										 	width: 30
										 }
										 ,{
												field: "OrderTotalNonCash",
										 	title: "@T("Report.OrderTotalNonCash")",
										 	width: 30
										 }
										 ,{
												field: "LoyaltyPoints",
										 	title: "@T("Report.LoyaltyPoints")",
										 	width: 30
										 }
										 ,{
												field: "LoyaltyPercentage",
										 	title: "@T("Report.LoyaltyPercentage")",
										 	width: 30
										 }
										 ,{
												field: "VAT6OrderTotal",
										 	title: "@T("Report.VAT6OrderTotal")",
										 	width: 30
										 }
										 ,{
												field: "VAT6Total",
										 	title: "@T("Report.VAT6Total")",
										 	width: 30
										 }
										 ,{
												field: "VAT12OrderTotal",
										 	title: "@T("Report.VAT12OrderTotal")",
										 	width: 30
										 }
										 ,{
												field: "VAT12Total",
										 	title: "@T("Report.VAT12Total")",
										 	width: 30
										 }
										  ,{
												field: "VAT21OrderTotal",
										  	title: "@T("Report.VAT21OrderTotal")",
										  	width: 30
										  }
										  ,{
												field: "VAT21Total",
										  	title: "@T("Report.VAT21Total")",
										  	width: 30
										  }
										 ,{
												field: "VatRegime",
										 	title: "@T("Report.VatRegime")",
										 	width: 30
										 }

									]
								});
										 });
						</script>

						<script type="text/javascript">
							var selectedIds = [];

							$(document).ready(function() {
								//search button
								$('#search-customers').click(function() {
									if($('#@Html.FieldIdFor(model => model.OrderDate)').val()!='' && $('#@Html.FieldIdFor(model => model.FromDate)').val()!=''){
										$('#lblValMsg').html('You can use Order Date or Date Range i.e. From and To Date.');
										return false;
									}

									if($('#@Html.FieldIdFor(model => model.OrderDate)').val()!='' && $('#@Html.FieldIdFor(model => model.ToDate)').val()!=''){
										$('#lblValMsg').html('You can use Order Date or Date Range i.e. From and To Date.');
										return false;
									}
																																																	  
									if($('#@Html.FieldIdFor(model => model.OrderDate)').val()=='' && $('#@Html.FieldIdFor(model => model.FromDate)').val()!='' && $('#@Html.FieldIdFor(model => model.ToDate)').val()==''){
										$('#lblValMsg').html('Please enter both From and To Date.');
										return false;
									}

									if($('#@Html.FieldIdFor(model => model.OrderDate)').val()=='' && $('#@Html.FieldIdFor(model => model.FromDate)').val()=='' && $('#@Html.FieldIdFor(model => model.ToDate)').val()!=''){
										$('#lblValMsg').html('Please enter both From and To Date.');
										return false;
									}

									var grid = $('#companyrepresentative-grid').data('kendoGrid');
									grid.dataSource.page(1); //new search. Set page size to 1
									//grid.dataSource.read(); we already loaded the grid above using "page" function
									return false;
								});

								$("".concat("#@Html.FieldIdFor(model => model.OrderDate),",
									 "#@Html.FieldIdFor(model => model.FromDate),",
									 "#@Html.FieldIdFor(model => model.ToDate)","#@Html.FieldIdFor(model => model.CustomerId)"
									 ,"#@Html.FieldIdFor(model => model.ReceiptId)")).keydown(function(event) {
									 	if (event.keyCode === 13) {
									 		$("#search-customers").click();
									 		return false;
									 	}
									 });

							});

							function onDataBound(e) {

							}



							function additionalData() {
								var data = {
									OrderDate: $('#@Html.FieldIdFor(model => model.OrderDate)').val(),
									FromDate: $('#@Html.FieldIdFor(model => model.FromDate)').val(),
									ToDate: $('#@Html.FieldIdFor(model => model.ToDate)').val(),
									CustomerId: $('#@Html.FieldIdFor(model => model.CustomerId)').val(),
									ReceiptId: $('#@Html.FieldIdFor(model => model.ReceiptId)').val(),
								};
								addAntiForgeryToken(data);
								return data;
							}
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
}

