﻿@model NewsItemListModel
@using Nop.Web.Models.News;
@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//title
	Html.AddTitleParts(T("PageTitle.NewsArchive").Text);
	//page class
	Html.AppendPageCssClassParts("html-news-list-page");

	var counter = 0;
	var className = "newsContent";
}
<div class="Newspage">
	<div class="ProductBox">
		<div class="row">
			<div class="ProductTitle News col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="under-Container">
					<div class="Titel"><h1>@T("News")</h1></div>
				</div><!--under-Container-->
			</div><!--ProductTitle News-->
		</div><!--Tittle Row-->



		<div class="page-body">
			@Html.Widget("newslist_page_before_items")
			<div class="news-items">
										 
				@foreach (var item in Model.NewsItems)
				{
					counter++;
					if (counter == 1)
					{
						className = "newsContent";
					}
					else
					{
						className = "newsContent1";
					}

					<div class="row">
						@*<div class="products newsContent1 under-Container">*@
						<div class="products @className under-Container">
							<div class="Product top col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="ProductImg col-xs-12 col-sm-2 col-md-2 col-lg-2">
									<img alt="Product Image" src="@item.PictureModel.ImageUrl">
								</div><!--img-->
								<div class="ProductContent col-xs-12 col-sm-10 col-md-10 col-lg-10">
									<div class="ProductName col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12"><a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })"><p>@item.Title</p></a></div>
									</div><!--ProductName-->
									<div class="ProductText col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<p>@Html.Raw(item.Short)</p>
									</div><!--ProductText-->
									<div class="ReadMore col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<span><a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })"><button>@T("News.MoreInfo")</button></a></span>
									</div><!--Read More-->
								</div><!--ProductContent-->
								@Html.Widget("newslist_page_inside_item", item.Id)
							</div>
						</div>
					</div>
				}

			</div>
			@{
				var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
			}
			@if (!pager.IsEmpty())
			{
				<div class="pager">
					@pager
				</div>
			}
			@Html.Widget("newslist_page_after_items")
		</div>
	</div>
</div>
