﻿@model NewsItemModel
@using Nop.Web.Models.News;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-news-item-page");
}
<div class="NewsInside_page">
	<div class="ProductBox">		  
		<div class="row">
			<div class="ProductTitle NewsInside col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="under-Container">
					<div class="Titel"><h1>NEWS</h1></div>
				</div><!--under-Container-->
			</div><!--ProductTitle News-->
		</div><!--Tittle Row-->	  
		
		<div class="row">
			@Html.Widget("newsitem_page_before_body", Model.Id)
			<div class="newsInsideContent under-Container">	
				@Html.Raw(Model.Full)																													
			</div><!--newsInsideContent-->							
			@Html.Widget("newsitem_page_before_comments", Model.Id)
		</div>																	 

		@*<div class="page-title">
			<h1>@Model.Title</h1>
		</div>*@	  
	</div>
</div>
